<div nz-row [nzGutter]="[0, { xs: 10, sm: 10, md: 20, lg: 20, xl: 20 }]">
  <div nz-col nzSpan="24">
    <az-advertisement-list-header
      [(isInline)]="isInlineCard"
      (sortedByPriceDescandingChange)="sortByPriceDescanding($event)"
      (sortedByDateDescandingChange)="sortByDateDescanding($event)"
    ></az-advertisement-list-header>
  </div>

  <ng-container *ngIf="data">
    <az-card-list
      [data]="data.data"
      [isLoaded]="true"
      [isInlineCard]="isInlineCard"
    ></az-card-list>

    <div nz-col nzSpan="24">
      <az-pagination
        [pageSize]="pageSize"
        [total]="data.total"
        [pageIndex]="query.pageIndex"
        (pageIndexChange)="paginate($event)"
      ></az-pagination>
    </div>
  </ng-container>
</div>
