<div nz-row [nzGutter]="[0, { xs: 10, sm: 10, md: 20, lg: 20, xl: 20 }]">
  <div nz-col nzSpan="24">
    <az-advertisement-list-header
      [(isInline)]="isInlineCard"
      (sortedByPriceDescandingChange)="sortByPriceDescanding($event)"
      (sortedByDateDescandingChange)="sortByDateDescanding($event)"
    ></az-advertisement-list-header>
  </div>

  <az-grid
    [data]="data"
    [isLoaded]="isLoaded"
    [isInlineCard]="isInlineCard"
    [query]="query"
    [pageSize]="pageSize"
    (pageIndexChange)="paginate($event)"
  ></az-grid>
</div>
