<div class="container">
  <div class="banner">
    <div class="banner__text">
      <div nz-row>
        <div nz-col nzSpan="12">
          <h3>Присоединяйтесь к нам</h3>
          <p>
            Использование площадки — это экономия вашего времени, оптимизация
            затрат и повышение эффективности.
          </p>
          <button nz-button nzType="primary">Зарегистрироваться</button>
        </div>
        <div nz-col nzSpan="12"></div>
      </div>
    </div>
    <img
      class="banner__img"
      src="./assets/images/agrozamin/katalog_uchastnik_ad_banner.jpg"
      alt="advert-banner"
    />
  </div>
</div>
