<div class="container height overflow-auto">
  <div nz-row>
    <div nz-col nzSpan="24">
      <h2>
        {{
          (isAddMode ? "creatingAdvertisement" : "editingAdvertisment")
            | translate
        }}
      </h2>

      <ng-container [ngSwitch]="data?.announcement?.status">
        <ng-container *ngSwitchCase="STATUS.STATUS_CONFIRMED">
          <h3 class="confirmed">
            <i nz-icon nzType="check-circle" nzTheme="twotone"></i>
            {{ "confirmed" | translate }}
          </h3>
        </ng-container>
        <div *ngSwitchCase="STATUS.STATUS_REJECTED">
          <h3 class="rejected">
            <i nz-icon nzType="close-circle"></i>
            {{ "rejected" | translate }}
          </h3>
          <h4>
            {{ "rejectReason" | translate }}:
            {{ data?.announcement?.reject_reason }}
          </h4>
        </div>
        <div *ngSwitchDefault></div>
      </ng-container>
    </div>
    <nz-divider class="mt-0"></nz-divider>
    <div nz-col nzSpan="24" *ngIf="data || isAddMode">
      <form
        nz-form
        [formGroup]="form"
        *ngIf="form"
        (ngSubmit)="submitForm()"
        nzLayout="vertical"
      >
        <div class="inline-card">
          <div nz-row [nzGutter]="[0, 30]">
            <div nz-col nzSpan="24">
              <h3 class="add-title">
                {{ "ownerOfAdvertisement" | translate }}
              </h3>
            </div>
            <input
              placeholder="try to type login, firstname, lastname or phonenumber"
              nz-input
              nzSize="large"
              [(ngModel)]="userSearchText"
              (ngModelChange)="getUsersBySearchText($event)"
              [nzAutocomplete]="auto"
              [ngModelOptions]="{ standalone: true }"
              class="mb-1"
            />
            <nz-autocomplete #auto>
              <nz-auto-option
                *ngFor="let user of users"
                [nzLabel]="user.username"
                [nzValue]="user"
                (click)="changeSelectedUser(user)"
                >{{ user.username }}</nz-auto-option
              >
            </nz-autocomplete>
          </div>
        </div>

        <az-add-edit-advertisement-controls
          [data]="data"
          [isHiddenUserAgreement]="true"
          [isHiddenContactdata]="!!data"
          [form]="form"
          [region$]="region$"
          [referencesForCreate$]="referencesForCreate$"
          [district$]="district$"
          [categoryType$]="categoryType$"
          [filters]="filters"
          [uploadedFiles]="uploadedFiles"
          [categoryId]="categoryId"
          [currentCategory]="currentCategory"
          (changeCategoryId)="changeCategoryId($event)"
        ></az-add-edit-advertisement-controls>
      </form>

      <div *ngIf="isAddMode; else edit">
        <button
          nz-button
          nzSize="large"
          nzType="primary"
          (click)="submitAndConfirm()"
        >
          <i nz-icon nzType="plus"></i> {{ "add" | translate }}
        </button>
      </div>
      <ng-template #edit>
        <ng-container
          *ngIf="
            data?.announcement?.status !== STATUS.STATUS_CONFIRMED &&
            data?.announcement?.status !== STATUS.STATUS_REJECTED
          "
        >
          <button
            nz-button
            nzSize="large"
            nzType="primary"
            (click)="submitAndConfirm()"
          >
            <i nz-icon nzType="check"></i> {{ "confirm" | translate }}
          </button>
          <button
            class="ml-1"
            nz-button
            nzSize="large"
            nzType="primary"
            nzDanger
            (click)="openRejectReasonModal()"
          >
            <i nz-icon nzType="close"></i> {{ "reject" | translate }}
          </button>
        </ng-container>
      </ng-template>
    </div>
  </div>
</div>

<az-reject-reason-modal
  [(isVisible)]="isVisibleRejectReasonModal"
  (rejectReasonId)="reject(id!, $event)"
></az-reject-reason-modal>
