<div class="nav-margin">
  <az-banner></az-banner>
  <az-service></az-service>
  <az-credits></az-credits>
  <az-history></az-history>
  <az-news></az-news>
  <az-partners></az-partners>
  <!-- <az-category></az-category> -->
  <!-- <az-advertisement></az-advertisement> -->
  <!-- <az-catalog-members></az-catalog-members> -->
  <az-agrozamin-app></az-agrozamin-app>
</div>

<div nz-row>
  <div nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="0" nzXl="0" nzXXl="24">
    <nz-back-top
      [nzTemplate]="tpl"
      [nzVisibilityHeight]="100"
      (nzOnClick)="notify()"
    >
      <ng-template #tpl>
        <div class="ant-back-top-inner">
          <button class="back-to-top" type="button">
            <img src="./assets/images/agrozamin/icon-back-to-top.svg" alt="" />
            <span>Наверх</span>
          </button>
        </div>
      </ng-template>
    </nz-back-top>
  </div>
</div>
