<!-- USER NAME -->
<nz-modal
  [(nzVisible)]="isVisible"
  (nzOnCancel)="handleCancel()"
>
  <form nz-form nzLayout="vertical" [formGroup]="validateForm">
    <div *nzModalTitle>
      <h4 nz-typography>Изменить имя</h4>
    </div>
    <ng-container *nzModalContent>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="firstName"
          ><span class="font-agro-medium">Имя</span></nz-form-label
        >
        <nz-form-control
          [nzSpan]="24"
          nzErrorTip="Поле обязательно для заполнения"
        >
          <input
            nz-input
            type="text"
            id="firstName"
            formControlName="firstName"
            nzSize="large"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="lastName"
          ><span class="font-agro-medium">Фамилия</span></nz-form-label
        >
        <nz-form-control
          [nzSpan]="24"
          nzErrorTip="Поле обязательно для заполнения"
        >
          <input
            nz-input
            type="text"
            id="lastName"
            formControlName="lastName"
            nzSize="large"
          />
        </nz-form-control>
      </nz-form-item>
    </ng-container>
    <div *nzModalFooter nz-row nzGutter="10">
      <div nz-col nzSpan="12">
        <button
          class="font-agro-medium"
          nzBlock
          nz-button
          nzType="default"
          nzShape="round"
          (click)="handleCancel()"
        >
          Отмена
        </button>
      </div>
      <div nz-col nzSpan="12">
        <button
          class="font-agro-medium"
          nzBlock
          nz-button
          nzType="primary"
          nzShape="round"
          (click)="submitForm()"
          [nzLoading]="isConfirmLoading"
        >
          Сохранить
        </button>
      </div>
    </div>
  </form>
</nz-modal>
