<div  nz-row style="height:100%">
    <div nz-col nzFlex="auto"></div>

        <div nz-col nzFlex="300px" >
          <div nz-row nzJustify="space-around" nzAlign="middle" style="height:100%">
            <div nz-col nzSpan="24" >
                <h1>Вход</h1>
                <nz-divider style="margin-top: -10px; margin-bottom: 0;"></nz-divider>
                <p style="height: 22px; color: rgb(233, 128, 128);">{{error? "wrong login or opassword" : ""}}</p>
               <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
                   <nz-form-item>
                     <nz-form-control nzErrorTip="Please input your username!">
                       <nz-input-group nzPrefixIcon="user">
                         <input type="text" nz-input formControlName="userName" placeholder="Введите почту или номер телефона" />
                       </nz-input-group>
                     </nz-form-control>
                   </nz-form-item>
                   <nz-form-item>
                     <nz-form-control nzErrorTip="Please input your Password!">
                       <nz-input-group nzPrefixIcon="lock">
                         <input type="password" nz-input formControlName="password" placeholder="Пароль" />
                       </nz-input-group>
                     </nz-form-control>
                   </nz-form-item>
                   <div nz-row class="login-form-margin">
                     <div nz-col [nzSpan]="12">
                       <label nz-checkbox formControlName="remember">
                         <span>Запомните меня</span>
                       </label>
                     </div>                  
                   </div>
                   <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Войти</button>
                 </form>
            </div>
          </div>        
        </div>

        <div nz-col nzFlex="auto"></div>
  </div>

