<div [ngSwitch]="currentStep" class="h-100">
  <!-- LOGIN -->
  <recover-login
    *ngSwitchCase="forgotPasswordStep.Login"
    (changeStep)="changeStepFromRecoverLogin($event)"
  ></recover-login>

  <!-- LOGIN CONTACT OPTIONS -->
  <recover-login-options
    [data]="loginOptionsData"
    *ngSwitchCase="forgotPasswordStep.LoginContactOptions"
    (changeStep)="changeStepFromLoginOptions($event)"
  ></recover-login-options>

  <!-- CONFIRMATION -->
  <az-confirmation
    [data]="confirmationConfig"
    (changeStep)="goToStep($event)"
    *ngSwitchCase="forgotPasswordStep.Confirmation"
  ></az-confirmation>

  <!-- NEW PASSWORD -->
  <create-new-password
  [login]="loginOptionsData.login"
    *ngSwitchCase="forgotPasswordStep.NewPassword"
  ></create-new-password>
</div>
