<div class="agrozaminApp">
  <div class="container">
    <div nz-row class="agrozaminAppRow">
      <div nz-col nzSpan="12">
        <div nz-row>
          <div nz-col class="agrozaminAppTitle">
            <h3 style="color: #fff;">Скачай уникальное мобильное приложение AgroZamin</h3>
          </div>

          <div class="agrozaminAppText" nzAlign="middle" nz-row [nzGutter]='[24, 32]'>
           
              <div  nz-col nzSpan="3">
                <img src="../../../../../assets/images/agrozamin/agrozaminAppIcon1.png" alt="">
              </div >
              <div class="text" nz-col nzSpan="21">
                <p>Самый большой каталог <br>
                  поставщиков продукции и услуг</p>
              </div>
            
           
            <div nz-col nzSpan="3">
              <img src="../../../../../assets/images/agrozamin/agrozaminAppIcon2.png" alt="">
            </div >
            <div class="text" nz-col nzSpan="21">
              <p>Незаменимый помощник <br>
                и удобные сервисы в одном месте</p>
            </div>
         

      
            <div nz-col nzSpan="3">
              <img src="../../../../../assets/images/agrozamin/agrozaminAppIcon3.png" alt="">
            </div >
            <div class="text" nz-col nzSpan="21">
              <p>Дополнительные финансовые  <br>
                возможности напрямую от Агробанка </p>
            </div>
          
              <div class="appLogo"  nz-col nzSpan="6">
                <img src="../../../../../assets/images/agrozamin/Mobile app store badge (1).svg" alt="">
              </div >
              <div class="appLogo" nz-col nzSpan="18">
                <img src="../../../../../assets/images/agrozamin/Mobile app store badge.svg" alt="">
              </div>
          
          </div>
         
        </div>
       
      </div>

      <div nz-col nzSpan="12">
        <div>
          <img class="appMobileImg" src="../../../../../assets/images/agrozamin/Apple-iPhone-12 1.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
