<div class="single-category">
  <div nz-row [nzGutter]="[0, 27]">
    <div nz-col nzSpan="24">
      <a class="single-category__link" (click)="back()">
        <i nz-icon nzType="left" nzTheme="outline"></i>
        <img src="../../../../../../assets/images/agrozamin/tractor.svg" alt="icon">
        <span>Сельхозтехника</span>
      </a>
    </div>
    <div nz-col nzSpan="24">
      <ul nz-row [nzGutter]="[0, 16]">
        <li nz-col nzSpan="24" *ngFor="let cat of categories; let isFirst = first">
          <a class="single-category__sublink" [ngClass]="id === cat.id ? 'active' : ''" (click)="handleCategory(cat.id)">{{cat.cat}} <span>{{cat.count}}</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>