<div class="container">
  <div nz-row class="partnerInfo">
    <div nz-col nzXs="8" nzSm="8" nzMd="7" nzLg="5" nzXl="4">
      <div class="partnerInfo__img">
        <img [src]="sellerDetails.user.photo | noImage" alt="" />
      </div>
    </div>
    <div nz-col nzXs="16" nzSm="16" nzMd="17" nzLg="19" nzXl="20">
      <div nz-row>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
          <h3>{{ sellerDetails.user.full_name }}</h3>
        </div>
        <div
          class="partnerInfo__status"
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="24"
          nzLg="24"
          nzXl="24"
        >
          <div nz-row [nzGutter]="[20, 0]">
            <div nz-col>
              <p>{{ sellerDetails.user.created_at | activeFrom }}</p>
            </div>
            <div nz-col>
              <span
                [ngClass]="sellerDetails.user.online ? 'green' : 'grey'"
              ></span
              ><span>{{
                (sellerDetails.user.online ? "nowOnline" : "notOnline")
                  | translate
              }}</span>
            </div>
          </div>
        </div>

        <div
          class="partnerInfo__info"
          nz-col
          nzXs="0"
          nzSm="24"
          nzMd="24"
          nzLg="24"
          nzXl="24"
        >
          <div nz-row [nzGutter]="[8, 0]">
            <div nz-col *ngFor="let category of sellerDetails.categories">
              <az-tag
                [title]="category.name"
                [category_id]="category.id"
                [larger]="true"
              ></az-tag>
            </div>
          </div>
        </div>

        <div
          class="partnerInfo__favorites"
          nz-col
          nzXs="0"
          nzSm="0"
          nzMd="0"
          nzLg="14"
          nzXl="14"
        >
          <az-favorite-share-complaint
            [isFavorite]="sellerDetails.user.favorite"
            (isFavoriteChange)="toggleFavourite(sellerDetails.user)"
          ></az-favorite-share-complaint>
        </div>
      </div>
    </div>

    <div
      class="partnerInfo__info"
      nz-col
      nzXs="24"
      nzSm="0"
      nzMd="0"
      nzLg="0"
      nzXl="0"
    >
      <div nz-row [nzGutter]="[8, 8]">
        <div nz-col *ngFor="let category of sellerDetails.categories">
          <az-tag [title]="category.name" [category_id]="category.id"></az-tag>
        </div>
      </div>
    </div>

    <div
      class="partnerInfo__favorites2"
      nz-col
      nzXs="24"
      nzSm="24"
      nzMd="18"
      nzLg="0"
      nzXl="0"
    >
      <az-favorite-share-complaint
        [isFavorite]="sellerDetails.user.favorite"
        (isFavoriteChange)="toggleFavourite(sellerDetails.user)"
      ></az-favorite-share-complaint>
    </div>
  </div>
</div>
