<div class="history">
  <div class="container">
    <div nz-row [nzGutter]="[0, {xl: 50, sm: 30, xs: 20}]">
      <div nz-col nzSpan="24">
        <h3 nz-typography class="history-title">История</h3>
      </div>
      <div
        nz-col
        nzXs="0"
        nzSm="0"
        nzMd="0"
        nzLg="0"
        nzXl="24"
        class="history__carousel"
      >
        <button
          nzSize="large"
          nz-button
          nzType="default"
          nzShape="circle"
          class="prev"
          (click)="pre(carusel)"
        >
          <i nz-icon nzType="left" nzTheme="outline"></i>
        </button>
        <nz-carousel
          [nzEffect]="effect"
          class="carousel"
          #carusel
          [nzDots]="false"
        >
          <div nz-carousel-content *ngFor="let card of history">
            <div nz-row [nzGutter]="[30, 0]">
              <div nz-col *ngFor="let info of card.cards">
                <img
                  width="190"
                  height="338"
                  class="carousel__img"
                  [src]="info"
                  alt="history"
                />
              </div>
            </div>
          </div>
        </nz-carousel>
        <button
          nzSize="large"
          nz-button
          nzType="default"
          nzShape="circle"
          class="next"
          (click)="next(carusel)"
        >
          <i nz-icon nzType="right" nzTheme="outline"></i>
        </button>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="0">
        <div class="history__scroll">
          <!-- SCROLL -->
          <div class="history__scroll__card" *ngFor="let info of historyScroll">
            <img class="carousel__img" [src]="info" alt="history" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
