<div class="h-100 d-flex flex-column justify-content-center">
  <div nz-row>
    <div nz-col nzXs="22" nzSm="20" nzMd="20" nzLg="16" nzXl="16">
      <!-- TITLE -->
      <h2 nz-typography class="title">{{ "findPassword" | translate }}</h2>

      <nz-divider class="mt-10p mb-4p"></nz-divider>

      <!-- FORM -->
      <form
        nz-form
        [formGroup]="form"
        nzLayout="vertical"
        class="login-form"
        (ngSubmit)="submit()"
      >
        <!-- ERRORS FROM SERVER -->
        <div class="mb-1">
          <error-from-server
            *ngIf="errorMessageFromServer"
            [error]="errorMessageFromServer"
          ></error-from-server>
        </div>

        <!-- PASSWORD -->
        <nz-form-item>
          <nz-form-label class="font-agro-medium">{{
            "fillPassword" | translate
          }}</nz-form-label>
          <nz-form-control nzDisableAutoTips [nzErrorTip]="errorPassword">
            <nz-input-group [nzSuffix]="eye" nzSize="large">
              <input
                #password
                class="form__inputGroup"
                nz-input
                type="password"
                formControlName="password"
              />
              <ng-template #eye>
                <az-password-show-hide
                  [password]="password"
                ></az-password-show-hide>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
          <ng-template #errorPassword let-control>
            <error
              *ngIf="control.hasError('required'); else error"
              [message]="'errorTipToCreatePassword' | translate"
            ></error>
            <ng-template #error>
              <error [control]="control"></error>
            </ng-template>
          </ng-template>
        </nz-form-item>

        <!-- CONFIRMATION PASSWORD -->
        <nz-form-item>
          <!-- LABEL -->
          <nz-form-label class="font-agro-medium">{{
            "repeatPassword" | translate
          }}</nz-form-label>

          <!-- FORM CONTROL -->
          <nz-form-control
            nzDisableAutoTips
            [nzErrorTip]="errorConfirmationPassword"
          >
            <!-- INPUT GROUP -->
            <nz-input-group [nzSuffix]="eyeConfirmationPassword" nzSize="large">
              <!-- INPUT -->
              <input
                #confirmationPassword
                nz-input
                type="password"
                formControlName="confirmationPassword"
              />

              <!-- EYE -->
              <ng-template #eyeConfirmationPassword>
                <az-password-show-hide
                  #eyeConfirmationPassword
                  [password]="confirmationPassword"
                ></az-password-show-hide>
              </ng-template>
            </nz-input-group>
          </nz-form-control>

          <!-- ERRORS -->
          <ng-template #errorConfirmationPassword let-control>
            <error
              *ngIf="control.hasError('required'); else error"
              [message]="'confirmPassword' | translate"
            ></error>
            <ng-template #error>
              <error [control]="control"></error>
            </ng-template>
          </ng-template>
        </nz-form-item>

        <!-- GO BUTTON -->
        <div class="mt-2" [ngClass]="{ 'not-allowed': $isWaitingResponse | async }">
          <button
            nz-button
            class="login-form-button login-form-margin font-agro-medium"
            nzBlock
            nzShape="round"
            [nzType]="'primary'"
            [nzLoading]="$isWaitingResponse | async"
          >
            {{ "go" | translate }}
          </button>
        </div>
      </form>
    </div>
    <div nz-col nzXs="1" nzSm="2" nzMd="2" nzLg="4" nzXl="4"></div>
    <div nz-col nzXs="1" nzSm="2" nzMd="2" nzLg="4" nzXl="4"></div>
  </div>
</div>
