<div class="wrapper">
  <div class="find-consultant">
    <div nz-row [nzGutter]="[0, 40]">
      <div nz-col nzSpan="24">
        <div class="container">
          <div class="breadcrumb">
            <nz-breadcrumb nzSeparator=">">
              <nz-breadcrumb-item>Home</nz-breadcrumb-item>
              <nz-breadcrumb-item>
                <a>Application List</a>
              </nz-breadcrumb-item>
              <nz-breadcrumb-item>An Application</nz-breadcrumb-item>
            </nz-breadcrumb>
          </div>          
        </div>
      </div>
      <div nz-col nzSpan="24">
        <div nz-row>
          <!-- Description -->
          <div nz-col nzSpan="24">
            <div class="container">
              <div nz-row class="find-consultant__description">
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                  <h4 class="find-consultant__title">Выберите консультанта</h4>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                  <h4 class="find-consultant__subtitle">
                    Гарантия профессиональной помощи в любых ситуациях
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <!-- Consultant filter -->
          <div nz-col nzSpan="24">
            <div class="find-consultant__filter">
              <div class="container">
                <div nz-row [nzGutter]="[0, {xs: 20, sm: 24}]">
                  <div nz-col nzSpan="24">
                    <h3 class="find-consultant__filter__title">Расширенный поиск по специалистам</h3>
                  </div>
                  <div nz-col nzSpan="24">
                    <div nz-row [nzGutter]="[0, 32]">
                      <div nz-col nzSpan="24">

                        <form nz-form [formGroup]="filterConsultant" (ngSubmit)="submitForm()">

                          <div nz-row [nzGutter]="[13, 0]">
                            <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="8" nzXl="8">
                              <nz-form-item>
                                <nz-form-control [nzSpan]="24">
                                  <nz-select nzShowSearch nzAllowClear formControlName="category" nzPlaceHolder="Направление" [(ngModel)]="selectedValue" 
                                  (ngModelChange)="onChange($event)"
                                  nzSize="large">
                                    <nz-option nzLabel="Сельское хозяйтсво" nzValue="1"></nz-option>
                                    <nz-option nzLabel="Ветеринария" nzValue="2"></nz-option>
                                    <nz-option nzLabel="Геологий" nzValue="3"></nz-option>
                                  </nz-select>
                                </nz-form-control>
                              </nz-form-item >
                            </div>
                            <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="8" nzXl="8">
                              <nz-form-item>
                                <nz-form-control [nzSpan]="24">
                                  <nz-range-picker [(ngModel)]="date" formControlName="date" (ngModelChange)="onChange($event)" nzSize="large" style="width: 100%"></nz-range-picker>
                                </nz-form-control>
                              </nz-form-item >
                            </div>
                            <div nz-col nzXs="24" nzSm="12" nzMd="4" nzLg="4" nzXl="4">
                              <nz-form-item>
                                <nz-form-control [nzSpan]="24">
                                  <input nz-input type="text" nzSize="large" formControlName="minPrice" placeholder="Цена от">
                                </nz-form-control>
                              </nz-form-item >
                            </div>
                            <div nz-col nzXs="24" nzSm="12" nzMd="4" nzLg="4" nzXl="4">
                              <nz-form-item>
                                <nz-form-control [nzSpan]="24">
                                  <input nz-input type="text" nzSize="large" formControlName="maxPrice" placeholder="Цена до">
                                </nz-form-control>
                              </nz-form-item >
                            </div>
                          </div>
                        </form>

                      </div>
                      <div nz-col nzSpan="24" *ngIf="visibleCategory">
                        <div nz-row>
                          <div nz-col nzSpan="24">
                            <h4 class="find-consultant__filter__subtitle">Выберете направление</h4>
                          </div>

                          <div nz-col nzSpan="24">

                            <div nz-row nzAlign="middle">
                              <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6" nzXl="6" *ngFor="let category of categories">
                                <label class="find-consultant__filter__category__item">
                                  <img [src]="category.img" alt="icon">
                                  <span class="find-consultant__filter__category__item__text">{{category.text}}</span>
                                  <input type="checkbox" class="checkbox-input" [checked]="category.active">
                                  <span class="checkbox">
                                    <svg width="15" height="15" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M6.99648 0.555111C3.27817 1.05527 0.5 4.23586 0.5 7.99762C0.5 12.1539 3.84507 15.5 8 15.5C12.1549 15.5 15.5 12.1539 15.5 7.99762C15.5 4.20768 12.7113 1.03766 8.94014 0.548066C8.42606 0.481143 7.51761 0.484666 6.99648 0.555111ZM11.9401 4.76067C12.4472 5.01427 12.6514 5.64123 12.3908 6.14844C12.2606 6.40556 7.48592 11.1676 7.26056 11.2698C7.14789 11.3226 7.02817 11.3437 6.83803 11.3437C6.3662 11.3437 6.35915 11.3367 4.91549 9.88906C3.73592 8.70559 3.63732 8.59992 3.5669 8.40972C3.47887 8.16316 3.47183 7.92717 3.55282 7.67709C3.63732 7.41292 3.92958 7.11705 4.19366 7.029C4.44014 6.94799 4.78521 6.96912 5.00704 7.08183C5.10915 7.13114 5.44366 7.43758 5.94014 7.93069C6.65141 8.63514 6.72887 8.70207 6.83803 8.70207C6.9507 8.70207 7.08803 8.57174 8.91549 6.75074C10.4014 5.26435 10.9085 4.77828 11.0282 4.72545C11.1408 4.67262 11.2606 4.65148 11.4542 4.65148C11.6831 4.65148 11.7535 4.66557 11.9401 4.76067Z" fill="url(#paint0_linear_3228_64768)"/>
                                      <defs>
                                      <linearGradient id="paint0_linear_3228_64768" x1="0.5" y1="8" x2="15.5" y2="8" gradientUnits="userSpaceOnUse">
                                      <stop stop-color="#396AFC"/>
                                      <stop offset="1" stop-color="#2948FF"/>
                                      </linearGradient>
                                        </defs>
                                      </svg>
                                  </span>
                                </label>
                              </div>
                              <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="6" nzXl="6">
                                  <a nz-button nzType="link" class="more__category"><i nz-icon nzType="ellipsis" nzTheme="outline"></i>Еще направления</a>
                              </div>
                            </div>

                          </div>

                        </div>
                      </div>
                      <div nz-col nzSpan="24">
                        <div nz-row [nzGutter]="[10, {xs: 10, sm: 0}]">
                          <div nz-col>
                            <button nz-button nzType="primary" nzSize="large" class="find-consultant__filter__btn" (click)="submitForm()">Показать 128 специалистов</button>
                          </div>
                          <div nz-col>
                            <button nz-button nzType="primary" nzSize="large" class="find-consultant__filter__btn" (click)="submitForm()">Показать всех специалистов</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Consultant cards -->
          <div nz-col nzSpan="24">
            <div class="container">
              <div class="find-consultant__cards">

                <div nz-row [nzGutter]="[0, 64]">
                  <div nz-col nzSpan="24">
                    <div nz-row>
                      <!-- card desktop -->
                      <div nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="0" nzXl="24">
                        <div nz-row [nzGutter]="[20, 20]" nzJustify="center">
                          <div nz-col nzFlex="262px" *ngFor="let card of consultants">
                            <div class="card" routerLink="../consultant-page">
                              <div class="card__img">
                                <img [src]="card.img" alt="card_img">
                              </div>
                              <div nz-row class="card__info">
                                <div nz-col nzSpan="24" class="">
                                  <div class="card__info__rate">
                                    <img src="./assets/images/star.svg" alt="rate">
                                    <span class="card__info__rate-text">{{card.rating}}</span>
                                  </div>
                                </div>
                                <div nz-col nzSpan="24">
                                  <div class="card__info_mod">
                                    <div class="card__info__block">
                                      <div nz-row>
                                        <div nz-col nzSpan="24">
                                          <h5 class="card__info__block__title">{{card.name}}</h5>
                                        </div>
                                        <div nz-col nzSpan="24">
                                          <span class="card__info__block__specialization">{{card.specialization}}</span>
                                        </div>
                                        <div nz-col nzSpan="24">
                                          <span class="card__info__block__text">Стоимость консультации</span>
                                        </div>
                                        <div nz-col nzSpan="24">
                                          <span class="card__info__block__price">{{card.price}} сум</span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- card responsive -->
                      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="0">
                        <div nz-row [nzGutter]="[20, 20]">
                          <div nz-col nzXs="12" nzSm="8" nzMd="8" nzLg="6" nzXl="0" *ngFor="let card of consultants">
                            <div class="card" routerLink="../consultant-page">
                              <div class="card__img">
                                <img [src]="card.img" alt="card_img">
                              </div>
                              <div nz-row class="card__info">
                                <div nz-col nzSpan="24" class="">
                                  <div class="card__info__rate">
                                    <img src="./assets/images/star.svg" alt="rate">
                                    <span class="card__info__rate-text">{{card.rating}}</span>
                                  </div>
                                </div>
                                <div nz-col nzSpan="24">
                                  <div class="card__info_mod">
                                    <div class="card__info__block">
                                      <div nz-row>
                                        <div nz-col nzSpan="24">
                                          <h5 class="card__info__block__title">{{card.name}}</h5>
                                        </div>
                                        <div nz-col nzSpan="24">
                                          <span class="card__info__block__specialization">{{card.specialization}}</span>
                                        </div>
                                        <div nz-col nzXs="0" nzSm="24">
                                          <span class="card__info__block__text">Стоимость консультации</span>
                                        </div>
                                        <div nz-col nzSpan="24">
                                          <span class="card__info__block__price">{{card.price}} сум</span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>                   
                    
                  </div>
                  <div nz-col nzSpan="24">

                    <!-- Pagination BTN -->
                    <div nz-row nzJustify="center">
                      <div nz-col>
                        <button nz-button nzType="default" nzSize="large" class="find-consultant__pagination">Показать еще</button>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
