<div class="container">
  <h3 class="title">Каталог участников</h3>

  <div nz-row [nzGutter]="[30, 0]">
    <div nz-col>
      <div class="categoriyUchastnik">
        <h4>Категория участников</h4>

        <div
          nz-row
          [nzGutter]="[10, 10]"
          style="padding-top: 24px; padding-left: 42px"
        >
          <div nz-col *ngFor="let kard of array">
            <a nz-button nzType="link" style="font-size: 16px">
              {{ kard.title }}
              <span
                style="margin-left: 10px; color: #86898c; font-size: 16px"
                >{{ kard.sum }}</span
              ></a
            >
          </div>
        </div>
      </div>
    </div>
    <div nz-col>
      <div class="region">
        <h4>Регион</h4>

        <form nz-form>
          <nz-form-item>
            <nz-form-control [nzSpan]="24">
              <div class="regionSearch">
                <nz-input-group
                  nzSize="default"
                  nzSearch
                  [nzAddOnAfter]="suffixIconButton"
                >
                  <input type="text" nz-input placeholder="Поиск по названию" />
                </nz-input-group>
                <ng-template #suffixIconButton>
                  <button nz-button nzSearch>
                    <i nz-icon nzType="search"></i>
                  </button>
                </ng-template>
              </div>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control class="allRegions">

              <nz-checkbox-wrapper>
                <div nz-row [nzGutter]="[0,16]"  class="checkRegion">
                  <div
                   nzSpan="24"
                    *ngFor="let region of regions"
                    nz-col
                  >
                    <label nz-checkbox [(ngModel)]="checked">
                      {{ region.title }}
                    </label>
                  </div>
                </div>
              </nz-checkbox-wrapper>

            </nz-form-control>
          </nz-form-item>
        </form>
       
      </div>
    </div>
  </div>
</div>
