<!-- HEADER -->
<az-header-with-divider-advanced
  [config]="{
    title: 'filters' | translate,
    searchInputAdvancedConfig: searchInputConfig
  }"
  (clickedAddEditButton)="addEdit()"
>
</az-header-with-divider-advanced>

<!-- BODY -->
<az-grid
  [data]="searchInputConfig.filteredData"
  [columns]="columns"
  [columnTemplate]="template"
  [nzWidthConfig]="nzWidthConfig"
  (deleted)="delete($event)"
  (addEdited)="addEdit($event)"
>
  <ng-template #template let-column let-data="data">
    <ng-container *ngIf="column.field === 'type_for_filter'">{{
      InputTypeForFilter[data.type_for_filter]
    }}</ng-container>

    <ng-container *ngIf="column.field === 'type_for_creator'">{{
      InputTypeForCreator[data.type_for_creator]
    }}</ng-container>
  </ng-template>
</az-grid>

<!-- ADD EDIT MODAL -->
<az-add-edit-filter
  [(isVisible)]="isVisible"
  [editingData]="editingData"
  (modified)="modified()"
></az-add-edit-filter>
