<div nz-row style="padding-top: 8vw">
  <div
    nz-col
    nzXs="22"
    nzSm="20"
    nzMd="20"
    nzLg="16"
    nzXl="16"
    class="height-100"
  >
    <!-- CREATE NEW PASSWORD -->
    <h2 nz-typography class="title">{{ "createNewPassword" | translate }}</h2>

    <nz-divider class="divider-custom-top divider-custom-bottom"></nz-divider>

    <!-- FORM -->
    <form
      nz-form
      [formGroup]="form"
      nzLayout="vertical"
      class="login-form"
      (ngSubmit)="submit()"
    >
      <!-- PASSWORD -->
      <nz-form-item>
        <nz-form-label class="font-agro-medium">{{
          "fillNewPassword" | translate
        }}</nz-form-label>
        <nz-form-control
          nzDisableAutoTips
          nzHasFeedback
          [nzErrorTip]="errorPassword"
        >
          <input
            class="form__inputGroup"
            nz-input
            type="password"
            formControlName="password"
            nzSize="large"
          />
        </nz-form-control>
        <ng-template #errorPassword let-control>
          <error
            *ngIf="control.hasError('required'); else error"
            [message]="'errorTipToCreatePassword' | translate"
          ></error>
          <ng-template #error>
            <error [control]="control"></error>
          </ng-template>
        </ng-template>
      </nz-form-item>

      <!-- CONFIRMATION PASSWORD -->
      <nz-form-item>
        <nz-form-label class="font-agro-medium">{{
          "confirmNewPassword" | translate
        }}</nz-form-label>
        <nz-form-control
          nzDisableAutoTips
          nzHasFeedback
          [nzErrorTip]="errorConfirmationPassword"
        >
          <input
            nz-input
            type="password"
            formControlName="confirmationPassword"
            nzSize="large"
          />
          <ng-template #errorConfirmationPassword let-control>
            <error
              *ngIf="control.hasError('required'); else error"
              [message]="'confirmPassword' | translate"
            ></error>
            <ng-template #error>
              <error [control]="control"></error>
            </ng-template>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <button
        style="margin-top: 30px"
        nz-button
        nzBlock
        class="login-form-button login-form-margin font-agro-medium"
        [nzType]="'primary'"
      >
        {{ "save" | translate }}
      </button>
    </form>
  </div>
  <div
    nz-col
    nzXs="1"
    nzSm="2"
    nzMd="2"
    nzLg="4"
    nzXl="4"
    class="height-100"
  ></div>
  <div
    nz-col
    nzXs="1"
    nzSm="2"
    nzMd="2"
    nzLg="4"
    nzXl="4"
    class="height-100"
  ></div>
</div>
