<!-- <app-recover-login></app-recover-login>
<app-sign-up-confirmation></app-sign-up-confirmation> -->
<div nz-col nzSm="24">
  <div nz-row>
    <div nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="0" nzXl="19">
      <nz-steps [nzCurrent]="signUpForm">
        <nz-step [nzTitle]="signUpForm == 0 ? 'Логин пользователя' : ''"></nz-step>
        <nz-step [nzTitle]="signUpForm == 1 ? 'Подтверждение' : ''"></nz-step>
        <nz-step [nzTitle]="signUpForm == 2 ? 'Создать пароль' : ''"></nz-step>
      </nz-steps>
    </div>
  </div>

  <div [ngSwitch]="signUpForm">
    <app-recover-login
      (changeComponentEvent)="swtichTo($event)"
      *ngSwitchCase="0"
    ></app-recover-login>
    <app-sign-up-confirmation
      (changeComponentEvent)="swtichTo($event)"
      *ngSwitchCase="1"
    ></app-sign-up-confirmation>
    <app-create-new-password *ngSwitchCase="2"></app-create-new-password>
  </div>
</div>