<!-- USER NAME -->
<nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="close()">
  <div *nzModalTitle>
    <h4 nz-typography>Изменить пароль</h4>
  </div>

  <ng-container *nzModalContent>
    <error-as-alert></error-as-alert>

    <form nz-form nzLayout="vertical" [formGroup]="form">
      <!-- PASSWORD -->
      <nz-form-item>
        <nz-form-label
          [nzSm]="24"
          [nzXs]="24"
          class="text-start"
          nzFor="password"
          nzRequired
          >{{ "password" | translate }}</nz-form-label
        >
        <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="error">
          <nz-input-group nzPrefixIcon="lock" [nzSuffix]="eye" nzSize="large">
            <input
              #password
              id="password"
              type="password"
              nz-input
              formControlName="password"
            />
            <ng-template #eye>
              <az-password-show-hide
                [password]="password"
              ></az-password-show-hide>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <!-- NEW PASSWORD -->
      <nz-form-item>
        <nz-form-label
          [nzSm]="24"
          [nzXs]="24"
          class="text-start"
          nzFor="new_password"
          nzRequired
          >{{ "fillNewPassword" | translate }}</nz-form-label
        >
        <nz-form-control
          nzHasFeedback
          [nzSm]="24"
          [nzXs]="24"
          [nzErrorTip]="error"
        >
          <nz-input-group nzPrefixIcon="lock" [nzSuffix]="eyeN" nzSize="large">
            <input
              #passwordNew
              id="new_password"
              type="password"
              nz-input
              formControlName="new_password"
            />
            <ng-template #eyeN>
              <az-password-show-hide
                [password]="passwordNew"
              ></az-password-show-hide>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <!-- CONFIRMATION PASSWORD -->
      <nz-form-item>
        <nz-form-label
          [nzSm]="24"
          [nzXs]="24"
          class="text-start"
          nzFor="confirmationPassword"
          nzRequired
          >{{ "confirmNewPassword" | translate }}</nz-form-label
        >
        <nz-form-control
          nzHasFeedback
          [nzSm]="24"
          [nzXs]="24"
          [nzErrorTip]="errorConfirmationPassword"
        >
          <nz-input-group nzPrefixIcon="lock" [nzSuffix]="eyeC" nzSize="large">
            <input
              #passwordConfirmation
              id="confirmationPassword"
              type="password"
              nz-input
              formControlName="confirmationPassword"
            />
            <ng-template #eyeC>
              <az-password-show-hide
                [password]="passwordConfirmation"
              ></az-password-show-hide>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
        <ng-template #errorConfirmationPassword let-control>
          <error
            *ngIf="control.hasError('required'); else error"
            [message]="'confirmPassword' | translate"
          ></error>
          <ng-template #error>
            <error [control]="control"></error>
          </ng-template>
        </ng-template>
      </nz-form-item>
    </form>

    <ng-template #error let-control>
      <error [control]="control"></error>
      <error-from-server
        [byMessage]="true"
        [error]="control.getError(ERROR_MESSAGE_FROM_SERVER)"
      ></error-from-server>
    </ng-template>
  </ng-container>

  <ng-container *nzModalFooter>
    <button
      nz-button
      nzBlock
      nzShape="round"
      nzType="primary"
      (click)="submit()"
      [nzLoading]="isWaitingResponse$ | async"
      [ngClass]="{ 'not-allowed': isWaitingResponse$ | async }"
    >
      {{ "go" | translate }}
    </button>
  </ng-container>
</nz-modal>

<az-success-modal
  [(isVisible)]="isVisibleSuccessModal"
  [title]="'changingPassword' | translate"
  [bodyOne]="'congratulations' | translate"
  [bodyTwo]="'successfullyChangedPassword' | translate"
></az-success-modal>
