<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h1>Admin panel</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="Translate" nzIcon="dashboard">
        <ul>
          <li
            [routerLink]="
              './translate/' + TranslationType[TranslationType.interface]
            "
            onchange="changeName()"
            nz-menu-item
            nzMatchRouter
          >
            <a>Interface</a>
          </li>
          <li
            [routerLink]="'./translate/' + TranslationType[TranslationType.seo]"
            nz-menu-item
            nzMatchRouter
          >
            <a>SEO</a>
          </li>
          <li routerLink="./translate/contents" nz-menu-item nzMatchRouter>
            <a>Contents</a>
          </li>
        </ul>
      </li>
      <li routerLink="category" nz-menu-item nzMatchRouter>
        <i nz-icon nzType="profile" nzTheme="outline"></i>
        <span>Kategory</span>
      </li>

      <li routerLink="user" nz-menu-item nzMatchRouter>
        <i nz-icon nzType="user"></i>
        <span>Users</span>
      </li>

      <li nz-submenu nzOpen nzTitle="Admins" nzIcon="form">
        <ul>
          <li routerLink="./admin/users" nz-menu-item nzMatchRouter>
            <span>Users</span>
          </li>
          <li routerLink="./admin/role" nz-menu-item nzMatchRouter>
            <span>Roles</span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div nz-row>
          <div nz-col nzFlex="60px">
            <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <i
                class="trigger"
                nz-icon
                [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></i>
            </span>
          </div>
          <div nz-col nzFlex="auto">
            <!-- <div nz-row nzJustify="space-around" nzAlign="middle" style="height: 100%;"> -->
            <div nz-col nzSpan="24">
              <div nz-row>
                <div nz-col nzFlex="auto">
                  <div nz-row>
                    <div nz-col nzFlex="auto">
                      <div
                        nz-row
                        nzJustify="space-between"
                        nzAlign="middle"
                        style="height: 100%"
                      >
                        <div nz-row>
                          <div
                            nz-col
                            nzXs="0"
                            nzSm="0"
                            nzMd="0"
                            nzLg="24"
                            nzXl="24"
                          >
                            <agro-breadcrumb></agro-breadcrumb>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div nz-col>
                      <language></language>
                    </div>
                    <div nz-col nzFlex="50px">
                      <nz-avatar
                        nz-tooltip
                        nzTooltipTitle="Ergashev Ismoil"
                        nzTooltipPlacement="left"
                        nzText="EI"
                      ></nz-avatar>
                    </div>
                  </div>
                </div>

                <div nz-col nzFlex="100px">
                  <button nz-button nzType="primary" routerLink="./sign-in">
                    <i nz-icon nzType="logout" nzTheme="outline"></i>Exit
                  </button>
                </div>
              </div>
            </div>

            <!-- </div> -->
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
