<div nz-row>
  <div nz-col nzXs="0" nzSm="24">
    <nz-card class="business-widget" nzHoverable [nzTitle]="businessCardTitle" [nzExtra]="businessCard">
      <div nz-row [nzGutter]="[0, 10]">
        <div nz-col class="business-widget__card" nzSpan="24">
          <div nz-row [nzGutter]="[10, 10]">
            <div nz-col nzSpan="4" class="business-widget__card__img">
              <img src="../../../../../../../assets/images/agro-id-images/avatar3.jpg" alt="avatar">
            </div>
            <div nz-col nzSpan="16" class="business-widget__card__desc">
              <h6 nz-typography>Тимур Мун</h6>
              <p nz-typography>narbekov@gmail.com</p>
              <p nz-typography>+998 90 326 20 13</p>
            </div>
            <div nz-col nzSpan="4">
              <div nz-row>
                <div nz-col>
                  <button  nz-button nzType="text" nzShape="circle"><i nz-icon nzType="more" nzTheme="outline"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div nz-col class="business-widget__btn" nzSpan="24">
          <button nz-button nzBlock><i nz-icon nzType="plus" nzTheme="outline"></i></button>
        </div>
      </div>
    </nz-card>
    <ng-template #businessCardTitle>
      <span class="home__card_title">Мои визитки</span>
    </ng-template>
    <ng-template #businessCard>
      <a><i nz-icon nzType="arrow-right" nzTheme="outline" style="color: #CFD3D8;"></i></a>
    </ng-template>
  </div>
  <div nz-col nzXs="24" nzSm="0">
    <nz-collapse nzExpandIconPosition="right" class="widget-collpase">
      <nz-collapse-panel
        [nzHeader]="title3"
        class="collpase-bg"
        style="border-radius: 5px;"
      >
      <div nz-row [nzGutter]="[0, 10]">
        <div nz-col class="business-widget__card" nzSpan="24">
          <div nz-row [nzGutter]="[10, 10]">
            <div nz-col nzSpan="4" class="business-widget__card__img">
              <img src="../../../../../../../assets/images/agro-id-images/avatar3.jpg" alt="avatar">
            </div>
            <div nz-col nzSpan="16" class="business-widget__card__desc">
              <h6 nz-typography>Тимур Мун</h6>
              <p nz-typography>narbekov@gmail.com</p>
              <p nz-typography>+998 90 326 20 13</p>
            </div>
            <div nz-col nzSpan="4">
              <div nz-row>
                <div nz-col>
                  <button  nz-button nzType="text" nzShape="circle"><i nz-icon nzType="more" nzTheme="outline"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div nz-col class="business-widget__btn" nzSpan="24">
          <button nz-button nzBlock><i nz-icon nzType="plus" nzTheme="outline"></i></button>
        </div>
      </div>
      </nz-collapse-panel>
    </nz-collapse>

    <ng-template #title3>
      <div nz-row>
        <div nz-col><i nz-icon nzType="credit-card" nzTheme="outline"></i></div>
        <div nz-col><span class="home__card_title">Мои визитки</span></div>
      </div>      
    </ng-template>
  </div>
</div>