<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="(editingData?.id ? 'edit' : 'add') | translate"
  (nzOnCancel)="close()"
  modal
>
  <div *nzModalContent>
    <form [formGroup]="form" nz-form nzLayout="vertical">
      <div class="overflow-auto max-height">
        <!-- KEY -->
        <nz-form-item>
          <nz-form-label nzFor="key">{{ "key" | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="errorKey">
            <input nz-input formControlName="key" name="key" type="text" />
          </nz-form-control>
          <ng-template #errorKey let-control>
            <error [control]="control"></error>
          </ng-template>
        </nz-form-item>

        <h3>{{ "description" | translate }}</h3>

        <az-language-controls
          [form]="form"
          [translations]="editingData?.description"
          formGroupName="description"
        ></az-language-controls>
      </div>
    </form>
  </div>
  <div *nzModalFooter>
    <button (click)="submit()" nz-button nzType="primary">
      {{ "save" | translate }}
    </button>
  </div>
</nz-modal>
