<div class="h-100 d-flex flex-column justify-content-center">
  <!-- TITLE -->
  <div class="confirm-text">
    <h2 nz-typography class="agro-id-form-title">
      {{ "confirmation" | translate }}
    </h2>
    <p nz-typography nzType="secondary">
      {{
        (data?.byPhoneNumber
          ? "confirmationDescriptionPhone"
          : "confirmationDescriptionEmail"
        )
          | translate
            : {
                value:
                  (data?.phone || !data.byPhoneNumber ? "" : "+") +
                  (data.phone ? data.phone : data?.login)
              }
      }}
      <span nz-typography nzType="warning" *ngIf="$leftSeconds | async"
        >{{ "confirmTimer" | translate }}
        {{ $leftSeconds | async | date: "mm:ss" }}</span
      >
    </p>
  </div>

  <nz-divider class="mt-10p"></nz-divider>

  <!-- BODY -->
  <div nz-row>
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="20" nzXl="20">
      <div></div>
      <form
        nz-form
        class="confirm-form"
        nzLayout="horizontal"
        [formGroup]="form"
        (submit)="submit()"
      >
        <!-- ERRORS FROM SERVER -->
        <div class="mb-1">
          <error-from-server
            *ngIf="errorMessageFromServer"
            [error]="errorMessageFromServer"
          ></error-from-server>
        </div>

        <!-- SECURE CODE -->
        <div nz-row>
          <div
            nz-col
            nzFlex="2"
            class="activation-code"
            *ngFor="let index of [1, 2, 3, 4, 5]"
          >
            <nz-form-item nz-row>
              <nz-form-control nz-col class="confirm-control">
                <input
                  maxlength="1"
                  id="activationCode{{ index }}"
                  formControlName="activationCode{{ index }}"
                  (ngModelChange)="setFocus(index)"
                  (keydown.backspace)="backspace(index)"
                  nz-input
                  class="confirm-input"
                  type="text"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <!-- Ask activation code again -->
        <div *ngIf="($leftSeconds | async) === 0">
          <ng-template #indicatorTemplate>
            <i
              nz-icon
              nzType="loading"
              *ngIf="$isWaitingActivationCodeResponse | async"
            ></i>
            <a
              (click)="resendActivationCode()"
              [textContent]="'getConfirmCodeAgain' | translate"
            ></a>
          </ng-template>
          <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
        </div>

        <!-- Send activation code -->
        <button
          nzBlock
          nz-button
          class="confirm-btn font-agro-medium"
          nzType="primary"
          [disabled]="!form.valid"
          [nzLoading]="$isWaitingResponse | async"
        >
          {{ "confirm" | translate }}
        </button>
      </form>
      <div nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="2" nzXl="2"></div>
      <div nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="2" nzXl="2"></div>
    </div>
  </div>
</div>
