<div class="wish">
  <div class="container">
    <div nz-row>
      <div nz-col nzSpan="12">
        <h3 nz-typography class="wish__title">
          Хотите стать партнёром AgroZamin?
        </h3>
        <span nz-typography class="wish__text">Выберите сервис</span>
        <div nz-row [nzGutter]="[0, 20]">
          <div nz-col nzSpan="24">
            <div class="wish__service">
              <img src="./assets/images/agrozamin/logo-az.svg" alt="logo" />
            </div>
          </div>
          <div nz-col nzSpan="24">
            <div class="wish__service">
              <img
                src="./assets/images/agrozamin/logo-consultant.svg"
                alt="logo"
              />
            </div>
          </div>
          <div nz-col nzSpan="24">
            <div class="wish__service">
              <img
                src="./assets/images/agrozamin/logo-businnes.svg"
                alt="logo"
              />
            </div>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="12">
        <div class="wish__img">
          <img
            src="./assets/images/agrozamin/partner-banner.png"
            alt="banner image"
          />
        </div>
      </div>
    </div>
  </div>
</div>
