<div nz-row>
  <div nz-col nzSpan="20" nzOffset="2" class="home">
    <h2 class="cabinet-title" nz-typography>Мой кабинет</h2>
    <div nz-row class="home__items" nzJustify="space-between">
      <div class="home__card" nz-col nzXs="5" nzSm="5" nzMd="5" nzLg="5" nzXl="5" nzXXl="5">
        <div nz-row>
          <div nz-col nzSpan="24">
            <div nz-row>
              <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12" nzXXl="12">1</div>
              <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12" nzXXl="12">2</div>
            </div>
          </div>
        </div>
      </div>
      <div class="home__card" nz-col nzXs="5" nzSm="5" nzMd="5" nzLg="5" nzXl="5" nzXXl="5">2</div>
      <div class="home__card" nz-col nzXs="5" nzSm="5" nzMd="5" nzLg="5" nzXl="5" nzXXl="5">3</div>
      <div class="home__card" nz-col nzXs="5" nzSm="5" nzMd="5" nzLg="5" nzXl="5" nzXXl="5">4</div>
    </div>
  </div>
</div>