<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="(editingData?.id ? 'edit' : 'add') | translate"
  (nzOnCancel)="close()"
  modal
>
  <div *nzModalContent>
    <form [formGroup]="form" nz-form nzLayout="vertical">
      <div class="overflow-auto max-height">
        <!-- KEY -->
        <nz-form-item>
          <nz-form-label nzFor="key">{{ "key" | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="errorKey">
            <input
              nz-input
              id="key"
              formControlName="key"
              name="key"
              type="text"
            />
          </nz-form-control>
          <ng-template #errorKey let-control>
            <error [control]="control"></error>
          </ng-template>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor="accessAction">{{
            "actions" | translate
          }}</nz-form-label>
          <nz-form-control [nzErrorTip]="errorActions">
            <nz-select
              id="accessAction"
              formControlName="actions"
              nzMode="multiple"
              [nzCustomTemplate]="multipleTemplate"
            >
              <nz-option
                nzCustomContent
                *ngFor="let option of accessAction$ | async"
                [nzLabel]="option.key"
                [nzValue]="option.id"
              >
                {{ option.key }}
                <br />
                <div class="custom-option">
                  <small>{{ option.description }}</small>
                </div>
              </nz-option>
            </nz-select>
            <ng-template #multipleTemplate let-selected>
              <div class="ant-select-selection-item-content">
                {{ selected.nzLabel }}
              </div>
            </ng-template>
          </nz-form-control>
          <ng-template #errorActions let-control>
            <error [control]="control"></error>
          </ng-template>
        </nz-form-item>

        <!-- URL -->
        <nz-form-item>
          <nz-form-label nzFor="url">{{ "url" | translate }}</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              id="url"
              formControlName="url"
              name="url"
              type="text"
            />
          </nz-form-control>
        </nz-form-item>

        <!-- DESCRIPTION -->
        <h3>{{ "description" | translate }}</h3>
        <az-language-controls
          [form]="form"
          formGroupName="description"
          [translations]="editingData?.description"
          [rows]="2"
        ></az-language-controls>
      </div>
    </form>
  </div>
  <div *nzModalFooter>
    <button (click)="submit()" nz-button nzType="primary">
      {{ "save" | translate }}
    </button>
  </div>
</nz-modal>
