<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="close()"
>
  <ng-template #modalTitle
    ><h4 nz-typography>
      {{ email ? "Изменить" : "Добавить" }} Email
    </h4></ng-template
  >

  <ng-template #modalContent>
    <form nz-form nzLayout="vertical" [formGroup]="form" (submit)="submit()">
      <error-as-alert></error-as-alert>

      <p>
        Введите ваш новый электронный адрес На него будет отправлен код
        подтверждения
      </p>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="errorEmail">
          <input
            id="email"
            nz-input
            type="email"
            nzSize="large"
            formControlName="email"
            [placeholder]="'Введите ваш Email'"
          />
        </nz-form-control>
        <ng-template #errorEmail let-control>
          <error [control]="control"></error>
        </ng-template>
      </nz-form-item>

      <!-- PASSWORD -->
      <nz-form-item>
        <nz-form-label class="font-agro-medium" [nzSpan]="6" nzFor="password">{{
          "password" | translate
        }}</nz-form-label>
        <nz-form-control [nzErrorTip]="'pleaseFillPassword' | translate">
          <nz-input-group nzPrefixIcon="lock" [nzSuffix]="eye" nzSize="large">
            <input
              #password
              id="password"
              type="password"
              nz-input
              formControlName="password"
            />
            <ng-template #eye>
              <az-password-show-hide
                [password]="password"
              ></az-password-show-hide>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <button
      nz-button
      nzBlock
      nzShape="round"
      nzType="primary"
      type="submit"
      (click)="submit()"
      [nzLoading]="isWaitingResponse$ | async"
      [ngClass]="{ 'not-allowed': isWaitingResponse$ | async }"
    >
      Далее
    </button>
  </ng-template>
</nz-modal>

<!-- <az-success-changes
  [config]="{
    type: 'Изменение Email',
    description: 'Ваш Email успешно изменен!',
    isVisible: isSuccess
  }"
  (handleSuccess)="handleSuccess($event)"
></az-success-changes> -->
