<div class="agrozaminFooter">
  <div class="container">
    <div class="agrozaminComponents" nz-row [nzGutter]="[0, 20]">
      <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
        <div
          nz-row
          [nzGutter]="[
            { xs: 0, sm: 0, md: 0, lg: 0, xl: 0 },
            { xs: 0, sm: 20, md: 20, lg: 30, xl: 68 }
          ]"
        >
          <div
            class="agrozaminComponents__logo"
            nz-col
            nzXs="24"
            nzSm="24"
            nzMd="24"
            nzLg="24"
            nzXl="24"
          >
            <div
              nz-row
              [nzGutter]="[
                { xs: 0, sm: 0, md: 0, lg: 0, xl: 0 },
                { xs: 20, sm: 20, md: 20, lg: 30, xl: 40 }
              ]"
            >
              <div class="agrozaminComponents__logo__main" nz-col nzSpan="24">
                <div>
                  <img
                    src="./assets/images/agrozamin/agrozamin-logo.svg"
                    alt=""
                  />
                </div>
              </div>
              <div class="agrozaminComponents__logo__insta" nz-col nzSpan="24">
                <div nz-row [nzGutter]="[16, 0]" class="appStoreLogo">
                  <div nz-col>
                    <a nzType="link">
                      <img
                        src="./assets/images/agrozamin/Facebook.svg"
                        alt=""
                      />
                    </a>
                  </div>
                  <div nz-col>
                    <a nzType="link">
                      <img
                        src="./assets/images/agrozamin/Instagram.svg"
                        alt=""
                      />
                    </a>
                  </div>
                  <div nz-col>
                    <a nzType="link">
                      <img
                        src="./assets/images/agrozamin/Telegram.svg"
                        alt=""
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div nz-col nzXs="0" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <div class="agrozaminComponents__info" nz-row>
              <div nz-col nzSpan="16">
                <p>2005–2020 © Все права защищены. Все услуги лицензированы</p>
              </div>
              <div nz-col nzSpan="21">
                <p class="agrozaminComponents__info__text">
                  Акционерный коммерческий банк «Агробанк» зарегистрирован
                  29 августа 2014 года Центральным банком Республики Узбекистан
                  под номером 78
                </p>
              </div>
              <div class="agrozaminComponents__info__text2" nz-col nzSpan="24">
                <div nz-row [nzGutter]="[20, 0]">
                  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="8">
                    <p>
                      <span>Пользовательское соглашение</span>
                    </p>
                  </div>
                  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="16">
                    <p>
                      <span
                        >Политика в отношении обработки персональных
                        данных</span
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
        <div
          nz-row
          [nzGutter]="[
            { xs: 0, sm: 0, md: 0, lg: 0, xl: 0 },
            { xs: 30, md: 23, lg: 30, xl: 87 }
          ]"
        >
          <div class="agrozaminComponents__contact" nz-col nzSpan="24">
            <div
              nz-row
              [nzGutter]="[
                { xs: 0, sm: 0, md: 0, lg: 0, xl: 24 },
                { xs: 30, sm: 30, md: 30, lg: 30, xl: 24 }
              ]"
            >
              <div nz-col nzXs="12" nzSm="12" nzMd="11" nzLg="10" nzXl="8">
                <h6>Полезные ссылки:</h6>
                <ul
                  nz-row
                  [nzGutter]="[
                    { xs: 0, sm: 0, md: 0, lg: 0, xl: 0 },
                    { xs: 6, sm: 6, md: 6, lg: 6, xl: 8 }
                  ]"
                >
                  <li nz-col nzSpan="24">
                    <a nzType="link" routerLink="partnership">Партнерство</a>
                  </li>
                  <li nz-col nzSpan="24">
                    <a nzType="link">Популярные вопросы</a>
                  </li>
                  <li nz-col nzSpan="24">
                    <a nzType="link"> Как работает сервис</a>
                  </li>
                </ul>
              </div>

              <div nz-col nzXs="12" nzSm="12" nzMd="13" nzLg="14" nzXl="8">
                <h6>О нас:</h6>
                <ul
                  nz-row
                  [nzGutter]="[
                    { xs: 0, sm: 0, md: 0, lg: 0, xl: 0 },
                    { xs: 6, sm: 6, md: 6, lg: 6, xl: 8 }
                  ]"
                >
                  <li nz-col nzSpan="24"><a nzType="link">О проекте</a></li>
                  <li nz-col nzSpan="24">
                    <a nzType="link">Новости / Блог</a>
                  </li>
                  <li nz-col nzSpan="24">
                    <a nzType="link">Контакты</a>
                  </li>
                </ul>
              </div>

              <div
                nz-col
                nzXs="24"
                nzSm="24"
                nzMd="24"
                nzLg="24"
                nzXl="8"
                class="agrozaminComponents__contact__item"
              >
                <div
                  nz-row
                  [nzGutter]="[
                    { xs: 0, sm: 0, md: 0, lg: 0, xl: 0 },
                    { xs: 24, sm: 24, md: 24, lg: 24, xl: 24 }
                  ]"
                >
                  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="24">
                    <p>Колл-центр:</p>
                    <span>
                      <a nzType="link"> +998 (78) 150–00–88 </a>
                    </span>
                  </div>
                  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="24">
                    <p>Telegram Bot:</p>
                    <span>
                      <a nzType="link"> On-line Support </a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div nz-col nzSpan="24" class="agrozaminComponents__mobileLogo">
            <div nz-row [nzGutter]="[16, 0]">
              <div nz-col class="agrozaminComponents__mobileLogo__img">
                <div>
                  <a href="">
                    <img
                      src="./assets/images/agrozamin/Footer-Mobile app store badge (1).svg"
                      alt=""
                    />
                  </a>
                </div>
              </div>
              <div nz-col class="agrozaminComponents__mobileLogo__img">
                <div>
                  <a href="">
                    <img
                      src="./assets/images/agrozamin/Footer-Mobile app store badge.svg"
                      alt=""
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div nz-col nzXs="24" nzSm="0" nzMd="0" nzLg="0" nzXl="0">
            <div nz-row class="agrozaminComponents__info">
              <div nz-col nzSpan="16">
                <p>2005–2020 © Все права защищены. Все услуги лицензированы</p>
              </div>
              <div nz-col nzSpan="21">
                <p class="agrozaminComponents__info__text">
                  Акционерный коммерческий банк «Агробанк» зарегистрирован
                  29 августа 2014 года Центральным банком Республики Узбекистан
                  под номером 78
                </p>
              </div>
              <div class="agrozaminComponents__info__text2" nz-col nzSpan="24">
                <div nz-row [nzGutter]="[20, 0]">
                  <div nz-col nzXs="24" nzSm="0" nzMd="0" nzLg="0" nzXl="0">
                    <p>
                      <span>Пользовательское соглашение</span>
                    </p>
                  </div>
                  <div nz-col nzXs="24" nzSm="0" nzMd="0" nzLg="0" nzXl="0">
                    <p>
                      <span
                        >Политика в отношении обработки персональных
                        данных</span
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
