<div class="social" [ngClass]="position ? 'position' : ''">
  <div class="social__media">
    <a>
      <img
        src="../../../../../../../assets/images/agro-id-images/facebook.svg"
        alt="facebook"
    /></a>
    <a
      ><img
        src="../../../../../../../assets/images/agro-id-images/instagram.svg"
        alt="instagram"
    /></a>
    <a
      ><img
        src="../../../../../../../assets/images/agro-id-images/telegram.svg"
        alt="telegram"
    /></a>
  </div>
  <div class="social__app">
    <a nzType="link"
      ><img
        src="../../../../../../../assets/images/agro-id-images/app_store_btn.svg"
        alt="app sore"
    /></a>
    <a nzType="link"
      ><img
        src="../../../../../../../assets/images/agro-id-images/google_play_btn.svg"
        alt="google play"
    /></a>
  </div>
  <p nz-typography>
    Акционерный коммерческий банк «Агробанк» зарегистрирован 29 августа 2014
    года Центральным банком Республики Узбекистан под номером 78
  </p>
  <p nz-typography>
    2005 - 2022 © Все права защищены. Все услуги лицензированы
  </p>
</div>
