<div nz-row style="padding-top: 8vw">
  <div
    nz-col
    nzXs="1"
    nzSm="2"
    nzMd="2"
    nzLg="4"
    nzXl="4"
    class="height-100"
  ></div>
  <div
    nz-col
    nzXs="22"
    nzSm="20"
    nzMd="20"
    nzLg="16"
    nzXl="16"
    class="height-100"
  >
    <form
      nz-form
      [formGroup]="loginForm"
      nzLayout="vertical"
      class="login-form"
      (ngSubmit)="submitForm()"
    >
      <h2 nz-typography class="title">{{'entrance' | translate}}</h2>
      <nz-divider class="divider-custom-top divider-custom-bottom"></nz-divider>

      <!-- ERRORS FROM SERVER -->
      <div class="mb-1">
        <error-from-server
          *ngIf="errorMessageFromServer"
          [error]="errorMessageFromServer"
        ></error-from-server>
      </div>

      <!-- LOGIN INPUT FIELD -->
      <nz-form-item>
        <nz-form-label class="font-agro-medium" [nzSpan]="6" nzFor="email"
          >{{'login' | translate}}</nz-form-label
        >
        <ng-container *ngIf="loginType === LoginType.PhoneNumber; else email">
          <nz-form-control [nzErrorTip]="error">
            <nz-input-group nzPrefixIcon="phone" nzSize="large">
              <input
                type="text"
                nz-input
                mask="00 000 00 00"
                prefix="+998 "
                formControlName="login"
                [placeholder]="'inputPhonenumber' | translate"
              />
            </nz-input-group>
          </nz-form-control>
          <ng-template let-control #error>
            <error [control]="control"></error>
          </ng-template>
        </ng-container>

        <ng-template #email>
          <nz-form-control [nzErrorTip]="error">
            <nz-input-group nzPrefixIcon="mail" nzSize="large">
              <input
                type="text"
                nz-input
                formControlName="login"
                [placeholder]="'inputMail' | translate"
              />
            </nz-input-group>
          </nz-form-control>
          <ng-template let-control #error>
            <error [control]="control"></error>
          </ng-template>
        </ng-template>

        <!-- TOGGLE PHONENUMBER OR EMAIL  -->
        <a
          style="padding: 4px 0"
          nzType="link"
          (click)="switchLoginType( loginType === LoginType.PhoneNumber ? LoginType.Email : LoginType.PhoneNumber)"
          >{{ (loginType === LoginType.PhoneNumber ? "loginByEmail" :
          "loginByPhonenumber") | translate }}</a
        >
      </nz-form-item>

      <!-- PASSWORD INPUT FIELD -->
      <nz-form-item>
        <nz-form-label class="font-agro-medium" [nzSpan]="6" nzFor="email"
          >{{'password' | translate}}</nz-form-label
        >
        <nz-form-control [nzErrorTip]="'pleaseFillPassword' | translate">
          <nz-input-group nzPrefixIcon="lock" nzSize="large">
            <input type="password" nz-input formControlName="password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <!-- OPTIONS -->
      <div nz-row class="login-form-margin" nzJustify="space-between">
        <div nz-col>
          <span nz-typography class="font-agro-medium">
            <a routerLink="sign-up"> {{'register' | translate}} </a>
          </span>
        </div>
        <div nz-col>
          <a class="login-form-forgot" routerLink="recovery"
            ><span nz-typography nzType="secondary"
              >{{'forgotYourPassword' | translate}}</span
            ></a
          >
        </div>
      </div>
      <div>
        <button
          style="margin-top: 30px"
          nz-button
          class="login-form-margin font-agro-medium"
          nzBlock
          [nzType]="'primary'"
          [nzLoading]="$isWaitingResponse|async"
        >
          {{'toComeIn' | translate}}
        </button>
      </div>
    </form>
  </div>
  <div
    nz-col
    nzXs="1"
    nzSm="2"
    nzMd="2"
    nzLg="4"
    nzXl="4"
    class="height-100"
  ></div>
</div>
