<div nz-row style="padding-top: 8vw;">
  <div nz-col nzXs="1" nzSm="2" nzMd="2" nzLg="4" nzXl="4" class="height-100"></div>
  <div nz-col nzXs="22" nzSm="20" nzMd="20" nzLg="16" nzXl="16" class="height-100">

    <form nz-form [formGroup]="validateForm" nzLayout="vertical" class="login-form" (ngSubmit)="submitForm()">
      <h2 nz-typography class="title">Вход</h2>
      <nz-divider class="divider-custom-top divider-custom-bottom"></nz-divider>
      <p class="error" nz-typography nzType="danger">{{error ? "Неверный логин или пароль" : ''}}</p>
      <!-- LOGIN INPUT FIELD -->
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="email">Логин</nz-form-label>
        <nz-form-control nzErrorTip="Пожалуйста введите номер телефона или пароль">
          <nz-input-group nzPrefixIcon="user" nzSize="large">
            <input type="text" nz-input formControlName="login" placeholder="Введите почту или номер телефона" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
  
      <!-- PASSWORD INPUT FIELD -->
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="email">Пароль</nz-form-label>
        <nz-form-control nzErrorTip="Пожалуйста введите пароль">
          <nz-input-group nzPrefixIcon="lock" nzSize="large">
            <input type="password" nz-input formControlName="password"  />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
  
      <!-- OPTIONS -->
      <div nz-row class="login-form-margin" nzJustify="space-between">
        <div nz-col>
          <span nz-typography>
            <a routerLink="sign-up">
              Зарегистрироавться
              <Link />
            </a>
          </span>
        </div>
        <div nz-col>
          <a class="login-form-forgot"><span nz-typography nzType="secondary">Забыли пароль?</span></a>
        </div>
      </div>
      <div class="custom-btn">
        <button style="margin-top: 30px;" nz-button class="login-form-button login-form-margin" nzBlock [nzType]="'primary'">Войти</button>
      </div>
      
  </form>
  </div>
  <div nz-col nzXs="1" nzSm="2" nzMd="2" nzLg="4" nzXl="4" class="height-100"></div>
</div>

