<div class="menu" [ngClass]="{'grid' : isGrid}">
  <div class="menu__item">
    <i class='menu__item-icon' nz-icon nzType="user" nzTheme="outline"></i>
    <div class="menu__item-text">Текст меню</div>
  </div>
  <div class="menu__item">
    <i class='menu__item-icon' nz-icon nzType="user" nzTheme="outline"></i>
    <div class="menu__item-text">Текст меню</div>
  </div>
  <div class="menu__item">
    <i class='menu__item-icon' nz-icon nzType="user" nzTheme="outline"></i>
    <div class="menu__item-text">Текст меню</div>
  </div>
  <div class="menu__item">
    <i class='menu__item-icon' nz-icon nzType="user" nzTheme="outline"></i>
    <div class="menu__item-text">Текст меню</div>
  </div>
</div>