<!-- HEADER -->
<nz-divider [nzText]="divider" nzOrientation="left" class="position-relative">
  <ng-template #divider>
    <div class="divider__left">
      <div>
        {{ TranslationType[translationType] | translate }}
        {{ filteredData.length === 0 ? "" : "(" + filteredData.length + ")" }}
      </div>
    </div>
    <div class="divider__right">
      <div class="divider__right__search">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input
            [(ngModel)]="searchText"
            type="text"
            (input)="search(searchText)"
            nz-input
            placeholder="input search text"
          />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <a
            *ngIf="searchText.length > 0; else searchIcon"
            (click)="clearSearch()"
          >
            <i nz-icon nzType="close"></i>
          </a>
          <ng-template #searchIcon>
            <i nz-icon nzType="search"></i
          ></ng-template>
        </ng-template>
      </div>

      <button (click)="addEdit(modal)" nz-button nzType="primary" class="ml-1">
        {{ "add" | translate }}
      </button>
    </div>
  </ng-template>
</nz-divider>

<!-- BODY -->
<div class="mt-2">
  <nz-table
    #table
    [nzData]="filteredData"
    nzShowPagination
    nzShowSizeChanger
    nzSize="small"
    nzBordered
    [nzScroll]="
      filteredData.length > 10
        ? { y: (innerHeight$ | async)! - 350 + 'px' }
        : {}
    "
  >
    <thead>
      <tr>
        <th nzLeft nzAlign="center" nzWidth="200px" [nzSortFn]="sortByKey">
          {{ "key" | translate }}
        </th>
        <th
          *ngFor="let language of language$ | async"
          nzAlign="center"
          [nzSortFn]="language.sortFn"
        >
          {{ language.name }}
        </th>
        <th
          nzRight
          nzAlign="center"
          nzWidth="200px"
          [textContent]="'projects' | translate"
        ></th>
        <th nzRight nzWidth="120px"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of table.data">
        <tr>
          <td
            nzLeft
            nzAlign="left"
            nzEllipsis
            nz-tooltip
            [nzTooltipTitle]="data.key"
          >
            {{ data.key }}
          </td>
          <td nzAlign="left" *ngFor="let language of language$ | async">
            {{ data.text[language.code] }}
          </td>
          <td nzRight>
            <span *ngFor="let project of data.projects" nz-typography
              ><code>{{ project.name }}</code></span
            >
          </td>
          <td nzRight nzAlign="center">
            <nz-button-group>
              <button (click)="delete(data.id)" nz-button nzType="default">
                <span>
                  <i nz-icon nzType="delete" nzTheme="twotone"></i>
                </span>
              </button>
              <button (click)="addEdit(modal, data)" nz-button nzType="default">
                <span>
                  <i nz-icon nzType="edit" nzTheme="twotone"></i>
                </span>
              </button>
            </nz-button-group>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</div>

<!-- MODAL -->
<az-add-translation
  #modal
  (modified)="modifiedTranslation()"
></az-add-translation>
