<nz-divider [nzText]="divider" nzOrientation="left" style="position: relative">
  <ng-template #divider>
    <div class="divider__left">
      <div>
        {{ TranslationType[translationType] | translate }}
      </div>
    </div>
    <div class="divider__right">
      <div class="divider__right__search">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input
            #searchInput
            type="text"
            (input)="search(searchInput.value)"
            nz-input
            placeholder="input search text"
          />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <a *ngIf="searchInput.value; else searchIcon">
            <i nz-icon nzType="close"></i>
          </a>
          <ng-template #searchIcon>
            <i nz-icon nzType="search"></i
          ></ng-template>
        </ng-template>
      </div>

      <button (click)="addEdit(modal)" nz-button nzType="primary" class="ml-1">
        {{ "add" | translate }}
      </button>
    </div>
  </ng-template></nz-divider
>

<div class="h-100 d-flex flex-column interface--height">
  <div class="flex-grow-1">
    <div (window:resize)="onResize($event)" *ngIf="data">
      <nz-table
        #headerTable
        [nzData]="data.data"
        [nzFrontPagination]="false"
        [nzPageIndex]="data.current_page"
        [nzTotal]="data.total"
        [nzPageSize]="data.per_page"
        (nzQueryParams)="onQueryParamsChange($event)"
        [nzScroll]="{ y: innerHeight - 350 + 'px' }"
        nzSize="small"
        nzBordered
      >
        <thead>
          <tr>
            <th
              nzAlign="center"
              nzWidth="200px"
              [textContent]="'key' | translate"
            ></th>
            <th
              *ngFor="let language of language$ | async"
              nzAlign="center"
              [textContent]="language.name"
            ></th>
            <th
              nzAlign="center"
              nzWidth="200px"
              [textContent]="'projects' | translate"
            ></th>
            <th nzRight nzWidth="120px"></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of headerTable.data">
            <tr>
              <td
                nzAlign="left"
                nzEllipsis
                nz-tooltip
                [nzTooltipTitle]="data.key"
              >
                {{ data.key }}
              </td>
              <td nzAlign="left" *ngFor="let language of language$ | async">
                {{ data.text[language.code] }}
              </td>
              <td>
                <span *ngFor="let project of data.projects" nz-typography
                  ><code>{{ project.name }}</code></span
                >
              </td>
              <td nzRight nzAlign="center">
                <button (click)="delete(data.id)" nz-button nzType="default">
                  <span>
                    <i nz-icon nzType="delete" nzTheme="twotone"></i>
                  </span>
                </button>
                <button
                  (click)="addEdit(modal, data)"
                  nz-button
                  nzType="default"
                >
                  <span>
                    <i nz-icon nzType="edit" nzTheme="twotone"></i>
                  </span>
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

<az-add-translation
  #modal
  (modified)="modifiedTranslation()"
></az-add-translation>
