<div nz-col nzSm="24">
  <div nz-row>
    <div nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="0" nzXl="19">
      <nz-steps [nzCurrent]="currentStep">
        <!-- Choose -->
        <nz-step
          [nzTitle]="
            currentStep === forgotPasswordStep.Choose
              ? 'Вариант'
              : ''
          "
        ></nz-step>

        <!-- LOGIN -->
        <nz-step
          [nzTitle]="
            currentStep === forgotPasswordStep.Login
              ? ('usersLogin' | translate)
              : ''
          "
        ></nz-step>

        <!-- CONFIRMATION -->
        <nz-step
          [nzTitle]="
            currentStep === forgotPasswordStep.Confirmation
              ? ('confirmation' | translate)
              : ''
          "
        ></nz-step>

        <!-- NEW PASSWORD -->
        <nz-step
          [nzTitle]="
            currentStep == forgotPasswordStep.NewPassword
              ? ('createPassword' | translate)
              : ''
          "
        ></nz-step>
      </nz-steps>
    </div>
  </div>

  <div [ngSwitch]="currentStep">
    <!-- LOGIN -->
    <forgot-buttons
      *ngSwitchCase="forgotPasswordStep.Choose"
      (changeStep)="goToStep($event)"
    ></forgot-buttons>

    <recover-login
      (changeStep)="goToStep($event)"
      *ngSwitchCase="forgotPasswordStep.Login"
    ></recover-login>

    <!-- CONFIRMATION -->
    <sign-up-confirmation
      (changeStep)="goToStep($event)"
      *ngSwitchCase="forgotPasswordStep.Confirmation"
    ></sign-up-confirmation>

    <!-- NEW PASSWORD -->
    <create-new-password
      *ngSwitchCase="forgotPasswordStep.NewPassword"
    ></create-new-password>
  </div>
</div>
