<div nz-row [nzGutter]="[10, 0]">
    <div nz-col><button nz-button nzType="default" routerLink="region" routerLinkActive="active">Region</button></div>
    <div nz-col><button nz-button nzType="default" routerLink="district" routerLinkActive="active">District</button></div>
    <div nz-col><button nz-button nzType="default" routerLink="roles" routerLinkActive="active">Roles</button></div>
    <div nz-col><button nz-button nzType="default" routerLink="interface" routerLinkActive="active">Interface</button></div>
    <div nz-col><button nz-button nzType="default" routerLink="agro-users" routerLinkActive="active">Agro users</button></div>
    <div nz-col><button nz-button nzType="default" routerLink="uzimizniki" routerLinkActive="active">Uzimizniki Cat</button></div>
</div>
<br>

<router-outlet></router-outlet>