<div nz-row class="h-100">
  <div nz-col nzXs="1" nzSm="2" nzMd="2" nzLg="4" nzXl="4"></div>
  <div
    nz-col
    nzXs="22"
    nzSm="20"
    nzMd="20"
    nzLg="16"
    nzXl="16"
    class="d-flex flex-column"
  >
    <div class="d-flex flex-column flex-grow-1 justify-content-center">
      <form
        nz-form
        [formGroup]="form"
        nzLayout="vertical"
        class="login-form"
        (ngSubmit)="submit()"
      >
        <h2 nz-typography class="agro-id-form-title">
          {{'entrance' | translate}}
        </h2>
        <nz-divider class="mt-10p mb-4p"></nz-divider>

        <!-- ERRORS FROM SERVER -->
        <error-from-server></error-from-server>

        <!-- LOGIN INPUT FIELD -->
        <nz-form-item>
          <nz-form-label class="font-agro-medium" nzFor="login"
            >{{ "login" | translate }}</nz-form-label
          >
          <nz-form-control [nzErrorTip]="errorLogin">
            <input
              id="login"
              class="form__inputGroup"
              nz-input
              type="text"
              nzSize="large"
              formControlName="login"
              [placeholder]="'fillLogin' | translate"
            />
          </nz-form-control>
          <ng-template #errorLogin let-control>
            <error [control]="control"></error>
          </ng-template>
        </nz-form-item>

        <!-- PASSWORD INPUT FIELD -->
        <nz-form-item>
          <nz-form-label class="font-agro-medium" [nzSpan]="6" nzFor="password"
            >{{'password' | translate}}</nz-form-label
          >
          <nz-form-control [nzErrorTip]="'pleaseFillPassword' | translate">
            <nz-input-group nzPrefixIcon="lock" [nzSuffix]="eye" nzSize="large">
              <input
                #password
                id="password"
                type="password"
                nz-input
                formControlName="password"
              />
              <ng-template #eye>
                <az-password-show-hide
                  [password]="password"
                ></az-password-show-hide>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <!-- OPTIONS -->
        <div nz-row class="login-form-margin" nzJustify="space-between">
          <div nz-col>
            <span nz-typography class="font-agro-medium">
              <a routerLink="sign-up"> {{'register' | translate}} </a>
            </span>
          </div>
          <div nz-col>
            <a class="login-form-forgot" routerLink="recovery"
              ><span nz-typography nzType="secondary"
                >{{'isCanNotAuth' | translate}}</span
              ></a
            >
          </div>
        </div>

        <!-- LOGIN -->
        <div class="mt-2" [ngClass]="{'not-allowed': $isWaitingResponse|async}">
          <button
            class="login-form-margin font-agro-medium"
            nz-button
            nzShape="round"
            nzBlock
            [nzType]="'primary'"
          >
            {{'toComeIn' | translate}}
          </button>
        </div>
      </form>
    </div>

    <back-and-language></back-and-language>
  </div>
  <div nz-col nzXs="1" nzSm="2" nzMd="2" nzLg="4" nzXl="4"></div>
</div>
