<form [formGroup]="config.form">
  <nz-form-item>
    <nz-form-label
      *ngIf="config.titlePhone || config.titleEmail"
      [class]="config.titleClass"
      [nzSpan]="24"
      [nzFor]="
        loginType === LoginType.PhoneNumber
          ? config.phoneFormControlName
          : config.emailFormControlName
      "
      >{{
        loginType === LoginType.PhoneNumber
          ? config.titlePhone
          : config.titleEmail
      }}</nz-form-label
    >
    <!-- PHONE -->
    <ng-container *ngIf="loginType === LoginType.PhoneNumber; else email">
      <nz-form-control nzHasFeedback [nzErrorTip]="error">
        <nz-input-group nzPrefixIcon="phone" nzSize="large">
          <input
            [id]="config.phoneFormControlName"
            type="text"
            autocomplete="off"
            nz-input
            mask="00 000 00 00"
            prefix="+998 "
            formControlName="{{ config.phoneFormControlName }}"
            [placeholder]="'inputPhonenumber' | translate"
          />
        </nz-input-group>

        <ng-template let-control #error>
          <error [control]="control"></error>
          <!-- ERRORS FROM SERVER -->
          <ng-container *ngIf="control.hasError('errorMessageFromServer')">
            <error-from-server
              [error]="control.getError('errorMessageFromServer')"
            ></error-from-server>
          </ng-container>
        </ng-template>
      </nz-form-control>
    </ng-container>

    <!-- EMAIL -->
    <ng-template #email>
      <nz-form-control nzHasFeedback [nzErrorTip]="error">
        <nz-input-group nzPrefixIcon="mail" nzSize="large">
          <input
            [id]="config.emailFormControlName"
            type="text"
            nz-input
            [formControlName]="config.emailFormControlName"
            [placeholder]="'inputMail' | translate"
            [nzAutocomplete]="auto"
            (input)="onInputEmail($event)"
          />
          <nz-autocomplete #auto>
            <nz-auto-option
              *ngFor="let option of mailTypes"
              [nzValue]="option"
              >{{ option }}</nz-auto-option
            >
          </nz-autocomplete>
        </nz-input-group>

        <ng-template let-control #error>
          <error [control]="control"></error>
          <!-- ERRORS FROM SERVER -->
          <ng-container *ngIf="control.hasError('errorMessageFromServer')">
            <error-from-server
              [error]="control.getError('errorMessageFromServer')"
            ></error-from-server>
          </ng-container>
        </ng-template>
      </nz-form-control>
    </ng-template>

    <!-- TOGGLE PHONENUMBER OR EMAIL  -->
    <a
      style="padding: 4px 0"
      nzType="link"
      (click)="
        switchLoginType(
          loginType === LoginType.PhoneNumber
            ? LoginType.Email
            : LoginType.PhoneNumber
        )
      "
      >{{
        loginType === LoginType.PhoneNumber
          ? config.toggleTitleForPhone
          : config.toggleTitleForEmail
      }}</a
    >
  </nz-form-item>
</form>
