<div class="container">
  <div nz-row class="partnerInfo">
    <div nz-col nzSpan="24">
      <div class="partnerInfoAddress" nz-row [nzGutter]="[30, 0]">
        <div nz-col nzSpan="6">
          <div class="logo">
            <img src="./assets/images/agrozamin/logo1.svg" alt="agroteppa" />
          </div>
        </div>

        <div nz-col class="address" nzSpan="12">
          <div nz-row [nzGutter]="[0, 25]">
            <div nz-col style="padding: 0" class="address__agroterra">
              <h3>Агротерра</h3>
              <p>Производство семян и саженцев</p>

              <div nz-row style="margin-top: 12px" [nzGutter]="[12, 0]">
                <div nz-col>
                  <nz-rate [ngModel]="4.5" nzAllowHalf> </nz-rate>
                </div>
                <div nz-col>
                  <p>(256)</p>
                </div>
                <div nz-col>
                  <button>Семена NzTag</button>
                </div>
              </div>
            </div>

            <div nz-col>
              <div nz-row>
                <div nz-col class="address__yurik">
                  <div nz-row>
                    <div nz-col>
                      <img
                        src="./assets/images/agrozamin/address-location-icon.svg"
                        alt=""
                      />
                    </div>
                    <div nz-col>
                      <span>Юридический адрес</span>
                    </div>
                  </div>
                  <p>Ташкентская область, город Ташкент, А.Темура, 213</p>
                </div>

                <div nz-col class="address__yurik1">
                  <div nz-row>
                    <div nz-col>
                      <img
                        src="./assets/images/agrozamin/address-location-icon.svg"
                        alt=""
                      />
                    </div>
                    <div nz-col>
                      <span>Фактический адрес</span>
                    </div>
                  </div>
                  <p>
                    Ташкентская область, город Ташкент, Бирлашган, 6-проезд, 77а
                  </p>
                </div>

                <div nz-col nzSpan="24" class="address__kantakt">
                  <div nz-row>
                    <div nz-col>
                      <img
                        src="./assets/images/agrozamin/phone-kontakt-icon.svg"
                        alt=""
                      />
                    </div>
                    <div nz-col>
                      <span>Контактный телефон</span>
                    </div>
                  </div>
                  <div nz-row nzSpan="24" [nzGutter]="[8, 0]">
                    <div nz-col>
                      <p>
                        +998
                        <span style="color: green; font-size: 16px; padding: 0">
                          XX XXX-XX-XX,</span
                        >
                      </p>
                    </div>
                    <div nz-col>
                      <p>
                        +998
                        <span style="color: green; font-size: 16px; padding: 0">
                          XX XXX-XX-XX,</span
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div nz-col nzSpan="6">
          <div nz-row class="karta">
            <div nz-col nzSpan="24">
              <div nz-row>
                <div nz-col>
                  <img src="./assets/images/agrozamin/Vector.svg" alt="" />
                </div>
                <div nz-col>
                  <a>В Избранное</a>
                </div>
                <div nz-col style="color: green; margin-left: 24px">
                  <img
                    src="./assets/images/agrozamin/Vector 10 (Stroke).svg"
                    alt=""
                  />
                </div>
                <div nz-col>
                  <a>Поделиться</a>
                </div>
              </div>
            </div>
            <div nz-col nzSpan="24">
              <div class="maps">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2963.357580241288!2d69.22156684335405!3d41.29167106167777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8a4b03ec22ab%3A0x414bc29a14aa377f!2z0JDQs9GA0L7QsdCw0L3QuiDQkNCi0JE!5e0!3m2!1sru!2s!4v1649330076436!5m2!1sru!2s"
                  width="300"
                  height="246"
                  style="border: 0; border-radius: 12px"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div nz-col class="partnerInfoText">
      <div nz-row nzSpan="24">
        <div nz-col>
          <h3>Общая информация</h3>
          <p>
            В своём стремлении повысить качество жизни, они забывают, что
            перспективное планирование напрямую зависит от экспериментов,
            поражающих по своей масштабности и грандиозности! Повседневная
            практика показывает, что высокотехнологичная концепция общественного
            уклада прекрасно подходит для реализации экспериментов, поражающих
            по своей масштабности и грандиозности. <br /><br />
            Прежде всего, семантический разбор внешних противодействий создаёт
            необходимость включения в производственный план целого ряда
            внеочередных мероприятий с учётом комплекса приоритизации разума над
            эмоциями. Разнообразный и богатый опыт говорит нам, что постоянный
            количественный рост и сфера нашей активности предопределяет высокую
            востребованность поставленных обществом задач. Вот вам яркий пример
            современных тенденций - курс на социально-ориентированный
            национальный проект требует от нас анализа модели развития.
            Значимость этих проблем настолько очевидна, что высокотехнологичная
            концепция общественного уклада говорит о возможностях распределения
            внутренних резервов и ресурсов.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
