<div class="agrozaminFooter">
    <div class="container">
      <div nz-row class="agrozaminFooterRow">
        <!-- birinchi blok -->
  
        <div nz-col nzSpan="12">
          <div>
            <img
              src="../../../../../assets/images/agrozamin/agrozamin-logo.svg"
              alt=""
            />
          </div>
          <div nz-row [nzGutter]="[10, 0]" class="appStoreLogo">
            <div nz-col>
              <a class="link2" nzType="link">
              <img
                src="../../../../../assets/images/agrozamin/Facebook.svg"
                alt=""
              />
              </a>
            </div>
            <div nz-col>
              <a class="link2" nzType="link">
              <img
                src="../../../../../assets/images/agrozamin/Instagram.svg"
                alt=""
              />
            </a>
            </div>
            <div nz-col>
              <a class="link2" nzType="link">
                <img
                src="../../../../../assets/images/agrozamin/Telegram.svg"
                alt=""
              />
              </a>
            </div>
          </div>
          <div class="text">
            <p>2005–2020 © Все права защищены. Все услуги лицензированы</p>
            <p>
              Акционерный коммерческий банк «Агробанк» зарегистрирован 29 августа
              2014 года <br />
              Центральным банком Республики Узбекистан под номером 78
            </p>
            <div
              nz-row
              style="padding-top: 20px; font-size: 12px"
              [nzGutter]="[18, 0]"
            >
              <div nz-col>
                <p>
                  <a class="link2" nzType="link">Пользовательское соглашение</a>
                </p>
              </div>
              <div nz-col>
                <p style="font-size: 12px">
                  <a class="link2" nzType="link"> Политика в отношении обработки персональных данных</a>
                </p>
              </div>
            </div>
          </div>
        </div>
  
        <!-- ikkinchi blok -->
  
        <div nz-col class="blokRow2" nzSpan="12">
          <div nz-row [nzGutter]="[0, 35]">
            <div nz-col nzSpan="8">
              <h6>Полезные ссылки:</h6>
  
              <p class="textP">
                <a class="link" nzType="link">Партнерство</a>
              </p>
              <p>
                <a class="link" nzType="link">Популярные вопросы</a>
              </p>
              <p>
                <a class="link" nzType="link"> Как работает сервис</a>
              </p>
            </div>
            <div nz-col nzSpan="8">
              <h6>О нас:</h6>
              <p class="textP">
                <a class="link" nzType="link">О проекте</a>
              </p>
              <p>
                <a class="link" nzType="link">Новости / Блог</a>
              </p>
              <p>
                <a class="link" nzType="link">Контакты</a>
              </p>
            </div>
            <div nz-col nzSpan="8">
              <div>
                <p style="font-size: 16px">Колл-центр:</p>
                <p class="kollSentr">
                  <a class="link3" nzType="link">
                  +998 (78) 150–00–88
                </a>
                </p>
              </div>
              <div style="padding-top: 10px">
                <p style="color: #333333;">Telegram Bot:</p>
                <p class="kollSentr">
                  <a class="link3" nzType="link">
                  On-line Support
                </a>
                </p>
              </div>
            </div>
          </div>
          <div class="appLogo" nz-row [nzGutter]="[170, 0]">
            <div nz-col nzSpan="6">
              <a class="link2" nzType="link">
              <img
                src="../../../../../assets/images/agrozamin/Footer-Mobile app store badge.svg"
                alt=""
              />
              </a>
            </div>
            <div nz-col nzSpan="18">
              <a class="link2" nzType="link">
              <img
                src="../../../../../assets/images/agrozamin/Footer-Mobile app store badge (1).svg"
                alt=""
              />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>