<h2 nz-typography class="form__title agro-id-form-title">Регистрация</h2>
<p nz-typography style="margin-top: 5px">
  У меня уже есть аккаунт. <a routerLink="../">Войти</a>
</p>
<nz-divider class="divider-custom-top"></nz-divider>
<form
  nz-form
  class="form registration"
  [nzAutoTips]="autoTips"
  nzLayout="vertical"
  [formGroup]="validateForm"
  (ngSubmit)="submitForm()"
>
  <div>
    <div nz-row nzGutter="16">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12">
        <nz-form-item>
          <nz-form-label>Имя</nz-form-label>
          <nz-form-control nzErrorTip="Заполните поле">
            <input
              class="form__inputGroup"
              nz-input
              type="text"
              formControlName="firstName"
              nzSize="large"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12">
        <nz-form-item>
          <nz-form-label>Фамилия</nz-form-label>
          <nz-form-control nzErrorTip="Заполните поле">
            <input
              class="form__inputGroup"
              nz-input
              type="text"
              formControlName="lastName"
              nzSize="large"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <ng-template #phone>
      <nz-form-item>
        <nz-form-label nzFor="email" [nzSpan]="24"
          >Введите email адрес</nz-form-label
        >
        <nz-form-control [nzSpan]="24" nzErrorTip="Некорректное значение email">
          <input
            nz-input
            formControlName="email"
            id="email"
            placeholder="Введите ваш Email адрес"
            nzSize="large"
          />
        </nz-form-control>
      </nz-form-item>
    </ng-template>
    <div *ngIf="toggle; else phone">
      <nz-form-item>
        <nz-form-label nzFor="phoneNumber" [nzSpan]="24"
          >Номер телефона</nz-form-label
        >
        <nz-form-control
          [nzSpan]="24"
          [nzValidateStatus]="validateForm.controls['phoneNumber']"
          nzErrorTip="Номер телефона заполнен не корректно"
        >
          <input
            formControlName="phoneNumber"
            id="'phoneNumber'"
            placeholder="Введите номер телефона"
            nzSize="large"
            nz-input
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <a style="padding: 4px 0" nzType="link" (click)="toggleInfo()">{{
      buttonTxt ? "У меня нет телефона" : "У меня нет email адреса"
    }}</a>
    <nz-divider class="divider-custom-top"></nz-divider>
    <div nz-row nzGutter="16">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12">
        <nz-form-item>
          <nz-form-label>Придумайте пароль</nz-form-label>
          <nz-form-control
            nzDisableAutoTips
            nzHasFeedback
            nzErrorTip="Введите пароль"
          >
            <input
              class="form__inputGroup"
              nz-input
              type="password"
              [(ngModel)]="password"
              formControlName="password"
              nzSize="large"
              (ngModelChange)="validateConfirmPassword()"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12">
        <nz-form-item>
          <nz-form-label>Повторите пароль</nz-form-label>
          <nz-form-control
            nzDisableAutoTips
            nzHasFeedback
            [nzErrorTip]="passwordErrorTpl"
          >
            <input
              nz-input
              type="password"
              formControlName="confirm"
              nzSize="large"
            />
            <ng-template #passwordErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')"
                >Подтвердите пароль</ng-container
              >
              <ng-container *ngIf="control.hasError('confirm')"
                >Пароли не совпадают</ng-container
              >
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="24">
        <label nz-checkbox formControlName="agree">
          <span> Я принимаю </span>
        </label>
        <a style="font-size: 16px">правила использования</a>
      </nz-form-control>
    </nz-form-item>
    <div class="custom-btn">
      <button
        [disabled]="!validateForm.controls['agree'].valid"
        nzBlock
        nz-button
        nzType="primary"
        (click)="nextComponent()"
      >
        Продолжить
      </button>
    </div>
  </div>
</form>
