<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="(editingData?.id ? 'edit' : 'add') | translate"
  (nzOnCancel)="close()"
  class="custom"
  modal
>
  <div *nzModalContent>
    <div>
      <form [formGroup]="form" nz-form nzLayout="vertical">
        <!-- PARENTS -->
        <nz-form-item>
          <nz-form-label nzFor="categories">{{
            "parentCategories" | translate
          }}</nz-form-label>
          <nz-form-control [nzErrorTip]="errorCategories">
            <nz-tree-select
              id="categories"
              formControlName="parent_categories"
              [nzNodes]="categories"
              nzShowSearch
              [nzMultiple]="true"
              [nzTreeTemplate]="nzTreeTemplate"
            ></nz-tree-select>
            <ng-template #nzTreeTemplate let-node let-origin="origin">
              <span>{{ origin.description }}</span>
            </ng-template>
          </nz-form-control>
          <ng-template #errorCategories let-control>
            <error [control]="control"></error>
          </ng-template>
        </nz-form-item>

        <!-- FILTERS -->
        <nz-form-item>
          <nz-form-label nzFor="filters">{{
            "filters" | translate
          }}</nz-form-label>
          <nz-form-control [nzErrorTip]="errorFilters">
            <nz-tree-select
              id="filters"
              formControlName="filters"
              [nzNodes]="filters"
              nzShowSearch
              nzCheckable="true"
              [nzTreeTemplate]="nzTreeTemplate"
            ></nz-tree-select>
            <ng-template #nzTreeTemplate let-node let-origin="origin">
              <span>{{ origin.description }}</span>
            </ng-template>
          </nz-form-control>
          <ng-template #errorFilters let-control>
            <error [control]="control"></error>
          </ng-template>
        </nz-form-item>

        <!-- ADVERTISEMENT TYPES -->
        <nz-form-item>
          <nz-form-label nzFor="announcement_types">{{
            "advertisementType" | translate
          }}</nz-form-label>
          <nz-form-control [nzErrorTip]="announcement_types">
            <nz-select
              id="announcement_types"
              formControlName="announcement_types"
              nzMode="multiple"
            >
              <nz-option
                nzCustomContent
                *ngFor="let option of advertisementTypes"
                [nzLabel]="option.name"
                [nzValue]="option.id"
              >
                {{ option.name }}
              </nz-option>
            </nz-select>
          </nz-form-control>
          <ng-template #announcement_types let-control>
            <error [control]="control"></error>
          </ng-template>
        </nz-form-item>

        <!-- NAME -->
        <h3>{{ "name" | translate }}</h3>
        <az-language-controls
          [form]="form"
          [translations]="editingData?.name"
          [inputType]="'input'"
          formGroupName="name"
        ></az-language-controls>

        <input
          type="file"
          [hidden]="true"
          #icon
          (change)="handleFileInput($event)"
        />
        <img *ngIf="iconSrc" [src]="iconSrc" width="100px" class="pr-1" />
        <button
          nz-button
          nzShape="round"
          nzType="default"
          (click)="icon.click()"
        >
          {{ "uploadIcon" | translate }}
        </button>
      </form>
    </div>
  </div>
  <div *nzModalFooter>
    <button (click)="submit()" nz-button nzType="primary">
      {{ "save" | translate }}
    </button>
  </div>
</nz-modal>
