<div class="items">
  <div nz-row [nzGutter]="[0, { xs: 20, sm: 20, md: 20, lg: 30, xl: 30 }]">
    <div nz-col nzSpan="24">
      <az-advertisement-list-header
        [(isInline)]="isInlineCard"
        [filters]="filters"
        (sortedByPriceDescandingChange)="sortByPriceDescanding($event)"
        (sortedByDateDescandingChange)="sortByDateDescanding($event)"
      ></az-advertisement-list-header>
    </div>
    <div nz-col nzXs="24" nzSm="0" nzMd="0" nzLg="0" nzXl="0">
      <button
        nz-button
        nzBlock
        nzSize="large"
        class="filter__btn"
        (click)="openFilter()"
      >
        <i nz-icon nzType="filter" nzTheme="outline"></i>
        <span>Фильтр</span>
      </button>
    </div>

    <az-card-list
      [data]="data.data"
      [isLoaded]="isLoaded"
      [isInlineCard]="isInlineCard"
    ></az-card-list>

    <div nz-col nzSpan="24">
      <az-pagination
        [pageSize]="pageSize"
        [total]="data.total"
        [pageIndex]="query.pageIndex"
        (pageIndexChange)="paginate($event)"
      ></az-pagination>
    </div>
  </div>
</div>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="visibleFilter"
  nzPlacement="right"
  (nzOnClose)="closeFilter()"
  nzWidth="100%"
>
  <ng-container *nzDrawerContent>
    <div class="drawer">
      <div class="drawer__header">
        <div nz-row [nzGutter]="[0, 25]">
          <div nz-col nzSpan="24" class="text-end">
            <button nz-button nzSize="large" (click)="closeFilter()">
              <i nz-icon nzType="close" nzTheme="outline"></i>
            </button>
          </div>
          <div nz-col nzSpan="24">
            <a
              nz-button
              nzType="link"
              nzSize="large"
              (click)="closeFilter()"
              class="drawer__title"
            >
              <i
                nz-icon
                nzType="left"
                nzTheme="outline"
                class="drawer__title_margin"
              ></i>
              <span>
                <i nz-icon nzType="filter" nzTheme="outline"></i>
                <span class="drawer__title_text">Фильтр</span>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="drawer__content">
        <az-category-filter
          *ngIf="visibleFilter"
          [categoryId]="categoryId"
        ></az-category-filter>
      </div>
    </div>
  </ng-container>
</nz-drawer>
