<!-- HEADER -->
<az-header-with-divider-advanced
  [config]="{
    title: TranslationType[translationType] | translate,
    searchInputAdvancedConfig: searchInputConfig
  }"
  (clickedAddEditButton)="addEdit()"
>
</az-header-with-divider-advanced>

<!-- BODY -->
<az-grid
  [data]="searchInputConfig.filteredData"
  [columns]="columns"
  [columnTemplate]="template"
  [nzWidthConfig]="nzWidthConfig"
  (addEdited)="addEdit($event)"
  (deleted)="delete($event)"
>
  <ng-template #template let-column let-data="data">
    <ng-container *ngIf="column.field === 'projects'"
      ><span *ngFor="let project of data.projects" nz-typography
        ><code>{{ project.name }}</code></span
      ></ng-container
    >
  </ng-template>
</az-grid>

<!-- MODAL -->
<az-add-edit-translation
  [(isVisible)]="isVisible"
  [editingData]="editingData"
  [projects]="projects"
  (modified)="modifiedTranslation()"
></az-add-edit-translation>
