.seller {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;

  &__img {
    width: 100%;
    height: 180px;

    @media (max-width: 767px) {
      padding: 10px;
      border-radius: 4px;
      overflow: hidden;
    }

    @media (max-width: 425px) {
      height: 100px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @media (max-width: 767px) {
        border-radius: 4px;
      }
    }
  }

  &__info {
    padding: 24px;
    height: 100%;

    @media (max-width: 991px) {
      padding: 20px;
    }

    @media (max-width: 575px) {
      padding: 10px 0;
    }

    &__name {
      font-family: Agrofont-Medium;
      font-size: 18px;
      line-height: 22px;
      color: #000;
      margin-bottom: 0;

      @media (max-width: 767px) {
        font-size: 14px;
        line-height: 18px;
      }

      @media (max-width: 575px) {
        font-size: 12px;
        line-height: 16px;
      }
    }

    &__date {
      font-family: Agrofont-Regular;
      font-size: 14px;
      line-height: 18px;
      color: #86898c;

      @media (max-width: 575px) {
        font-size: 12px;
        line-height: 16px;
      }
    }

    &__status {
      font-size: 12px;
      font-family: Agrofont-Regular;
      line-height: 15px;
      color: #86898c;
    }

    &__category {
      &__swiper {
        max-width: 430px;
        width: 100%;
        margin: 0;
      }
    }

    &__adv {
      font-family: Agrofont-Regular;
      font-size: 14px;
      line-height: 18px;
      color: #000;

      @media (max-width: 575px) {
        font-size: 12px;
        line-height: 16px;
      }

      &__icon {
        vertical-align: bottom;
        margin-right: 8px;
      }
    }
  }

  &__ellipses-btn {
    padding: 10px 10px 10px 0;
  }
}

.green {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #52c41a;
  margin-right: 8px;
}

.grey {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: grey;
  margin-right: 8px;
}

.popover {
  width: 192px;
  &__content {
    padding: 0px;
    &__item {
      width: 193px;
      height: 44px;
      border-radius: 4px;
      padding: 10px;
      cursor: pointer;
      &:active {
        background: #edeff5;
        color: #86898c;
      }
      p {
        margin: 0;
      }
    }
  }
}
