<div class="footer" [hidden]="hidden">
  <div class="container">
    <div nz-row>
      <div nz-col nzSpan="24" class="footer__block">
        <div nz-row [nzGutter]="[0, 40]">
          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
            <div class="footer__logo">
              <img src="./assets/images/footer-logo.svg" alt="logo">
            </div>
          </div>
          <div nz-col nzMd="12" nzLg="8" nzXl="8">
            <h6 class="footer__menu__title">Полезное</h6>
            <ul nz-row class="footer__menu" [nzGutter]="[0, 8]">
              <li nz-col nzSpan="24" class="footer__menu__item">Найти специалиста</li>
              <li nz-col nzSpan="24" class="footer__menu__item">Работайте с нами</li>
              <li nz-col nzSpan="24" class="footer__menu__item">Чат поддержки</li>
              <li nz-col nzSpan="24" class="footer__menu__item">FAQ</li>
            </ul>
          </div>
          <div nz-col nzMd="12" nzLg="8" nzXl="8">
            <h6 class="footer__menu__title">О нас</h6>
            <ul nz-row class="footer__menu" [nzGutter]="[0, 8]">
              <li nz-col nzSpan="24" class="footer__menu__item">О проекте</li>
              <li nz-col nzSpan="24" class="footer__menu__item">Работайте с нами</li>
              <li nz-col nzSpan="24" class="footer__menu__item">Чат поддержки</li>
              <li nz-col nzSpan="24" class="footer__menu__item">FAQ</li>
            </ul>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="24" class="footer__block">
        <div nz-row [nzGutter]="[0, {md: 20, lg: 0, xl: 0}]">
          <div nz-col nzMd="24" nzLg="8" nzXl="8">
            <div nz-row [nzGutter]="[16, 0]">
              <div nz-col>
                <span class="footer__menu__title">Телефон:</span>            
              </div>
              <div nz-col>
                <a href="tel:998994311902" class="footer__menu__item">+998 (99) 431 19 02</a>
              </div>
            </div>
          </div>
          <div nz-col nzMd="24" nzLg="8" nzXl="8">
            <div nz-row [nzGutter]="[16, 0]">
              <div nz-col>
                <span class="footer__menu__title">Email:</span>                            
              </div>
              <div nz-col>
                <a class="footer__menu__item">agrovet@outlook.com</a>
              </div>
            </div>
          </div>
          <div nz-col nzMd="24" nzLg="8" nzXl="8">
            <div nz-row [nzGutter]="[16, 0]">
              <div nz-col>
                <span class="footer__menu__title">Соц сети:</span>            
              </div>
              <div nz-col>
                <a class="footer__menu__item">INSTAGRAM</a>
              </div>
              <div nz-col>
                <a class="footer__menu__item">FACEBOOK</a>
              </div>
              <div nz-col>
                <a class="footer__menu__item">TELEGRAM</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="24" class="footer__block">
        <div nz-row>
          <div nz-col>
            <span class="footer__menu__title">2021 AgroBank</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
