<div class="container">
  <div class="mission">
    <div nz-row>
      <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
        <div class="mission__info">
          <h3 nz-typography class="mission__title">Наша миссия</h3>
          <p nz-typography class="mission__text">
            Развивать сельское хозяйство через внедрение цифровых технологий.
            Создать единую электронную платформу с целью расширения бизнес
            возможностей и географии деятельности участников агрорынка
            Узбекистана.
          </p>
        </div>
      </div>
      <div nz-col nzXs="16" nzSm="16" nzMd="16" nzLg="16" nzXl="16">
        <div class="mission__img text-end">
          <img src="./assets/images/agrozamin/mission-img.png" alt="mission" />
        </div>
      </div>
    </div>
  </div>
</div>
