<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="editingData ? 'Изменить' : 'Добавить'"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="form" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label>Родительские категории</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-tree-select
            style="width: 100%"
            [(ngModel)]="value"
            [nzNodes]="nodes"
            [nzAllowClear]="false"
            [nzMultiple]="true"
            (ngModelChange)="onChange($event)"
          ></nz-tree-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>Фильтры</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-tree-select
            style="width: 100%"
            [(ngModel)]="value"
            [nzNodes]="nodes"
            (ngModelChange)="onChange($event)"
            nzShowSearch
            nzCheckable
            nzPlaceHolder="Please select"
          ></nz-tree-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>Тип объявления</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-select
            [nzMaxTagCount]="3"
            [nzMaxTagPlaceholder]="tagPlaceHolder"
            nzMode="multiple"
            nzPlaceHolder="Please select"
            [(ngModel)]="listOfSelectedValue"
          >
            <nz-option
              *ngFor="let item of listOfOption"
              [nzLabel]="item"
              [nzValue]="item"
            ></nz-option>
          </nz-select>
          <ng-template #tagPlaceHolder let-selectedList
            >and {{ selectedList.length }} more selected</ng-template
          >
        </nz-form-control>
      </nz-form-item>

      <h3>Название</h3>
      <nz-form-item>
        <nz-form-label>Русский</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <input nz-input type="text" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>Узбек</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <input nz-input type="text" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>O'zbek</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <input nz-input type="text" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzSpan]="24">
          <div class="clearfix">
            <nz-upload
              nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
              nzListType="picture"
              [nzPreviewFile]="previewFile"
            >
              <button nz-button>
                <i nz-icon nzType="upload"></i>
                Upload
              </button>
            </nz-upload>
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
