<div nz-row>
  <div nz-col nzXs="22" nzSm="20" nzMd="22" nzLg="20" nzXl="20">

    <div nz-row nzAlign="middle" [nzGutter]="[5, 5]">
      <div nz-col nzXs="22" nzSm="22" nzMd="22" nzLg="22" nzXl="14"><h3 nz-typography class="legal__title">Юридические данные</h3></div>
      <div nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="0" nzXl="10" style="text-align: end;"><a nz-button nzType="link" (click)="showModal()" class="text-size-16">Изменить юридические данные</a></div>
      <div nz-col nzXs="2" nzSm="2" nzMd="2" nzLg="2" nzXl="0" style="text-align: end;" ><a nz-button nzType="link" class="text-size-16">
        <i nz-icon nzType="edit"></i></a>
      </div>
    </div>

    <nz-divider></nz-divider>
    <div nz-row nzAlign="middle" [nzGutter]="[5, 5]">
      <div nz-col nzXs="24" nzSm="12" nzMd="5" nzLg="6" nzXl="6"><span nz-typography nzType="secondary" class="font-agro-medium text-size-16">Название компании</span></div>
      <div nz-col nzXs="24" nzSm="12" nzMd="6" nzLg="6" nzXl="6"><span nz-typography class="legal__value">AgroInvest</span></div>
      <div nz-col nzXs="24" nzSm="24" nzMd="13" nzLg="12" nzXl="12"></div>
    </div>
    <nz-divider></nz-divider>
    <div nz-row nzAlign="middle" [nzGutter]="[5, 5]">
      <div nz-col nzXs="24" nzSm="12" nzMd="5" nzLg="6" nzXl="6"><span nz-typography nzType="secondary" class="font-agro-medium text-size-16">Банк</span></div>
      <div nz-col nzXs="24" nzSm="12" nzMd="6" nzLg="6" nzXl="6"><span nz-typography class="legal__value">Agro Bank</span></div>
      <div nz-col nzXs="24" nzSm="24" nzMd="13" nzLg="12" nzXl="12"></div>
    </div>
    <nz-divider></nz-divider>
    <div nz-row nzAlign="middle" [nzGutter]="[5, 5]">
      <div nz-col nzXs="24" nzSm="12" nzMd="5" nzLg="6" nzXl="6"><span nz-typography nzType="secondary" class="font-agro-medium text-size-16">ИНН</span></div>
      <div nz-col nzXs="24" nzSm="12" nzMd="6" nzLg="6" nzXl="6"><span nz-typography class="legal__value">658424</span></div>
      <div nz-col nzXs="24" nzSm="24" nzMd="13" nzLg="12" nzXl="12"><span nz-typography>Ваш ИНН используется для юридической деятельности в  стистеме AgroID</span></div>
    </div>
    <nz-divider></nz-divider>
    <div nz-row nzAlign="middle" [nzGutter]="[5, 5]">
      <div nz-col nzXs="24" nzSm="12" nzMd="5" nzLg="6" nzXl="6"><span nz-typography nzType="secondary" class="font-agro-medium text-size-16">МФО</span></div>
      <div nz-col nzXs="24" nzSm="12" nzMd="6" nzLg="6" nzXl="6"><span nz-typography class="legal__value">85213845</span></div>
      <div nz-col nzXs="24" nzSm="24" nzMd="13" nzLg="12" nzXl="12"><span nz-typography>Ваш MФО используется для юридической деятельности в  стистеме AgroID</span></div>
    </div>
    <nz-divider></nz-divider>
    <div nz-row nzAlign="middle" [nzGutter]="[5, 5]">
      <div nz-col nzXs="24" nzSm="12" nzMd="5" nzLg="6" nzXl="6"><span nz-typography nzType="secondary" class="font-agro-medium text-size-16">Расчетный счет</span></div>
      <div nz-col nzXs="24" nzSm="12" nzMd="6" nzLg="6" nzXl="6"><span nz-typography class="legal__value">98465489465188</span></div>
      <div nz-col nzXs="24" nzSm="24" nzMd="13" nzLg="12" nzXl="12"><span nz-typography>Ваш расчетный счет используется для юридической деятельности</span></div>
    </div>
    <nz-divider></nz-divider>

  </div>
  <div nz-col nzXs="2" nzSm="2" nzMd="2" nzLg="4" nzXl="4"></div>
</div>




<nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()">
  <div *nzModalTitle>
    <h4 nz-typography>Юридические данные</h4>
  </div>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm" nzLayout="vertical" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="company">Название компании</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Поле обязательно для заполнения">
          <input nz-input type="text" formControlName="companyName" id="company" nzSize="large" placeholder="Название вашей компании">
        </nz-form-control>
      </nz-form-item >
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="bank">Банк</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Поле обязательно для заполнения">
          <input nz-input type="text" formControlName="bank" id="bank" nzSize="large" placeholder="Наименование банка в котором вы обслуживаетесь">
        </nz-form-control>
      </nz-form-item >
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="stir">ИНН</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Поле обязательно для заполнения">
          <input nz-input type="number" formControlName="stir" id="stir" nzSize="large" placeholder="Введите ИНН вашей организации">
        </nz-form-control>
      </nz-form-item >
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="mfo">МФО</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Поле обязательно для заполнения">
          <input nz-input type="number" formControlName="mfo" id="mfo" nzSize="large" placeholder="Введите МФО">
        </nz-form-control>
      </nz-form-item >
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="paymentAccount">Расчетный счет</nz-form-label>
        <nz-form-control nzErrorTip="Поле обязательно для заполнения" [nzSpan]="24">
          <input nz-input type="number" formControlName="paymentAccount" id="paymentAccount" nzSize="large" placeholder="Введите ваш расчетьный счет">
        </nz-form-control>
      </nz-form-item >
    </form>
  </ng-container>
  <div *nzModalFooter nz-row nzGutter="20">
    <div nz-col nzSpan="12"><button class="font-agro-medium" nz-button nzType="default" nzBlock (click)="handleCancel()">Отмена</button></div>
    <div nz-col nzSpan="12"><button class="font-agro-medium" nz-button nzType="primary" nzBlock (click)="submitForm()">Сохранить</button></div>
  </div>
</nz-modal>