.legal {
    &__title {
        font-size: 28px;
        line-height: 40px;
        margin: 0;
        font-family: Agrofont-Black;

        @media (max-width: 576px) {
            font-size: 22px;
            line-height: 32px;
        }
    }

    &__value {
        font-size: 18px;
        line-height: 20px;
    }
}

