<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="(editingData?.id ? 'edit' : 'add') | translate"
  (nzOnCancel)="close()"
  [nzWidth]="'1000px'"
  modal
>
  <div *nzModalContent>
    <form [formGroup]="form" nz-form nzLayout="vertical">
      <div nz-row>
        <div nz-col nzSpan="11" class="pr-1 overflow-auto max-height">
          <!-- KEY -->
          <nz-form-item>
            <nz-form-label nzFor="key">{{ "key" | translate }}</nz-form-label>
            <nz-form-control [nzErrorTip]="errorKey">
              <input nz-input formControlName="key" name="key" type="text" />
            </nz-form-control>
            <ng-template #errorKey let-control>
              <error [control]="control"></error>
            </ng-template>
          </nz-form-item>

          <h3>{{ "description" | translate }}</h3>

          <div formGroupName="description">
            <nz-form-item *ngFor="let language of language$ | async">
              <nz-form-label nzFor="text">{{ language.name }}</nz-form-label>
              <nz-form-control [nzErrorTip]="'fillTheInput' | translate">
                <textarea
                  rows="3"
                  nz-input
                  [name]="language.code"
                  [formControlName]="language.code"
                  type="text"
                ></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-col nzSpan="13" class="pl-1">
          <!-- ACCESS CONTROL -->
          <az-transfer
            class="header--d-none"
            [title]="'accessControl' | translate"
            [transferItems]="transferingAccessControls"
            [height]="220"
            (nzSelectChange)="selectChangeAccessControls($event)"
            (nzChange)="changedAccessControlPosition($event)"
          ></az-transfer>

          <!-- ACCESS ACTION -->
          <div class="mt-1">
            <az-transfer
              [title]="'accessAction' | translate"
              [transferItems]="transferingAccessActions"
              (nzChange)="changedAccessActionPosition($event)"
              [height]="200"
            ></az-transfer>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div *nzModalFooter>
    <button (click)="submit()" nz-button nzType="primary">
      {{ "save" | translate }}
    </button>
  </div>
</nz-modal>
