<form [formGroup]="form">
  <div [formGroupName]="formGroupName" [ngClass]="{ 'd-flex': inline }">
    <nz-form-item
      *ngFor="let language of language$ | async"
      [ngClass]="{ 'flex-grow-1 pr-1': inline }"
    >
      <nz-form-label [nzFor]="language.code">{{ language.name }}</nz-form-label>
      <nz-form-control [nzErrorTip]="error">
        <ng-container *ngIf="inputType == 'textarea'; else justInput">
          <textarea
            [rows]="rows"
            nz-input
            [id]="language.code"
            [name]="language.code"
            [formControlName]="language.code"
            type="text"
          ></textarea>
        </ng-container>
        <ng-template #justInput>
          <input
            nz-input
            [id]="language.code"
            [name]="language.code"
            [formControlName]="language.code"
            type="text"
          />
        </ng-template>
      </nz-form-control>
      <ng-template #error let-control>
        <error [control]="control"></error>
      </ng-template>
    </nz-form-item>
  </div>
</form>
