<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="'add' | translate"
  (nzOnCancel)="close()"
  nzWidth="900px"
  modal
>
  <div *nzModalContent>
    <form [formGroup]="form" nz-form nzLayout="vertical">
      <div nz-row>
        <div nz-col nzSpan="12" class="pl-1 pr-1">
          <!-- KEY -->
          <nz-form-item>
            <nz-form-label nzFor="key">{{ "key" | translate }}</nz-form-label>
            <nz-form-control [nzErrorTip]="errorKey">
              <input nz-input formControlName="key" name="key" type="text" />
            </nz-form-control>
            <ng-template #errorKey let-control>
              <error [control]="control"></error>
            </ng-template>
          </nz-form-item>

          <!-- PROJECTS -->
          <az-transfer-projects
            [transferItems]="transferingProjects"
          ></az-transfer-projects>
        </div>
        <div
          nz-col
          nzSpan="12"
          class="pl-1 pr-1 overflow-auto languages--height"
        >
          <nz-form-item *ngFor="let language of languages">
            <nz-form-label nzFor="text">{{ language.name }}</nz-form-label>
            <nz-form-control [nzErrorTip]="'fillTheInput' | translate">
              <textarea
                rows="3"
                nz-input
                [name]="language.code"
                [formControlName]="language.code"
                type="text"
              ></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </div>
  <div *nzModalFooter>
    <button (click)="submit()" nz-button nzType="primary">
      {{ "save" | translate }}
    </button>
  </div>
</nz-modal>
