<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Add"
  (nzOnCancel)="close()"
  (nzOnOk)="close()"
  modal
>
  <div *nzModalContent>
    <form [formGroup]="form" nz-form nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzFor="key">Key</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="key" name="key" type="text" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngFor="let language of languages">
        <nz-form-label nzFor="text">{{ language.name }}</nz-form-label>
        <nz-form-control>
          <textarea
            nz-input
            [name]="language.code"
            [formControlName]="language.code"
            type="text"
          ></textarea>
        </nz-form-control>
      </nz-form-item>
    </form>

    <nz-transfer
      [nzDataSource]="list"
      [nzDisabled]="disabled"
      [nzTitles]="['Source', 'Target']"
      [nzListStyle]="{ 'width.px': 250, 'height.px': 200 }"
    ></nz-transfer>
    <div style="margin-top: 8px">
      <nz-switch
        name="disabled"
        ngDefaultControl
        [(ngModel)]="disabled"
        nzCheckedChildren="disabled"
        nzUnCheckedChildren="disabled"
      ></nz-switch>
      <div></div>
    </div>
  </div>
  <div *nzModalFooter>
      <div 
      [ngClass]="{ 'not-allowed': isWaitingResponse$ | async }">
      <button (click)="submit()" [nzLoading]="isWaitingResponse$ | async" nz-button nzType="primary">Custom Submit</button>
    </div>
  </div>
</nz-modal>
