.card {
  background: #fff;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 30px rgba(26, 26, 26, 0.1);
  }

  &:active {
    outline: 1.5px solid #22a33f;
  }

  &__grid {
    &__top {
      height: 225px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      border-radius: 8px 8px 0 0;
      padding: 16px;
      position: relative;

      @media (max-width: 576px) {
        padding: 10px;
      }

      @media (max-width: 450px) {
        height: 155px;
      }
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      // width: 225px;
      width: 100%;
      height: 225px;
      border-radius: 8px 8px 0 0;

      @media (max-width: 450px) {
        height: 155px;
      }

      img {
        border-radius: 8px 8px 0 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &__bottom {
      padding: 20px;

      @media (max-width: 360px) {
        padding: 10px;
      }

      &__title {
        margin-bottom: 0;
        font-size: 14px;
        font-family: Agrofont-Medium;
        color: #1a1a1a;
        line-height: 17px;

        @media (max-width: 360px) {
          font-size: 12px;
        }
      }

      &__subtitle {
        font-size: 16px;
        font-family: Agrofont-Bold;
        color: #1b59b7;
        line-height: 20px;
        margin: 8px 0 16px 0;

        @media (max-width: 360px) {
          height: 35px;
          margin-bottom: 0;
          font-size: 14px;
        }
      }

      &__undertitle {
        font-size: 12px;
        font-family: Agrofont-Regular;
        color: #86898c;
        margin-bottom: 0;
      }

      &__tag {
        margin-bottom: 10px;
      }
    }

    .title_height {
      height: 36px;
    }
  }

  &__list {
    &__left {
      height: 260px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      padding: 16px;
      border-radius: 8px 0 0 8px;
      overflow: hidden;
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 8px 0 0 8px;

      img {
        border-radius: 8px 0 0 8px;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &__right {
      padding: 24px 24px 24px 20px;
      height: 100%;

      &__title {
        font-size: 18px;
        font-family: Agrofont-Medium;
        color: #1a1a1a;
        line-height: 23px;
        margin-bottom: 12px;
      }

      &__text {
        font-size: 14px;
        font-family: Agrofont-Regular;
        color: #1a1a1a;
        line-height: 18px;
        height: 72px;
      }

      &__info {
        width: 402px;
      }

      .location {
        a {
          display: flex;
          align-items: center;
          font-size: 14px;
          font-family: Agrofont-Regular;

          span {
            margin-left: 6px;
            font-size: 14px;
            font-family: Agrofont-Regular;
          }
        }

        p {
          margin-bottom: 0;
          display: flex;
          align-items: center;
          span {
            margin-left: 4px;
          }
        }
      }

      &__subtitle {
        font-size: 20px;
        color: #22a33f;
        line-height: 25px;
        margin: 0;
        font-family: Agrofont-Bold;
      }

      &__underprice {
        font-size: 12px;
        color: #86898c;
        font-family: Agrofont-Regular;
      }
    }

    &__derection {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.favorite-icon {
  font-size: 24px;
}
