.confirm-text{
    margin-top: 4vw;
    // padding-left: 45px;
 }
 p{
     font-size: 16px;
 }
h3{
    font-size: 36px;
    font-weight: 700;
}

.confirm-control {
    width: 30px;
}

.confirm-form {
    max-width: 400px;
    width: 100%;
    margin: auto;
}

.confirm-btn{
    margin-top: 20px;
}
