:host ::ng-deep {
  .callback {
    svg {
      path {
        fill: #22a33f !important;
      }
    }

    &:hover {
      background: #22a33f !important;

      svg {
        path {
          fill: #fff !important;
        }
      }
    }
  }

  .back-to-top {
    svg {
      path {
        stroke: #22a33f !important;
      }
    }

    &:hover {
      background: #22a33f !important;

      svg {
        path {
          stroke: #fff !important;
        }
      }
    }
  }
}
