// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../../../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.les
// @primary-color: #1890ff;
/* You can add global styles to this file, and also import other style files */

@primary-color: #3c4bdc;
@form-item-margin-bottom: 10px;
@btn-height-base: 42px;
.height-100 {
  height: 100%;
}

.divider-custom-top {
  margin-top: 10px;
}

.divider-custom-bottom {
  margin-bottom: 4px;
}

.custom-btn {
  max-width: 300px;
  width: 100%;
  margin: auto;
}

.agro-id-form-title {
  font-size: 36px;
  line-height: 38px;
  font-weight: 700;
}
