.sellerInfo{

    @media (max-width: 992px) {
        padding: 10px;
    }

    background: #fff;
    border-radius: 8px;
    &__img{
        width: 180px;
        height: 180px;

        @media (max-width: 992px) {
            width: 160px;
            height: 160px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

   
    &__body{
        padding-top: 12px;

        @media (max-width: 1200px) {
            padding-left: 10px;
        }
        &__title{
            h3{
                font-size: 18px;
                line-height: 23px;
                font-family: Agrofont-Medium;
                margin: 0;
            }
        }
        &__info{
            p{
                margin: 0;
                color: #86898C;
            }
            span{
                color: #86898C;
            }
        }
        &__semena{
            p{
                font-size: 10px;
                margin: 0;
            }
                    padding: 7px 8px;
                    background: #FCE7E6;
                    border-radius: 4px; 
                    color: #D92D20;
                    &:hover{
                        background: #D92D20;    
                        color: #fff;               
                    }    
                }
        &__jivotniy{
            p{
                font-size: 10px;
                margin: 0;
            }
                    padding: 7px 8px;
                    background: #E6F5FC;
                    border-radius: 4px;  
                    color: #0BA5EC; 
                    &:hover{
                        background: #0BA5EC;    
                        color: #fff;               
                    }
             }
        &__texnika{
            p{
                font-size: 10px;
                margin: 0;
            }
                    padding: 7px 8px;
                    background: #E6E8FC;
                    border-radius: 4px;  
                    color: #6172F3; 
                    &:hover{
                        background: #6172F3;    
                        color: #fff;               
                    }
            }
        &__fermer{
            p{
                font-size: 10px;
                margin: 0;
            }
                    padding: 7px 8px;
                    background: #E6FCFC;
                    border-radius: 4px; 
                    color: #00BFBF;
                    &:hover{
                        background: #00BFBF;    
                        color: #fff;               
                    }
                }

        &__bottom{
            padding-top: 23px;
            p{
                margin: 0;
            }
        }
    }

    &__right{
        padding-top: 12px;
        padding-left: 18px;
    }

}

.green {
display: inline-block;
width: 8px;
height: 8px;
border-radius: 50%;
background: #52C41A;
margin-right: 8px;
}

.grey {
display: inline-block;
width: 8px;
height: 8px;
border-radius: 50%;
background: grey;
margin-right: 8px;
}