<div nz-row class="h-100">
  <div nz-col nzXs="1" nzSm="2" nzMd="2" nzLg="2" nzXl="2"></div>
  <div
    nz-col
    nzXs="22"
    nzSm="20"
    nzMd="20"
    nzLg="20"
    nzXl="20"
    class="d-flex flex-column"
  >
    <div class="flex-grow-1 d-flex align-items-center">
      <div>
        <h2 nz-typography class="title">{{ "recover" | translate }}</h2>
        <nz-divider></nz-divider>

        <div nz-row [nzGutter]="[15, 20]">
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <div nzBlock class="custom-card grid" routerLink="by-login">
              <i nz-icon nzType="user" nzTheme="outline"></i>
              {{ "byLogin" | translate }}
            </div>
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <div class="custom-card grid" routerLink="by-contacts">
              <i nz-icon nzType="phone" nzTheme="outline"></i>
              {{ "byContacts" | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <back-and-language></back-and-language>
  </div>
  <div nz-col nzXs="1" nzSm="2" nzMd="2" nzLg="2" nzXl="2"></div>
</div>
