
<div class="messages">
  <div nz-row>
    <div nz-col nzSpan="8" class="messages__left">
      <div nz-row class="messages__left__content">
        <div nz-col nzSpan="24" class="messages__left__content__input">
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" nz-input placeholder="Поиск объявления" />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button nzSearch><i nz-icon nzType="search"></i></button>
          </ng-template>
        </div>

        <div routerLink="messages/messages2" nz-col nzSpan="24" class="messages__left__content__user" *ngFor="let user of users">
          <div nz-row style="padding: 12px;" > 

            <div nz-col nzSpan="4">
              <div class="messages__left__users__item__img">
                <img [src]="user.img" alt="" />
              </div>
            </div>
            <div nz-col nzSpan="16">
              <div nz-row>
                <div nz-col nzSpan="24">
                  <p> {{user.title}} </p>
                </div>
                <div nz-col nzSpan="24">
                  <span> {{user.count}} </span>
                </div>
              </div>
            </div>
            <div nz-col nzSpan="4" style="padding-top: 8px">
              <a><i nz-icon nzType="right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div nz-col nzSpan="16" class="messages__body">
      <div nz-row class="messages__body__content">
        <div nz-col nzSpan="24" class="messages__body__content__top">
          <div nz-row>
            <div nz-col nzSpan="22"></div>
            <div nz-col> 
              <i nz-icon
              nz-popover              
              [nzPopoverContent]="contentTemplate"
              nzPopoverPlacement="bottomRight"
              nzPopoverTrigger="click"
              >
                  <img src="/assets/images/top-button.png" alt="">
              </i>
            </div>
          </div>
        </div>

        <div nz-col nzSpan="24" class="messages__body__content__middle">

        </div>
       
        <div nz-col nzSpan="24" class="messages__body__content__footer">
          <div>
            
              <nz-input-group nzSize="large" [nzSuffix]="suffixTemplateInfo" [nzPrefix]="prefixTemplateUser">
                <input  type="text" nz-input placeholder="Написать сообщение" />
              </nz-input-group>
              <ng-template #prefixTemplateUser><i  nz-button  style="padding-left: 10px;"> <img src="/assets/images/attach.png" alt=""></i></ng-template>
           
              <ng-template #suffixTemplateInfo>
                  <i nz-icon ><img src="/assets/images/emoji.png" alt=""></i>
                  <button  nz-button ><img src="/assets/images/send-attach.png" alt=""></button>
              </ng-template>

          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<ng-template #contentTemplate>
  <div class="popover">
   <div nz-row [nzGutter]="[0,5]">
     <div nz-col  nzSpan="24" class="popover__content">
      <div class="popover__content__item">
        <div nz-row>
          <div nz-col nzSpan="4">
            <img src="../../../../../../../../assets/images/archive.png" alt="">
          </div>
          <div nz-col nzSpan="20">
            <p>Архивировать</p>
          </div>
        </div>
      </div>
    </div>
    <div nz-col  nzSpan="24" class="popover__content">
      <div class="popover__content__item">
        <div nz-row>
          <div nz-col nzSpan="4">
            <img src="../../../../../../../../assets/images/bookmark.png" alt="">
          </div>
          <div nz-col nzSpan="20">
            <p>Сохранить</p>
          </div>
        </div>
      </div>
    </div>
    <div nz-col  nzSpan="24" class="popover__content">
      <div class="popover__content__item">
        <div nz-row>
          <div nz-col nzSpan="4">
            <img src="../../../../../../../../assets/images/block.png" alt="">
          </div>
          <div nz-col nzSpan="20">
            <p>Заблокировать</p>
          </div>
        </div>
      </div>
    </div>
    <div nz-col  nzSpan="24" class="popover__content">
      <div class="popover__content__item">
        <div nz-row>
          <div nz-col nzSpan="4">
            <img src="../../../../../../../../assets/images/unlock.png" alt="">
          </div>
          <div nz-col nzSpan="20">
            <p>Разблокировать</p>
          </div>
        </div>
      </div>
    </div>
   </div>
  </div>
</ng-template>