<div class="header" (window:resize)="onResize()">
  <nav class="nav">
    <div class="container">
      <div nz-row>
        <div nz-col nzSpan="24" class="nav__top">
          <div nz-row nzAlign="middle">
            <div nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="0" nzXl="12">
              <ul class="nav__menu" nz-row>
                <li nz-col class="nav__menu-item">
                  <a [routerLink]="'about'">О проекте</a>
                </li>
                <li nz-col class="nav__menu-item">
                  <a [routerLink]="'faq'">Помощь</a>
                </li>
                <li nz-col class="nav__menu-item">
                  <span class="link-divider"></span>
                </li>
                <li nz-col class="nav__menu-item">
                  <a>Банковские продукты</a>
                </li>
                <li nz-col class="nav__menu-item"><a>Онлайн консультант</a></li>
              </ul>
            </div>
            <div nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="0" nzXl="9">
              <div nz-row nzAlign="middle" [nzGutter]="[24, 0]" nzJustify="end">
                <div nz-col class="nav__currency text-end">
                  <i class="red" nz-icon nzType="fall" nzTheme="outline"></i>
                  <span nz-typography>USD 10 677.66</span>
                </div>
                <div nz-col class="nav__weather">
                  <img
                    width="20"
                    src="./assets/images/agrozamin/sun-svg.svg"
                    alt="weather-icon"
                  />
                  <span nz-typography>27 °C</span>
                </div>
              </div>
            </div>
            <div
              nz-col
              nzXs="0"
              nzSm="0"
              nzMd="0"
              nzLg="0"
              nzXl="3"
              class="ml-a"
            >
              <div nz-row>
                <div nz-col nzSpan="24" class="text-end">
                  <span nz-typography class="select-desc">Язык:</span>
                  <nz-select
                    [(ngModel)]="lang"
                    nzBorderless
                    class="nav__select"
                    style="padding-right: 0"
                    [nzDropdownMatchSelectWidth]="false"
                    [nzOptionHeightPx]="35"
                  >
                    <nz-option nzCustomContent nzValue="2" nzLabel="Ўзбекча">
                      <div class="nav__select__option">
                        <img
                          src="./assets/images/agrozamin/uzbekistan-flag.png"
                          alt=""
                        />
                        <span style="margin-left: 8px">Ўзбекча</span>
                      </div>
                    </nz-option>
                    <nz-option nzCustomContent nzValue="3" nzLabel="O'zbekcha">
                      <div class="nav__select__option">
                        <img
                          src="./assets/images/agrozamin/uzbekistan-flag.png"
                          alt=""
                        />
                        <span style="margin-left: 8px">O'zbekcha</span>
                      </div>
                    </nz-option>
                    <nz-option nzCustomContent nzValue="1" nzLabel="Русский">
                      <div class="nav__select__option">
                        <img
                          src="./assets/images/agrozamin/russia-flag.png"
                          alt=""
                        />
                        <span style="margin-left: 8px">Русский</span>
                      </div>
                    </nz-option>
                    <nz-option nzCustomContent nzValue="4" nzLabel="English">
                      <div class="nav__select__option">
                        <img
                          src="./assets/images/agrozamin/english-uk-flag.png"
                          alt=""
                        />
                        <span style="margin-left: 8px">English</span>
                      </div>
                    </nz-option>
                  </nz-select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div nz-col nzSpan="24" class="nav__middle">
          <div nz-row nzAlign="middle">
            <div nz-col nzXs="22" nzSm="14" nzMd="12" nzLg="8" nzXl="9">
              <a [routerLink]="'./'">
                <img src="./assets/images/agrozamin/logo.svg" alt="logo" />
              </a>
            </div>
            <div
              nz-col
              nzXs="0"
              nzSm="0"
              nzMd="0"
              nzLg="11"
              [nzXl]="isUserAuthenticated ? 8 : 11"
            >
              <div nz-row [nzGutter]="[24, 0]" nzJustify="end">
                <div nz-col class="nav__contacts">
                  <a href="tel:998781500088"
                    ><img
                      src="./assets/images/agrozamin/phone-icon.svg"
                      alt="icon"
                    /><span nz-typography>(78) 150–00–88</span></a
                  >
                </div>
                <div nz-col class="nav__contacts">
                  <a
                    ><img
                      src="./assets/images/agrozamin/chat-icon.svg"
                      alt="icon"
                    /><span nz-typography>On-line чат</span></a
                  >
                </div>
              </div>
            </div>

            <div
              nz-col
              nzXs="0"
              nzSm="0"
              nzMd="0"
              nzLg="0"
              [nzXl]="isUserAuthenticated ? 7 : 4"
            >
              <div nz-row [nzGutter]="[8, 0]" nzJustify="end">
                <div nz-col>
                  <button
                    nz-button
                    nzType="default"
                    nzSize="large"
                    nz-popover
                    nzPopoverTrigger="click"
                    [nzPopoverContent]="contentTemplate"
                    nzPopoverPlacement="bottomRight"
                  >
                    <i
                      ><img
                        src="./assets/images/agrozamin/services-icon.svg"
                        alt="icon"
                    /></i>
                  </button>
                </div>

                <div nz-col *ngIf="!isUserAuthenticated">
                  <button
                    nz-button
                    nzType="default"
                    nzSize="large"
                    (click)="navigate()"
                  >
                    <i nz-icon nzType="user" nzTheme="outline"></i>
                    Войти
                  </button>
                </div>

                <div nz-col *ngIf="isUserAuthenticated">
                  <nz-button-group (click)="navigate()">
                    <button
                      nz-button
                      nzType="default"
                      nzSize="large"
                      class="ava-btn"
                      *ngIf="profileImage"
                    >
                      <img
                        [src]="'./assets/images/agrozamin/ava.jpg'"
                        alt="ava-btn"
                      />
                    </button>
                    <button
                      nz-button
                      nzType="default"
                      nzSize="large"
                      class="ava-btn"
                      *ngIf="!profileImage"
                    >
                      <i nz-icon nzType="user" nzTheme="outline"></i>
                    </button>
                    <button nz-button nzType="default" nzSize="large">
                      Джаллолиддин Мангуберды
                    </button>
                  </nz-button-group>
                </div>
              </div>
            </div>

            <div nz-col nzXs="0" nzSm="8" nzMd="10" nzLg="4" nzXl="0">
              <div nz-row>
                <div nz-col nzSpan="24" class="text-end">
                  <span nz-typography class="select-desc">Язык:</span>
                  <nz-select
                    [(ngModel)]="lang"
                    nzBorderless
                    class="nav__select"
                    style="padding-right: 0"
                    [nzDropdownMatchSelectWidth]="false"
                    [nzOptionHeightPx]="35"
                  >
                    <nz-option nzCustomContent nzValue="2" nzLabel="Ўзбекча">
                      <div class="nav__select__option">
                        <img
                          src="./assets/images/agrozamin/uzbekistan-flag.png"
                          alt=""
                        />
                        <span style="margin-left: 8px">Ўзбекча</span>
                      </div>
                    </nz-option>
                    <nz-option nzCustomContent nzValue="3" nzLabel="O'zbekcha">
                      <div class="nav__select__option">
                        <img
                          src="./assets/images/agrozamin/uzbekistan-flag.png"
                          alt=""
                        />
                        <span style="margin-left: 8px">O'zbekcha</span>
                      </div>
                    </nz-option>
                    <nz-option nzCustomContent nzValue="1" nzLabel="Русский">
                      <div class="nav__select__option">
                        <img
                          src="./assets/images/agrozamin/russia-flag.png"
                          alt=""
                        />
                        <span style="margin-left: 8px">Русский</span>
                      </div>
                    </nz-option>
                    <nz-option nzCustomContent nzValue="4" nzLabel="English">
                      <div class="nav__select__option">
                        <img
                          src="./assets/images/agrozamin/english-uk-flag.png"
                          alt=""
                        />
                        <span style="margin-left: 8px">English</span>
                      </div>
                    </nz-option>
                  </nz-select>
                </div>
              </div>
            </div>
            <div
              nz-col
              nzXs="2"
              nzSm="2"
              nzMd="2"
              nzLg="1"
              nzXl="0"
              class="text-end"
            >
              <button
                nz-button
                nzType="default"
                nzSize="large"
                (click)="openAz()"
              >
                <i
                  ><img
                    src="./assets/images/agrozamin/header-burger.svg"
                    alt="burger"
                /></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>

<!-- DRAWER -->

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="azVisible"
  nzPlacement="right"
  [nzWidth]="azDrawerWidthValue"
>
  <ng-container *nzDrawerContent>
    <div class="az-drawer">
      <div nz-row [nzGutter]="[0, 0]">
        <div nz-col nzSpan="24">
          <div class="az-drawer_padding top">
            <div nz-row nzJustify="space-between">
              <div nz-col>
                <button
                  nz-button
                  nzType="default"
                  nzSize="large"
                  (click)="navigate()"
                >
                  <i nz-icon nzType="user" nzTheme="outline"></i>
                  {{ isUserAuthenticated ? "Профиль" : "Войти" }}
                </button>
              </div>
              <div nz-col>
                <button
                  nz-button
                  nzType="default"
                  nzSize="large"
                  (click)="closeAz()"
                >
                  <i nz-icon nzType="close" nzTheme="outline"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div nz-col nzXs="24" nzSm="0">
          <div class="az-drawer__language">
            <p nz-typography class="az-drawer__language__title">Язык</p>

            <div nz-row [nzGutter]="[20, 20]">
              <div nz-col nzSpan="12">
                <button
                  nzBlock
                  nz-button
                  nzType="default"
                  [disabled]="'2' === lang"
                  (click)="setLang('2')"
                >
                  Ўзбекча
                </button>
              </div>
              <div nz-col nzSpan="12">
                <button
                  nzBlock
                  nz-button
                  nzType="default"
                  [disabled]="'3' === lang"
                  (click)="setLang('3')"
                >
                  O'zbekcha
                </button>
              </div>
              <div nz-col nzSpan="12">
                <button
                  nzBlock
                  nz-button
                  nzType="default"
                  [disabled]="'1' === lang"
                  (click)="setLang('1')"
                >
                  Русский
                </button>
              </div>
              <div nz-col nzSpan="12">
                <button
                  nzBlock
                  nz-button
                  nzType="default"
                  [disabled]="'4' === lang"
                  (click)="setLang('4')"
                >
                  English
                </button>
              </div>
            </div>
          </div>
        </div>

        <div nz-col nzSpan="24">
          <div class="az-drawer_padding">
            <p nz-typography class="az-drawer__title">
              Другие площадки экосистемы
            </p>

            <div nz-row [nzGutter]="[0, 20]">
              <div nz-col *ngFor="let service of services" nzSpan="24">
                <div nz-row nzAlign="middle" [nzGutter]="[16, 0]">
                  <div nz-col>
                    <div class="az-drawer__service-image">
                      <img [src]="service.logo" alt="service logo" />
                    </div>
                  </div>
                  <div nz-col>
                    <h6 nz-typography class="az-drawer__service-name">
                      {{ service.name }}
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <nz-divider class="divider"></nz-divider>
        <div nz-col nzSpan="24">
          <div class="az-drawer_padding">
            <ul nz-row [nzGutter]="[0, 20]">
              <li nz-col nzSpan="24">
                <a nz-button nzType="link" class="az-drawer__link">
                  <i nz-icon nzType="info-circle" nzTheme="outline"></i>
                  <span>О проекте</span>
                </a>
              </li>
              <li nz-col nzSpan="24">
                <a nz-button nzType="link" class="az-drawer__link">
                  <i nz-icon nzType="question-circle" nzTheme="outline"></i>
                  <span>Помощь</span>
                </a>
              </li>
              <li nz-col nzSpan="24">
                <a nz-button nzType="link" class="az-drawer__link">
                  <i nz-icon nzType="bank" nzTheme="outline"></i>
                  <span>Банковские продукты</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <nz-divider class="divider"></nz-divider>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="0">
          <div class="az-drawer_padding bot">
            <div nz-row [nzGutter]="[0, 30]">
              <div nz-col nzSpan="24">
                <a href="tel:998781500088" class="az-drawer__contacts"
                  ><img
                    src="./assets/images/agrozamin/phone-icon.svg"
                    alt="icon"
                  /><span nz-typography>(78) 150–00–88</span></a
                >
              </div>
              <div nz-col nzSpan="24">
                <a class="az-drawer__contacts"
                  ><img
                    src="./assets/images/agrozamin/chat-icon.svg"
                    alt="icon"
                  /><span nz-typography>On-line чат</span></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</nz-drawer>

<!-- SERVICES POPUP -->

<ng-template #contentTemplate>
  <div class="agrozaminEkoSystem">
    <div nz-row class="agrozaminEkoSystem__container">
      <div class="agrozaminEkoSystem__container__head" nz-col nzSpan="19">
        <h3>Экосистема Agrozamin</h3>
        <p>
          Технологии для развития сельского хозяйства в едином цифровом
          пространстве
        </p>
        <h6>Другие площадки экосистемы</h6>
      </div>
      <div nz-col nzSpan="24">
        <div nz-row class="az-wrapper">
          <div
            class="agrozaminEkoSystem__container__body"
            *ngFor="let index of agrozaminEkoSystem; let isLast = last"
            nz-col
            nzSpan="24"
          >
            <div nz-row [nzGutter]="[20, 0]" nzAlign="middle">
              <div
                nz-col
                nzSpan="6"
                class="agrozaminEkoSystem__container__body__img"
              >
                <div>
                  <img [src]="index.img" alt="" />
                </div>
              </div>
              <div nz-col nzSpan="18">
                <div
                  class="agrozaminEkoSystem__container__body__text"
                  nz-row
                  [nzGutter]="[0, 8]"
                >
                  <div nz-col nzSpan="24">
                    <h3>{{ index.title }}</h3>
                  </div>
                  <div nz-col nzSpan="24">
                    <p>{{ index.description }}</p>
                  </div>
                </div>
              </div>
            </div>
            <nz-divider *ngIf="!isLast"></nz-divider>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
