<nz-modal [(nzVisible)]="config.isVisibleEditModal" (nzOnCancel)="editModalCancel()" (nzOnOk)="editModalOk()">
  <div *nzModalTitle>
    <h4 nz-typography>{{config.title}}</h4>
  </div>
  <ng-container *nzModalContent>
    <form nz-form nzLayout="vertical" [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label nzRequired="">Имя</nz-form-label>
        <nz-form-control>
          <input nz-input type="text" formControlName="firstName" nzSize="large">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>Фамилия</nz-form-label>
        <nz-form-control>
          <input nz-input type="text" formControlName="lastName" nzSize="large">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>Номер телефона</nz-form-label>
        <nz-form-control>
          <input nz-input type="number" formControlName="phone" nzSize="large">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>Дополнительный номер телефона (не обязательно)</nz-form-label>
        <nz-form-control>
          <input nz-input type="number" formControlName="additionalPhone" nzSize="large">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>Адресс электронной почты (не обязательно)</nz-form-label>
        <nz-form-control>
          <input nz-input type="mail" formControlName="mail" nzSize="large">
        </nz-form-control>
      </nz-form-item>
      
      <nz-upload
        nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
        (nzChange)="handleChange($event)"
      >
        <a nz-button>
          <i nz-icon nzType="upload"></i>
         Загрузить фотографию пользователя
        </a>
      </nz-upload>
    </form>
  </ng-container>
  <div *nzModalFooter>
    <div nz-row nzGutter="10">
      <div nz-col nzSpan="12"><button nz-button nzBlock (click)="handleCancel()">Отмена</button></div>
      <div nz-col nzSpan="12"><button nz-button nzBlock nzType="primary" (click)="handleOk()">Добавить</button></div>
    </div>
  </div>
</nz-modal>