<div class="category" style="background-color: #f8f9fc">
  <div class="container">
    <h2 nz-typography>Каталог</h2>
    <div nz-row [nzGutter]="[{xs: 0, sm: 20, md: 20, lg: 30, xl: 30}, 0]">
      <div nz-col nzXs="0" nzSm="8" nzMd="9" nzLg="8" nzXl="6">
        <div nz-row [nzGutter]="[0, 30]">
          <div nz-col nzSpan="24">
            <div class="menu">
              <ul nz-row class="menu__list" [nzGutter]="[0, 8]">
                <li
                  nz-col
                  nzSpan="24"
                  class="menu__item"
                  *ngFor="let category of categories; let isLast = last"
                >
                  <a
                    class="menu__link"
                    [routerLink]="[category.id]"
                    *ngIf="!isLast"
                    (click)="getCategoryId(category.id)"
                    ><img [src]="category.icon" alt="icon" /><span>{{
                      category.name
                    }}</span></a
                  >
                  <a class="menu__link active" *ngIf="isLast"
                    ><img [src]="category.icon" alt="icon" /><span>{{
                      category.name
                    }}</span></a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div nz-col nzSpan="24">
            <az-category-filter></az-category-filter>
          </div>
          <div nz-col nzSpan="24">
            <az-advertise></az-advertise>
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="16" nzMd="15" nzLg="16" nzXl="18">
        <az-all-category-items [categoryId]="catId"></az-all-category-items>
      </div>
    </div>
  </div>
</div>
