<div class="container">
    <div class="home">
      
      <div class="home__background">
        <img src="/assets/images/Background.png" alt="">
      </div>

      <div nz-row nzJustify="space-between">
        <div nz-col nzSpan="24">
          <div class="home__card">
            <div nz-row class="home__card__item">
              <div nz-col nzSpan="24" class="home__card__item__img">
                <div nz-row [nzGutter]="[15,0]" nzAlign="middle">
                  <div nz-col>
                    <h2>260</h2>
                  </div>
                  <div nz-col >
                    <div nz-row>
                      <div nz-col class="home__card__item__img__item">
                        <div>
                          <img src="/assets/images/card-user4.svg" alt="">
                        </div>                                          
                      </div>
                      <div nz-col class="home__card__item__img__item">
                        <div>
                          <img src="/assets/images/card-user3.svg" alt="">
                        </div>                                          
                      </div>
                      <div nz-col class="home__card__item__img__item">
                        <div>
                          <img src="/assets/images/card-user2.svg" alt="">
                        </div>                                          
                      </div>
                      <div nz-col class="home__card__item__img__item">
                        <div>
                          <img src="/assets/images/card-user1.svg" alt="">
                        </div>                                          
                      </div>              
                                      
                    </div>
                  </div>
                  
                
                </div>
              </div>
              <div nz-col nzSpan="24">
                <div class="home__card__item__desc">
                  <span>Человек прямо сейчас ищут специалиста</span>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div nz-col nzSpan="24" class="home__bottom">
          <div nz-row nzJustify="space-between" nzAlign="middle">
            <div nz-col nzSpan="20">
              <div nz-row>
                <div nz-col nzSpan="24" class="home__bottom__btn1">
                  <button nz-button>Уже больше</button>
                </div>
                <div nz-col class="home__bottom__number">
                  <h1>1260</h1>
                </div>
                <div nz-col nzSpan="24" class="home__bottom__btn2">
                  <button nz-button>Консультантов готовы помочь вам</button>
                </div>
                <div nz-col nzSpan="24" class="home__bottom__btn3">
                  <button nz-button>Прямо сейчас</button>
                </div>
              </div>
            </div>
            <div nz-col nzSpan="4">
              <div nz-row [nzGutter]="[0,24]">
                <div nz-col nzSpan="24"> 
                  <div class="home__bottom__card">
                    <div nz-row [nzGutter]="[0,25]">
                      <div nz-col class="home__bottom__card__title">
                        <h3>Стать
                          консультантом</h3>
                      </div>
                      <div nz-col class="home__bottom__card__desc">
                        <div nz-row nzAlign="middle" [nzGutter]="[10,0]">
                          <div nz-col nzSpan="20">
                            <span>Мы внимательны 
                              к животным и людям</span>
                          </div>
                          <div nz-col nzSpan="4">
                            <div>
                              <img src="/assets/images/Vector 9.svg" alt="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div nz-col nzSpan="24">
                  <div class="home__bottom__card2">
                    <div nz-row [nzGutter]="[0,10]">
                      <div nz-col class="home__bottom__card2__title">
                        <h3>Найти специалиста</h3>
                      </div>
                      <div nz-col class="home__bottom__card2__desc">
                        <div nz-row nzAlign="middle" [nzGutter]="[10,0]">
                          <div nz-col nzSpan="20">
                            <span>Вы можете найти 
                              подходящего именно  
                              вам специалиста </span>
                          </div>
                          <div nz-col nzSpan="4">
                            <div>
                              <img src="/assets/images/Vector 9.svg" alt="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
</div>
