<div class="invite">
  <div class="container">
    <div nz-row>
      <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
        <div class="invite__info">
          <h3 nz-typography>Приглашаем к сотрудничеству</h3>
          <p nz-typography>
            Учитывая ключевые сценарии поведения, начало повседневной работы по
            формированию позиции представляет собой интересный эксперимент
            проверки вывода текущих активов. Современные технологии достигли
            такого уровня, что консультация с широким активом представляет собой
            интересный эксперимент проверки соответствующих условий активизации.
            Сложно сказать, почему многие известные личности освещают
            чрезвычайно интересные особенности картины в целом, однако
            конкретные выводы, разумеется, представлены в исключительно
            положительном свете.
          </p>
          <button nz-button nzType="primary">Стать партнером</button>
        </div>
      </div>
      <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
        <div class="invite__img">
          <img
            src="./assets/images/agrozamin/invite-img.png"
            alt="invite-img"
          />
        </div>
      </div>
    </div>
  </div>
</div>
