<div class="container">
  <div nz-row  class="banner">

    <div nz-col nzSpan="24">
      <nz-carousel [nzEffect]="'fade'">

        
        <div nz-carousel-content *ngFor="let slide of bannerCarousel">
          <div nz-row >
            <div nz-col nzSpan="24">
              <div>
                <img [src]="slide.img" alt="">
              </div>
            </div>
            <div nz-col class="banner__text"  nzSpan="12">
              <h3 >{{slide.title}}</h3>
            
            <p>{{slide.description}}</p>
              <button nz-button nzType="primary"> {{slide.button}} </button>
            </div>
          </div>
        </div>
      </nz-carousel>
    </div>

  </div>
</div> 