<nz-layout class="height-100 cabinet">
  <nz-sider
    nzCollapsible
    nzWidth="250px"
    class="cabinet__sidebar indigo-bg"
    [nzTrigger]="null"
    [(nzCollapsed)]="isCollapsed"
    nzBreakpoint="lg"
    (nzCollapsedChange)="handleSidebarStyles($event)"
  >

  <div class="burger">
    <i
      class="trigger"
      nz-icon
      [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
      (click)="isCollapsed = !isCollapsed"
    ></i>
  </div>
  <span class="logo">AgroID</span> 
    <ul nzTheme="dark" nz-menu nzMode="inline" class="cabinet__sidebar__menu">
      <li nz-menu-item nzSelected nzMatchRouter routerLink="personal" >
        <i nz-icon nzType="user"></i>
        <span>Персональные данные</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="legalperson" >
        <i nz-icon nzType="idcard" nzTheme="outline"></i>
        <span>Юридическое лицо</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="biznescards" >
        <i nz-icon nzType="contacts" nzTheme="outline"></i>
        <span>Дополнительные контакты</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="agro-id">
        <i nz-icon nzType="logout" nzTheme="outline"></i>
        <span>Выход</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="help">
        <i nz-icon nzType="question-circle" nzTheme="outline"></i>
        <span>Помощь</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content style="overflow: auto;">
      <div class="height-100 cabinet__content" nz-row>
        <triangle></triangle>
        <div nz-col nzXs="1" nzSm="2" nzMd="2" nzLg="2" nzXl="2"></div>
        <div nz-col nzXs="22" nzSm="20" nzMd="20" nzLg="20" nzXl="20">
          <div style="padding-top: 10px">
            <ng-container *ngFor="let language of languages; let i = index">
              <button
                class="langBtn"
                nz-button
                (click)="onChangeLanguage(language)"
                [nzType]="
                  currentLanguageCode === language.code ? 'text' : 'link'
                "
              >
                {{ language.shortName }}
              </button>
              <nz-divider *ngIf="i !== languages.length - 1" nzType="vertical"></nz-divider>
            </ng-container>
          </div>

          <div style="margin-top: 5vh">
            <router-outlet></router-outlet>
          </div>
        </div>
        <div nz-col nzXs="1" nzSm="2" nzMd="2" nzLg="2" nzXl="2"></div>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>