/* .logo {
  height: 32px;
  margin-left: 3px;
  color: #fff;
  font-size: 24px;
}

.cabinet {
  background: none;
  &__content {
    position: relative;
    overflow-x: hidden;
  }

  &__sidebar {
    position: relative;
  }
}

.ant-menu-item-selected {
  color: #3c4bdc;
}

.sidebar__mobile {
  position: fixed;
  height: 100%;
  z-index: 1000;
  top: 0;
}

.sidebar__desktop {
  position: relative;
  z-index: 10;
  min-height: 100vh;
}

.sidebar__lang {
  .active {
    text-decoration: underline;
  }
}

.dropdown {
  &__active {
    display: block;
    width: max-content;
    margin: auto;
    padding-top: 15px;
    color: #cfd3d8;
    &:hover {
      color: #fff;
    }
  }
}
 */