/* .logo {

  height: 32px;
  margin-left: 3px;
  color: #fff;
  font-size: 24px;
}

.cabinet {
  background: none;
  &__content {
    position: relative;
    overflow-x: hidden;
  }

  &__sidebar {
    position: relative;
  }
}

.ant-menu-item-selected {
  color: #3c4bdc;
}

.sidebar__mobile {
  position: fixed;
  height: 100%;
  z-index: 1000;
  top: 0;
}

.sidebar__desktop {
  position: relative;
  z-index: 10;
  min-height: 100vh;
}

.sidebar__lang {
  .active {
    text-decoration: underline;
  }
}

.dropdown {
  &__active {
    display: block;
    width: max-content;
    margin: auto;
    padding-top: 15px;
    color: #cfd3d8;
    &:hover {
      color: #fff;
    }
  }
}
 */

:host {
  text-align: center;
}

nz-footer {
  background: #3c4bdc;
}

.cabinet {
  nz-header,
  nz-footer {
    background: #7dbcea;
    color: #fff;
  }

  nz-footer {
    line-height: 1.5;
    overflow: hidden;
  }

  nz-sider {
    background: #3c4bdc;
    color: #fff;
    .collapse {
      flex: 0 0 71px;
      max-width: 71px;
      min-width: 71px;
      width: 71px;
    }
  }

  nz-content {
    background: rgba(16, 142, 233, 1);
    color: #fff;
    min-height: 120px;
    line-height: 120px;
  }

  nz-layout {
    margin-bottom: 48px;
  }

  nz-layout nz-layout,
  nz-layout:last-child {
    margin: 0;
  }

  &__lang {
    line-height: 50px;
    margin-bottom: 44px;
  }

  &__logo {
    line-height: 15px;
    margin-bottom: 40px;
    padding-top: 20px;
    h2 {
      margin-bottom: 0;
      color: #fff;
      font-size: 40px;
      line-height: 42px;
    }
    span {
      color: #fff;
      font-size: 12px;
    }

    .collapsed-logo {
      margin-bottom: 50px;
    }
  }

  .logo-img {
    margin-bottom: 80px;
  }

  &__divider {
    background: #fff;
    opacity: 0.5;
  }
}

.ant-layout-footer {
  padding: 0px;
}

.trigger-btn {
  position: absolute;
  top: 20px;
  right: -12px;
  z-index: 10000;
  color: #b2b2b2;
  border-radius: 50%;
  outline: none;
  border: 1px solid #b2b2b2;
  width: 25px;
  height: 25px;

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
