<!-- HEADER -->
<div class="header" (window:resize)="onResize()">
  <nav class="nav">
    <div class="container">
      <div nz-row>
        <!-- HEADER TOP -->
        <div nz-col nzSpan="24" class="nav__top">
          <div nz-row nzAlign="middle">
            <div nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="12" nzXl="12">
              <ul class="nav__menu" nz-row>
                <li nz-col class="nav__menu-item">
                  <a [routerLink]="'about'">{{
                    "aboutTheProject" | translate
                  }}</a>
                </li>
                <li nz-col class="nav__menu-item">
                  <a [routerLink]="'faq'">{{ "help" | translate }}</a>
                </li>
                <li nz-col class="nav__menu-item">
                  <span class="link-divider"></span>
                </li>
                <li nz-col class="nav__menu-item">
                  <a>{{ "bankProducts" | translate }}</a>
                </li>
                <li nz-col class="nav__menu-item">
                  <a>{{ "onlineConsultant" | translate }}</a>
                </li>
              </ul>
            </div>

            <div
              nz-col
              nzXs="0"
              nzSm="0"
              nzMd="0"
              nzLg="12"
              nzXl="12"
              class="ml-a"
            >
              <div nz-row nzJustify="end" [nzGutter]="[24, 0]">
                <div nz-col>
                  <nz-select ngModel="1" nzBorderless>
                    <nz-option nzValue="1" nzLabel="Ташкент"></nz-option>
                    <nz-option nzValue="2" nzLabel="Самарканд"></nz-option>
                  </nz-select>
                </div>
                <div nz-col class="text-end">
                  <az-language
                    [title]="'language' | translate"
                    [template]="'dropdown'"
                  ></az-language>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- HEADER MIDDLE -->
        <div nz-col nzSpan="24" class="nav__middle">
          <div nz-row nzAlign="middle">
            <div nz-col nzXs="12" nzSm="10" nzMd="9" nzLg="7" nzXl="7">
              <a [routerLink]="'./'" class="nav__logo">
                <img src="./assets/images/logo.svg" alt="logo" />
              </a>
            </div>

            <div nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="17" nzXl="17">
              <div nz-row [nzGutter]="[98, 0]" nzAlign="middle" nzJustify="end">
                <div nz-col>
                  <div nz-row [nzGutter]="[24, 0]" nzJustify="end">
                    <div nz-col class="nav__contacts">
                      <a href="tel:998781500088"
                        ><img
                          src="./assets/images/phone-icon.svg"
                          alt="icon"
                        /><span nz-typography>(78) 150–00–88</span></a
                      >
                    </div>
                    <div nz-col class="nav__contacts">
                      <a
                        ><img
                          src="./assets/images/chat-icon.svg"
                          alt="icon"
                        /><span nz-typography>{{
                          "onlineChat" | translate
                        }}</span></a
                      >
                    </div>
                  </div>
                </div>

                <div nz-col>
                  <div nz-row [nzGutter]="[8, 0]" nzJustify="end">
                    <div nz-col>
                      <az-eco-system></az-eco-system>
                    </div>

                    <div nz-col *ngIf="!isUserAuthenticated">
                      <button
                        nz-button
                        nzType="default"
                        nzSize="large"
                        (click)="navigateToSignIn()"
                      >
                        <i nz-icon nzType="user" nzTheme="outline"></i>
                        {{ "toComeIn" | translate }}
                      </button>
                    </div>

                    <div nz-col *ngIf="isUserAuthenticated">
                      <button nz-button nzType="default" nzSize="large">
                        <i nz-icon nzType="heart" nzTheme="outline"></i>
                      </button>
                    </div>

                    <div nz-col *ngIf="isUserAuthenticated">
                      <button nz-button nzType="default" nzSize="large">
                        <i nz-icon nzType="bell" nzTheme="outline"></i>
                      </button>
                    </div>

                    <div nz-col *ngIf="isUserAuthenticated">
                      <nz-button-group
                        nz-popover
                        [nzPopoverContent]="contentTemplate"
                        [(nzPopoverVisible)]="isVisibleProfilePopupLg"
                        nzPopoverTrigger="click"
                        nzPopoverPlacement="bottomRight"
                      >
                        <button
                          nz-button
                          nzType="default"
                          nzSize="large"
                          class="ava-btn"
                          *ngIf="profileImage"
                        >
                          <img
                            [src]="(authorizedUser$ | async)?.photo"
                            alt="ava-btn"
                          />
                        </button>
                        <button
                          nz-button
                          nzType="default"
                          nzSize="large"
                          class="ava-btn"
                          *ngIf="!profileImage"
                        >
                          <i nz-icon nzType="user" nzTheme="outline"></i>
                        </button>
                      </nz-button-group>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div nz-col nzXs="0" nzSm="0" nzMd="15" nzLg="0" nzXl="0">
              <div nz-row [nzGutter]="[20, 0]" nzJustify="end" nzAlign="middle">
                <div nz-col>
                  <div nz-row nzJustify="end" [nzGutter]="[9, 0]">
                    <div nz-col>
                      <nz-select ngModel="1" nzBorderless>
                        <nz-option nzValue="1" nzLabel="Ташкент"></nz-option>
                        <nz-option nzValue="2" nzLabel="Самарканд"></nz-option>
                      </nz-select>
                    </div>

                    <div nz-col class="text-end">
                      <az-language
                        [title]="'language' | translate"
                        [template]="'dropdown'"
                      ></az-language>
                    </div>
                  </div>
                </div>

                <div nz-col>
                  <div nz-row nzJustify="end" [nzGutter]="[10, 0]">
                    <div nz-col *ngIf="!isUserAuthenticated">
                      <button
                        nz-button
                        nzType="default"
                        nzSize="large"
                        (click)="navigateToSignIn()"
                      >
                        <i nz-icon nzType="user" nzTheme="outline"></i>
                        {{ "toComeIn" | translate }}
                      </button>
                    </div>

                    <div nz-col *ngIf="isUserAuthenticated">
                      <button nz-button nzType="default" nzSize="large">
                        <i nz-icon nzType="heart" nzTheme="outline"></i>
                      </button>
                    </div>

                    <div nz-col *ngIf="isUserAuthenticated">
                      <button nz-button nzType="default" nzSize="large">
                        <i nz-icon nzType="bell" nzTheme="outline"></i>
                      </button>
                    </div>

                    <div nz-col *ngIf="isUserAuthenticated">
                      <nz-button-group
                        nz-popover
                        [nzPopoverContent]="contentTemplate"
                        [(nzPopoverVisible)]="isVisibleProfilePopupMd"
                        nzPopoverTrigger="click"
                        nzPopoverPlacement="bottomRight"
                      >
                        <button
                          nz-button
                          nzType="default"
                          nzSize="large"
                          class="ava-btn"
                          *ngIf="profileImage"
                        >
                          <img
                            [src]="(authorizedUser$ | async)?.photo"
                            alt="ava-btn"
                          />
                        </button>
                        <button
                          nz-button
                          nzType="default"
                          nzSize="large"
                          class="ava-btn"
                          *ngIf="!profileImage"
                        >
                          <i nz-icon nzType="user" nzTheme="outline"></i>
                        </button>
                      </nz-button-group>
                    </div>

                    <div nz-col>
                      <button
                        nz-button
                        nzType="default"
                        nzSize="large"
                        (click)="openAz()"
                      >
                        <i nz-icon nzType="menu" nzTheme="outline"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div
              nz-col
              nzXs="0"
              nzSm="14"
              nzMd="0"
              nzLg="0"
              nzXl="0"
              class="text-end"
            >
              <div nz-row nzJustify="end" [nzGutter]="[10, 0]">
                <div nz-col>
                  <button
                    nz-button
                    nzType="primary"
                    nzSize="large"
                    (click)="openTabDrawer()"
                    nzBlock
                  >
                    <i><img src="./assets/images/catalog.svg" alt="icon" /></i>
                    <span class="nav__bottom-btn-text">Каталог</span>
                  </button>
                </div>

                <div nz-col>
                  <button nz-button nzSize="large" (click)="openSearchDrawer()">
                    <i nz-icon nzType="search" nzTheme="outline"></i>
                  </button>
                </div>
                <div nz-col *ngIf="!isUserAuthenticated">
                  <button nz-button nzSize="large">
                    <i nz-icon nzType="user" nzTheme="outline"></i>
                  </button>
                </div>

                <div nz-col *ngIf="isUserAuthenticated">
                  <nz-button-group
                    nz-popover
                    [nzPopoverContent]="contentTemplate"
                    [(nzPopoverVisible)]="isVisibleProfilePopupSm"
                    nzPopoverTrigger="click"
                    nzPopoverPlacement="bottomRight"
                  >
                    <button
                      nz-button
                      nzType="default"
                      nzSize="large"
                      class="ava-btn"
                      *ngIf="profileImage"
                    >
                      <img
                        [src]="(authorizedUser$ | async)?.photo"
                        alt="ava-btn"
                      />
                    </button>
                    <button
                      nz-button
                      nzType="default"
                      nzSize="large"
                      class="ava-btn"
                      *ngIf="!profileImage"
                    >
                      <i nz-icon nzType="user" nzTheme="outline"></i>
                    </button>
                  </nz-button-group>
                </div>

                <div nz-col>
                  <button
                    nz-button
                    nzType="default"
                    nzSize="large"
                    (click)="openAz()"
                  >
                    <i nz-icon nzType="menu" nzTheme="outline"></i>
                  </button>
                </div>
              </div>
            </div>

            <div
              nz-col
              nzXs="12"
              nzSm="0"
              nzMd="0"
              nzLg="0"
              nzXl="0"
              class="text-end"
            >
              <div nz-row nzJustify="end">
                <div nz-col>
                  <button
                    nz-button
                    nzType="default"
                    nzSize="large"
                    (click)="openAz()"
                  >
                    <i nz-icon nzType="menu" nzTheme="outline"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- HEADER BOTTOM -->
    <div class="container">
      <div nz-row class="nav__bottom" [nzGutter]="[16, 0]">
        <div nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="0" nzXl="3">
          <button
            nz-button
            nzType="primary"
            nzSize="large"
            (click)="openMainCatalogue()"
            nzBlock
          >
            <i><img src="./assets/images/catalog.svg" alt="icon" /></i>
            <span class="nav__bottom-btn-text">Каталог</span>
          </button>
        </div>
        <div nz-col nzXs="3" nzSm="3" nzMd="5" nzLg="4" nzXl="0">
          <button
            nz-button
            nzType="primary"
            nzSize="large"
            (click)="openSecondaryCatalogue()"
            nzBlock
          >
            <i><img src="./assets/images/catalog.svg" alt="icon" /></i>
            <span class="nav__bottom-btn-text">Каталог</span>
          </button>
        </div>
        <div nz-col nzXs="17" nzSm="17" nzMd="17" nzLg="14" nzXl="16">
          <form nz-form [formGroup]="searchForm" (ngSubmit)="submit()">
            <nz-input-group
              nzSize="large"
              nzCompact
              nzSearch
              [nzAddOnAfter]="suffixIconButton"
            >
              <input
                type="text"
                nz-input
                nzSize="large"
                style="width: 70%"
                placeholder="Найти среди 273 000 обьявлений"
                formControlName="searchInput"
                (click)="openSearchDrop()"
              />
              <nz-input-group
                style="width: 30%"
                nzSize="large"
                [nzSuffix]="arrowIcon"
                [nzPrefix]="locationIcon"
              >
                <input
                  type="text"
                  nz-input
                  nzSize="large"
                  placeholder="Весь Узбекистан"
                  (click)="touched = true"
                  formControlName="cityInput"
                  (click)="openFilterDrop()"
                />
              </nz-input-group>
            </nz-input-group>

            <ng-template #locationIcon
              ><i
                nz-icon
                nzType="environment"
                nzTheme="outline"
                [ngStyle]="{ color: touched ? '#1A1A1A' : '#999999' }"
              ></i
            ></ng-template>

            <ng-template #arrowIcon>
              <i
                nz-icon
                nzType="down"
                nzTheme="outline"
                [ngStyle]="{ color: touched ? '#1A1A1A' : '#999999' }"
              ></i>
            </ng-template>

            <ng-template #suffixIconButton>
              <button
                nz-button
                nzType="primary"
                nzSearch
                nzSize="large"
                (click)="searchDropDown = false; searchCityDropDown = false"
              >
                <i nz-icon nzType="search"></i>
              </button>
            </ng-template>

            <ng-template #arrowTemplate>
              <i nz-icon nzType="down" nzTheme="outline"></i>
            </ng-template>
          </form>
        </div>
        <div
          nz-col
          nzXs="4"
          nzSm="4"
          nzMd="2"
          nzLg="6"
          nzXl="5"
          class="text-end"
        >
          <button
            nz-button
            nzType="primary"
            nzSize="large"
            class="secondary"
            routerLink="cabinet/advertisement/add"
            nzBlock
          >
            <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
            <span class="add-advertisement">Подать объявление</span>
          </button>
        </div>
      </div>
    </div>
  </nav>

  <div class="header__search-dropdown" *ngIf="searchDropDown">
    <div class="drop-top">
      <div class="container">
        <div class="header__dropdown">
          <div nz-row [nzGutter]="[0, 30]">
            <div nz-col nzSpan="24" *ngFor="let param of searchParamas">
              <div nz-row [nzGutter]="[30, 0]">
                <div nz-col nzSpan="3">
                  <p nz-typography class="text-end search__type">
                    {{ param.type }}
                  </p>
                </div>
                <div nz-col nzSpan="21">
                  <div nz-row>
                    <div nz-col nzSpan="24" *ngFor="let value of param.values">
                      <a class="search__values">{{ value.name }}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="backdrop"></div>
  </div>

  <div class="header__search-dropdown" *ngIf="searchCityDropDown">
    <div class="drop-top">
      <div class="container">
        <div class="header__dropdown">
          <div nz-row [nzGutter]="[0, 30]">
            <div nz-col nzSpan="12">
              <input
                nz-input
                type="text"
                placeholder="Поиск по названию"
                nzSize="large"
                [(ngModel)]="search"
              />
            </div>
            <div nz-col nzSpan="24">
              <div nz-row [nzGutter]="[30, 0]">
                <div nz-col nzSpan="6" class="regions_border">
                  <div nz-row [nzGutter]="[0, 16]">
                    <div
                      nz-col
                      nzSpan="24"
                      *ngFor="let region of regions | filter: search"
                    >
                      <a class="region" (mouseenter)="getCities(region.id)">{{
                        region.name
                      }}</a>
                    </div>
                  </div>
                </div>

                <div nz-col nzSpan="18" *ngIf="search.length < 1">
                  <div nz-row [nzGutter]="[0, 16]">
                    <div
                      nz-col
                      nzSpan="8"
                      *ngFor="let city of regionsChild | filter: search"
                    >
                      <a class="city">{{ city.name }}</a>
                    </div>
                  </div>
                </div>

                <div nz-col nzSpan="18" *ngIf="search.length > 0">
                  <div nz-row [nzGutter]="[0, 16]">
                    <div
                      nz-col
                      nzSpan="8"
                      *ngFor="let city of regionsChild | filter: search"
                    >
                      <a class="city">{{ city.name }}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="backdrop"></div>
  </div>
</div>

<az-catalogue
  [(visibleMainCatalogue)]="visibleMainCatalogue"
  [(visibleSecondaryCatalogue)]="visibleSecondaryCatalogue"
  [drawerWidthValue]="drawerWidthValue"
  [drawerWidthValueCatalog]="drawerWidthValueCatalog"
  [drawerOffsetValue]="drawerOffsetValue"
></az-catalogue>

<!-- MOBILE DRAWER -->
<nz-drawer
  [nzClosable]="false"
  [nzVisible]="azVisible"
  nzPlacement="right"
  [nzWidth]="drawerWidthValue"
>
  <ng-container *nzDrawerContent>
    <div class="az-drawer">
      <div nz-row [nzGutter]="[0, 0]">
        <div nz-col nzSpan="24">
          <div class="az-drawer_padding top">
            <div nz-row nzJustify="space-between">
              <div nz-col>
                <div nz-row [nzGutter]="[10, 0]">
                  <div nz-col nzSm="0" *ngIf="!isUserAuthenticated">
                    <button
                      *ngIf="isUserAuthenticated"
                      nz-button
                      nzType="default"
                      nzSize="large"
                    >
                      <i nz-icon nzType="user" nzTheme="outline"></i>
                      {{ "profile" | translate }}
                    </button>
                    <button
                      *ngIf="!isUserAuthenticated"
                      nz-button
                      nzType="default"
                      nzSize="large"
                      (click)="navigateToSignIn()"
                    >
                      <i nz-icon nzType="user" nzTheme="outline"></i>
                      {{ "toComeIn" | translate }}
                    </button>
                  </div>
                  <div nz-col nzSm="0" *ngIf="isUserAuthenticated">
                    <nz-button-group
                      nz-popover
                      [nzPopoverContent]="contentTemplate"
                      [(nzPopoverVisible)]="isVisibleProfilePopupDrawer"
                      nzPopoverTrigger="click"
                      nzPopoverPlacement="bottomRight"
                    >
                      <button
                        nz-button
                        nzType="default"
                        nzSize="large"
                        class="ava-btn"
                        *ngIf="profileImage"
                      >
                        <img [src]="'./assets/images/ava.jpg'" alt="ava-btn" />
                      </button>
                      <button
                        nz-button
                        nzType="default"
                        nzSize="large"
                        class="ava-btn"
                        *ngIf="!profileImage"
                      >
                        <i nz-icon nzType="user" nzTheme="outline"></i>
                      </button>
                    </nz-button-group>
                  </div>
                  <div nz-col nzMd="0">
                    <button
                      nz-button
                      nzType="primary"
                      nzSize="large"
                      class="secondary"
                      routerLink="cabinet/advertisement/add"
                    >
                      <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
                      <span class="add-advertisement drawer-add"
                        >Подать объявление</span
                      >
                    </button>
                  </div>
                </div>
              </div>
              <div nz-col>
                <button
                  nz-button
                  nzType="default"
                  nzSize="large"
                  (click)="closeAz()"
                >
                  <i nz-icon nzType="close" nzTheme="outline"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div nz-col nzXs="24" nzSm="24" nzMd="0">
          <!-- <div class="az-drawer__language">
            <az-language
              [title]="'language' | translate"
              [template]="'button'"
            ></az-language>
          </div> -->

          <div class="az-drawer__language">
            <div nz-row [nzGutter]="[0, 20]">
              <div nz-col nzXs="24" nzSm="0">
                <button
                  nz-button
                  nzType="link"
                  class="drawer__btn__info"
                  (click)="openSecondaryCatalogue()"
                >
                  <img src="./assets/images/stroke-burger.svg" alt="icon" />
                  <span class="az-drawer__language__text">Каталог</span>
                </button>
              </div>
              <div nz-col nzSpan="24">
                <button
                  nz-button
                  nzType="link"
                  class="drawer__btn__info"
                  (click)="openLocationDrawer()"
                >
                  <img src="./assets/images/Union.svg" alt="icon" />
                  <span class="az-drawer__language__text">Ташкент</span>
                </button>
              </div>
              <div nz-col nzSpan="24">
                <button
                  nz-button
                  nzType="link"
                  class="drawer__btn__info"
                  (click)="openLangDrawer()"
                >
                  <img src="./assets/images/planet-lang.svg" alt="icon" />
                  <span class="az-drawer__language__text">Русский</span>
                </button>
              </div>
              <div nz-col nzXs="24" nzSm="0">
                <button
                  nz-button
                  nzType="link"
                  class="drawer__btn__info"
                  (click)="openSearchDrawer()"
                >
                  <img src="./assets/images/search.svg" alt="icon" />
                  <span class="az-drawer__language__text">Поиск</span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div nz-col nzSpan="24">
          <div class="az-drawer_padding">
            <p nz-typography class="az-drawer__title">
              Другие площадки экосистемы
            </p>

            <div nz-row [nzGutter]="[0, 20]">
              <div nz-col *ngFor="let service of SERVICES" nzSpan="24">
                <div nz-row nzAlign="middle" [nzGutter]="[16, 0]">
                  <div nz-col>
                    <div class="az-drawer__service-image">
                      <img [src]="service.logo" alt="service logo" />
                    </div>
                  </div>
                  <div nz-col>
                    <h6 nz-typography class="az-drawer__service-name">
                      {{ service.name }}
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <nz-divider class="divider"></nz-divider>
        <div nz-col nzSpan="24">
          <div class="az-drawer_padding">
            <ul nz-row [nzGutter]="[0, 20]">
              <li nz-col nzSpan="24">
                <a nz-button nzType="link" class="az-drawer__link">
                  <i nz-icon nzType="info-circle" nzTheme="outline"></i>
                  <span>О проекте</span>
                </a>
              </li>
              <li nz-col nzSpan="24">
                <a nz-button nzType="link" class="az-drawer__link">
                  <i nz-icon nzType="question-circle" nzTheme="outline"></i>
                  <span>Помощь</span>
                </a>
              </li>
              <li nz-col nzSpan="24">
                <a nz-button nzType="link" class="az-drawer__link">
                  <i nz-icon nzType="bank" nzTheme="outline"></i>
                  <span>Банковские продукты</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <nz-divider class="divider"></nz-divider>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="0">
          <div class="az-drawer_padding bot">
            <div nz-row [nzGutter]="[0, 30]">
              <div nz-col nzSpan="24">
                <a href="tel:998781500088" class="az-drawer__contacts"
                  ><img src="./assets/images/phone-icon.svg" alt="icon" /><span
                    nz-typography
                    >(78) 150–00–88</span
                  ></a
                >
              </div>
              <div nz-col nzSpan="24">
                <a class="az-drawer__contacts"
                  ><img src="./assets/images/chat-icon.svg" alt="icon" /><span
                    nz-typography
                    >On-line чат</span
                  ></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</nz-drawer>

<ng-template #contentTemplate>
  <div nz-row class="userPopower">
    <div nz-col nzSpan="24" class="userPopower__top">
      <div nz-row>
        <div nz-col nzSpan="5">
          <div class="userPopower__top__img">
            <img [src]="(authorizedUser$ | async)?.photo" alt="" />
          </div>
        </div>
        <div nz-col nzSpan="19">
          <div nz-row [nzGutter]="[0, 2]" class="userPopower__top__text">
            <div nz-col nzSpan="24">
              <h3>{{ authorizedUser$ | async | fullName }}</h3>
            </div>
            <div nz-col nzSpan="24">
              <span>Agro ID</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nz-divider></nz-divider>
    <div nz-col nzSpan="24" class="userPopower__bottom">
      <div nz-row>
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="0"
          class="userPopower__bottom__content"
        >
          <div nz-row (click)="navigateTo(['cabinet'])">
            <div nz-col nzSpan="4">
              <div class="userPopower__bottom__img">
                <img [src]="'/assets/images/bell.png'" alt="" />
              </div>
            </div>
            <div nz-col nzSpan="20">
              <span>{{ "Уведомления" }}</span>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="24" class="userPopower__bottom__content">
          <div nz-row (click)="navigateTo(['cabinet'])">
            <div nz-col nzSpan="4">
              <div class="userPopower__bottom__img">
                <img [src]="'/assets/images/menu-Vector.png'" alt="" />
              </div>
            </div>
            <div nz-col nzSpan="20">
              <span>{{ "Объявления" }}</span>
            </div>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24" class="userPopower__bottom__content">
          <div nz-row (click)="navigateTo(['cabinet', 'messages'])">
            <div nz-col nzSpan="4">
              <div class="userPopower__bottom__img">
                <img src="/assets/images/menu-message.png" alt="" />
              </div>
            </div>
            <div nz-col nzSpan="20">
              <span>{{ "Сообщения" }}</span>
            </div>
          </div>
        </div>
      </div>
      <div nz-row>
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="0"
          class="userPopower__bottom__content"
        >
          <div nz-row (click)="navigateTo(['cabinet', 'favourites'])">
            <div nz-col nzSpan="4">
              <div class="userPopower__bottom__img">
                <img src="/assets/images/menu-heart.png" alt="" />
              </div>
            </div>
            <div nz-col nzSpan="20">
              <span>{{ "Избранное" }}</span>
            </div>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24" class="userPopower__bottom__content">
          <div nz-row (click)="navigateTo(['cabinet', 'support'])">
            <div nz-col nzSpan="4">
              <div class="userPopower__bottom__img">
                <img src="/assets/images/menu-settings.png" alt="" />
              </div>
            </div>
            <div nz-col nzSpan="20">
              <span>{{ "Настройки" }}</span>
            </div>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24" class="userPopower__bottom__content">
          <div nz-row (click)="logout()">
            <div nz-col nzSpan="4">
              <div class="userPopower__bottom__img">
                <img src="/assets/images/menu-logout.png" alt="" />
              </div>
            </div>
            <div nz-col nzSpan="20">
              <span>{{ "Выйти" }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- LocationDrawer -->
<nz-drawer
  [nzClosable]="false"
  [nzVisible]="visibleLocationDrawer"
  nzPlacement="right"
  [nzWidth]="drawerWidthValue"
>
  <ng-container *nzDrawerContent>
    <div class="az-drawer">
      <div nz-row [nzGutter]="[0, 0]">
        <div nz-col nzSpan="24">
          <div class="az-drawer_padding top">
            <div nz-row nzJustify="end">
              <div nz-col>
                <button
                  nz-button
                  nzType="default"
                  nzSize="large"
                  (click)="closeLocationDrawer()"
                >
                  <i nz-icon nzType="close" nzTheme="outline"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div nz-col nzXs="24" nzSm="24" nzMd="0">
          <div class="az-drawer__language">
            <div nz-row [nzGutter]="[0, 20]">
              <div nz-col nzSpan="24">
                <button
                  nz-button
                  nzType="link"
                  class="drawer__btn__info"
                  (click)="closeLocationDrawer()"
                >
                  <i
                    nz-icon
                    nzType="left"
                    nzTheme="outline"
                    class="drawer__btn__info__arrow"
                  ></i>
                  <img src="./assets/images/Union.svg" alt="icon" />
                  <span class="az-drawer__language__text">Ташкент</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <nz-collapse
          nzGhost
          [nzAccordion]="true"
          [nzExpandIconPosition]="'right'"
        >
          <nz-collapse-panel
            #p
            *ngFor="let panel of panels"
            [nzHeader]="header"
            [nzExtra]="arrow"
            [nzShowArrow]="false"
          >
            <ng-template #header>
              <h5
                class="location__header_panel"
                [ngClass]="p.nzActive ? 'active' : ''"
              >
                {{ panel.name }}
              </h5>
            </ng-template>

            <div nz-row>
              <div
                nz-col
                nzSpan="12"
                *ngFor="let num of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]"
              >
                <button nz-button nzType="text" class="location__city">
                  Андижан
                </button>
              </div>
            </div>

            <ng-template #arrow let-active>
              <i
                nz-icon
                nzType="up"
                nzTheme="outline"
                [nzRotate]="p.nzActive ? 0 : 180"
              ></i>
            </ng-template>
          </nz-collapse-panel>
        </nz-collapse>
      </div>
    </div>
  </ng-container>
</nz-drawer>

<!-- language drawer -->
<nz-drawer
  [nzClosable]="false"
  [nzVisible]="visibleLangDrawer"
  nzPlacement="right"
  [nzWidth]="drawerWidthValue"
>
  <ng-container *nzDrawerContent>
    <div class="az-drawer">
      <div nz-row [nzGutter]="[0, 0]">
        <div nz-col nzSpan="24">
          <div class="az-drawer_padding top">
            <div nz-row nzJustify="end">
              <div nz-col>
                <button
                  nz-button
                  nzType="default"
                  nzSize="large"
                  (click)="closeLangDrawer()"
                >
                  <i nz-icon nzType="close" nzTheme="outline"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div nz-col nzXs="24" nzSm="24" nzMd="0">
          <div class="az-drawer__language">
            <div nz-row [nzGutter]="[0, 20]">
              <div nz-col nzSpan="24">
                <button
                  nz-button
                  nzType="link"
                  class="drawer__btn__info"
                  (click)="closeLangDrawer()"
                >
                  <i
                    nz-icon
                    nzType="left"
                    nzTheme="outline"
                    class="drawer__btn__info__arrow"
                  ></i>
                  <img src="./assets/images/planet-lang.svg" alt="icon" />
                  <span class="az-drawer__language__text">Русский</span>
                </button>
              </div>
            </div>
          </div>

          <div class="lang__info" nz-row>
            <div nz-col nzSpan="24">
              <button nz-button nzType="link">Ўзбекча</button>
            </div>
            <div nz-col nzSpan="24">
              <button nz-button nzType="link">O'zbekcha</button>
            </div>
            <div nz-col nzSpan="24">
              <button nz-button nzType="link" disabled>Русский</button>
            </div>
            <div nz-col nzSpan="24">
              <button nz-button nzType="link">English</button>
            </div>
          </div>
        </div>
      </div>

      <div></div>
    </div>
  </ng-container>
</nz-drawer>

<!-- searchDrawer -->
<nz-drawer
  [nzClosable]="false"
  [nzVisible]="visibleSearchDrawer"
  nzPlacement="right"
  [nzWidth]="drawerWidthValue"
>
  <ng-container *nzDrawerContent>
    <div class="az-drawer">
      <div nz-row [nzGutter]="[0, 0]">
        <div nz-col nzSpan="24">
          <div class="az-drawer_padding top">
            <div nz-row nzJustify="end">
              <div nz-col>
                <button
                  nz-button
                  nzType="default"
                  nzSize="large"
                  (click)="closeSearchDrawer()"
                >
                  <i nz-icon nzType="close" nzTheme="outline"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="search__drawer">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
          <nz-form-item>
            <nz-form-control [nzSpan]="24">
              <input
                type="text"
                nz-input
                nzSize="large"
                formControlName="title"
                placeholder="Найти среди 273 000 обьявлений"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control [nzSpan]="24">
              <nz-select
                formControlName="city"
                [nzPlaceHolder]="defaultTemplate"
                (ngModelChange)="genderChange($event)"
                nzSize="large"
              >
                <nz-option nzValue="Ташкент" nzLabel="Ташкент"></nz-option>
                <nz-option nzValue="Самарканд" nzLabel="Самарканд"></nz-option>
              </nz-select>
              <ng-template #defaultTemplate>
                <i nz-icon nzType="environment" nzTheme="outline"></i>
                <span style="margin-left: 8px">Весь Узбекистан</span>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <button nz-button nzType="primary" nzBlock>
                <i nz-icon nzType="search" nzTheme="outline"></i>Поиск
              </button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>

      <div></div>
    </div>
  </ng-container>
</nz-drawer>
