<div class="container">
  <div nz-row [nzGutter]="[0, 40]">
    <div nz-col nzSpan="24">
      <h3 class="title">Создать объявление</h3>
    </div>
    <div nz-col nzSpan="24">
      <form nz-form [formGroup]="advSettings" (ngSubmit)="submitForm()" nzLayout="vertical">

        <!-- Информация -->
        <div class="info">
          <div nz-row [nzGutter]="[0, 24]">
            <div nz-col nzSpan="24">
              <h4 class="add-title">Информация</h4>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="itemName">Название товара</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <input nz-input type="text" id="itemName" placeholder="Введите название товара" nzSize="large" formControlName="itemName">
                </nz-form-control>
              </nz-form-item >
            </div>
            <div nz-col nzSpan="24">
              <span class="info__subtitle">Категория</span>
              <div nz-row [nzGutter]="[30,0]">
                <div nz-col nzSpan="8">
                  <div class="info__category level-1">
                    <ul class="info__category__list">
                      <li  nzSpan="24">Сельхозтехника</li>
                      <li  nzSpan="24">Сельхозтехника</li>
                      <li  nzSpan="24">Сельхозтехника</li>
                      <li  nzSpan="24">Сельхозтехника</li>
                      <li  nzSpan="24">Сельхозтехника</li>
                      <li  nzSpan="24">Сельхозтехника</li>
                      <li  nzSpan="24">Сельхозтехника</li>
                      <li  nzSpan="24">Сельхозтехника</li>
                      <li  nzSpan="24">Сельхозтехника</li>
                      <li  nzSpan="24">Сельхозтехника</li>
                      <li  nzSpan="24">Сельхозтехника</li>
                    </ul>
                  </div>
                </div>
                <div nz-col nzSpan="8">
                  <div class="info__category level-2">
                    <ul class="info__category__list">
                      <li nzSpan="24">Техника</li>
                      <li nzSpan="24">Техника для растениеводства </li>
                      <li nzSpan="24">Техника для животноводства </li>
                    </ul>
                  </div>
                </div>
                <div nz-col nzSpan="8">
                  <div class="info__category level-3">
                    <ul class="info__category__list">
                      <li nzSpan="24">Трактор</li>
                      <li nzSpan="24">Минитехника</li>
                      <li nzSpan="24">Транспортные средства для с/х</li>
                      <li nzSpan="24">Погрузчики</li>
                      <li nzSpan="24">Полуприцепы и прицепы</li>
                      <li nzSpan="24">Сельхозтехника для хранения зерна</li>
                      <li nzSpan="24">Погрузчики</li>
                      <li nzSpan="24">Погрузчики</li>
                      <li nzSpan="24">Погрузчики</li>
                      <li nzSpan="24">Погрузчики</li>
                      <li nzSpan="24">Погрузчики</li>
                      <li nzSpan="24">Погрузчики</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Тип объявления -->
        <div class="type">
          <div nz-row [nzGutter]="[0, 30]">
            <div nz-col nzSpan="24">
              <h3 class="add-title">Тип объявления</h3>
            </div>
            <div nz-col nzSpan="24">
              <nz-radio-group [(ngModel)]="radioValue" nzName="radiogroup">
                <label nz-radio nzValue="1" class="type__label">Куплю</label>
                <label nz-radio nzValue="2" class="type__label">Продам</label>
                <label nz-radio nzValue="3" class="type__label">Сдам в аренду</label>
                <label nz-radio nzValue="4" class="type__label">Возьму в аренду</label>
                <label nz-radio nzValue="5" class="type__label">Предлагаю услуги</label>
                <label nz-radio nzValue="6" class="type__label">Ищу услуги</label>
              </nz-radio-group>
            </div>
          </div>
        </div>

        <!-- Добавить фото и видео -->
        <div class="media">
          <div nz-row [nzGutter]="[0, 30]">
            <div nz-col nzSpan="24">
              <h3 class="add-title">Добавить видео и фото</h3>
            </div>
            <div nz-col nzSpan="24">
              <div nz-row [nzGutter]="[0, 24]">
                <div nz-col nzSpan="24">
                  
                </div>
                <div nz-col nzSpan="24">2</div>
              </div>
            </div>
          </div>
        </div>

      </form>
      
    </div>
  </div>
</div>
