
  <div class="container">
    <h3 class="cardTitle">Кредиты для сельского хозяйства</h3>
    <div nz-row [nzGutter]="[30, 30]">
      <div nz-col nzSpan="12" >
        <div class="card">
          <div class="creditCard">
            <h3>Кредит на покупку
              агротехники, <br>
              23% годовых</h3>
            </div>
            <button nz-button nzType="primary" class="cardBtn">Button</button>
          <img src="../../../../../assets/images/agrozamin/creditBanner2.jpg" alt="">
        </div>
      </div>
      <div nz-col nzSpan="12">
        <div class="card">
          <div class="creditCard">
            <h3>Кредит на защиту
              растений</h3>
            </div>
            <button nz-button nzType="primary" class="cardBtn">Button</button>
            <img src="../../../../../assets/images/agrozamin/creditBanner1.jpg" alt="">
        </div>
      </div>
      <div nz-col nzSpan="12">
        <div class="card">
          <div class="creditCard">
            <h3>Кредит на защиту
              растений</h3>
            </div>
            <button nz-button nzType="primary" class="cardBtn">Button</button>
          <img src="../../../../../assets/images/agrozamin/creditBanner1.jpg" alt="">
        </div>
      </div>
      <div nz-col nzSpan="12">
        <div class="card">
          <div class="card">
            <div class="creditCard">
              <h3>Кредит на покупку
                агротехники, <br>
                23% годовых</h3>
              </div>
              <button nz-button nzType="primary" class="cardBtn">Button</button>
            <img src="../../../../../assets/images/agrozamin/creditBanner2.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
