.card{
    width: 630px;
    height: 250px;
}
.cardTitle{
    margin-bottom: 50px; 
    width: 583px; 
    height: 40px; 
    font-size: 32px; 
    line-height: 125%; 
    color: #1A1A1A;
}
.creditCard{
    position: absolute;
    width: 260px;  
    height: 90px; 
    font-size: 24px; 
    line-height: 150%; 
    left: 30px;
    top: 30px;

    h3{
        font-family: Agrofont-Bold; color: #22A33F;
    }
}
.cardBtn{
    width: 125px; 
    height: 44px; 
    position: absolute;
    // top: 176px;
    bottom: 40px;
    left: 30px;
}