<div class="success-text">
  <h3 nz-typography class="agro-id-form-title">
    {{ "successfullyRegistration" | translate }}
  </h3>
</div>
<nz-divider class="divider-custom-top"></nz-divider>

<nz-result
  nzStatus="success"
  [nzTitle]="'congratulation' | translate"
  [nzSubTitle]="'congratulationSubTitle' | translate"
>
  <div nz-result-extra class="" style="margin-top: 35px">
    <div nz-row nzJustify="center">
      <div>
        <span nz-typography nzType="secondary"
          >{{ "redirectToLoginAfter" | translate }}
        </span>
        <span nz-typography nzType="danger">{{ $seconds | async }}</span>
      </div>
    </div>
  </div>
</nz-result>
