<div class="success-text">
  <h3 nz-typography>Успешная регистрация</h3>
</div>
<nz-divider class="divider-custom-top"></nz-divider>
<!-- <div>
  <img class="success-img" src="../../../../../assets/images/agro-id-images/Frame.svg">
</div>

<div nz-result-extra class="custom-btn">
  <button nzBlock nzSpan="10" routerLink="../" nz-button class="success-btn"  nzType="primary">Войти</button> 
</div> -->

<nz-result
  nzStatus="success"
  nzTitle="Поздравляем!"
  nzSubTitle="Регистрация прошла успешно, данные были сохранены!"
>
  <div nz-result-extra class="custom-btn" style="margin-top: 35px;">
    <button
      nzBlock
      nzSpan="10"
      routerLink="../"
      nz-button
      class="success-btn"
      nzType="primary"
    >
      Войти
    </button>
  </div>
</nz-result>
