<div nz-row style="padding-top: 8vw;">
  <div nz-col nzXs="1" nzSm="2" nzMd="2" nzLg="4" nzXl="4" class="height-100"></div>
  <div nz-col nzXs="22" nzSm="20" nzMd="20" nzLg="16" nzXl="16" class="height-100">

    <form nz-form [formGroup]="validateForm" nzLayout="vertical" class="login-form" (ngSubmit)="submitForm()">
      <h2 nz-typography class="title">Создайте новый пароль</h2>
      <nz-divider class="divider-custom-top divider-custom-bottom"></nz-divider>
  
      <nz-form-item>
        <nz-form-label>Придумайте пароль</nz-form-label>
        <nz-form-control
          nzDisableAutoTips
          nzHasFeedback
          nzErrorTip="Введите пароль"
        >
          <input
            class="form__inputGroup"
            nz-input
            type="password"
            [(ngModel)]="password"
            formControlName="password"
            nzSize="large"
            (ngModelChange)="validateConfirmPassword()"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Повторите пароль</nz-form-label>
        <nz-form-control
          nzDisableAutoTips
          nzHasFeedback
          [nzErrorTip]="passwordErrorTpl"
        >
          <input
            nz-input
            type="password"
            formControlName="confirm"
            nzSize="large"
          />
          <ng-template #passwordErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')"
              >Подтвердите пароль</ng-container
            >
            <ng-container *ngIf="control.hasError('confirm')"
              >Пароли не совпадают</ng-container
            >
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <div class="custom-btn">
        <button style="margin-top: 30px;" nz-button class="login-form-button login-form-margin" routerLink="../" nzBlock [nzType]="'primary'">Сохранить</button>
      </div>
      
  </form>
  </div>
  <div nz-col nzXs="1" nzSm="2" nzMd="2" nzLg="4" nzXl="4" class="height-100"></div>
</div>