<div class="sort">
  <div nz-row nzJustify="space-between">
    <div nz-col>
      <div nz-row [nzGutter]="[8, 0]">
        <div nz-col><span class="sort__variable">Сортировать:</span></div>
        <div nz-col><a class="sort__link"><span>По цене</span><img src="../../../../../../assets/images/agrozamin/sort.svg" alt="sort icon"></a></div>
        <div nz-col><a class="sort__link"><span>По дате</span><img src="../../../../../../assets/images/agrozamin/sort.svg" alt="sort icon"></a></div>
      </div>
    </div>
    <div nz-col>
      <div nz-row nzAlign="middle" [nzGutter]="[8, 0]">
        <div nz-col><span class="sort__variable">Вид:</span></div>
        <div nz-col><button class="sort__btn" [ngClass]="isActive ? '' : 'active'"  (click)="isGrid()">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="4" y="4" width="6" height="6" rx="1" stroke="#86898C" stroke-width="1.5" stroke-linejoin="round"/>
            <rect x="4" y="14" width="6" height="6" rx="1" stroke="#86898C" stroke-width="1.5" stroke-linejoin="round"/>
            <rect x="14" y="14" width="6" height="6" rx="1" stroke="#86898C" stroke-width="1.5" stroke-linejoin="round"/>
            <rect x="14" y="4" width="6" height="6" rx="1" stroke="#86898C" stroke-width="1.5" stroke-linejoin="round"/>
            </svg>            
       </button></div>
        <div nz-col><button class="sort__btn" [ngClass]="isActive ? 'active' : ''" (click)="isList()">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="4" y="5" width="16" height="5" rx="1" stroke="#86898C" stroke-width="1.5" stroke-linejoin="round"/>
            <rect x="4" y="14" width="16" height="5" rx="1" stroke="#86898C" stroke-width="1.5" stroke-linejoin="round"/>
          </svg>            
        </button></div>
      </div>
    </div>
  </div>
</div>