.filterOption{
    background: #fff;
    border-radius: 8px;
    padding: 24px;
    height: 223px;
    
    &__content{

        h4{
            margin: 0;
            font-size: 18px;
            line-height: 23px;
            font-family: Agrofont-Medium;
        }

        &__date{
            padding-top: 12px;
            span{
                font-size: 13px;
                line-height: 16px;
                color: #86898C;
            }
        }
        &__button{
            padding-top: 24px;
        }
        &__check{
            padding-top: 16px;
            button{
                background: #377BE1;
                color: #fff;
            }
            label{
                padding-top: 10px;
                font-size: 14px;
                line-height: 18px;
                font-family: Agrofont-Regular;
                
            }
          
        }
    }
    
    &__right{
        padding-left: 22px;
    }
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: green !important;
    border-color: green;
}