<div style="background: #ECF8EE;">
  <div class="container" >
    <div nz-row class="partners">
      <div nz-col class="partners__header">
        <h3 class="header__title">Партнеры AgroZamin</h3>
      </div>
  
      <div nz-col nzSpan="24" class="partners__carousel">
        <button
          nz-button
          nzType="default"
          nzSize="large"
          nzShape="circle"
          (click)="pre(carousel)"
          class="prev"
        >
          <i nz-icon nzType="left" nzTheme="outline"> </i>
        </button>
  
        <nz-carousel #carousel [nzEffect]="effect">
          <div nz-carousel-content *ngFor="let partner of partners">
            <div nz-row nzJustify="space-between">
              <div nz-col *ngFor="let item of partner">
                <div class="card">
                  <img class="img" [src]="item.img1" alt="" />
                </div>
              </div>
            </div>
          </div>
        </nz-carousel>
        <button
          nz-button
          nzType="default"
          nzSize="large"
          nzShape="circle"
          (click)="next(carousel)"
          class="next"
        >
          <i nz-icon nzType="right" nzTheme="outline"></i>
        </button>
      </div>
    </div>
  </div>
</div>

