<div class="container">
  <div class="banner">
    <div class="banner__content">
      <div class="banner__content__img">
        <img src="./assets/images/agrozamin/about-banner.jpg" alt="banner bg" />
      </div>
      <div nz-row>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div class="banner__content__info">
            <h3 nz-typography>Добро пожаловать на AgroZamin</h3>
            <p nz-typography>
              Единая электронная площадка в агросекторе Узбекистана. Используйте
              нашу площадку для эффективного ведения бизнеса в сельском
              хозяйстве.
            </p>
          </div>
        </div>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <div class="banner__content__additional-img">
            <img
              src="./assets/images/agrozamin/about-banner-additional-img.png"
              alt="additional-img"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
