<div class="container">
  <div class="to-be-partner">
    <div nz-row [nzGutter]="[0, 70]">
      <div nz-col nzSpan="24">
        <h3 nz-typography class="title">Стать партнёром</h3>
      </div>
      <div nz-col nzSpan="24">
        <div nz-row nzAlign="middle">
          <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
            <div class="to-be-partner__info">
              <h3 nz-typography class="to-be-partner__title">
                Приглашаем к сотрудничеству
              </h3>
              <p nz-typography class="to-be-partner__text">
                Мы рады пригласить к взаимовыгодному сотрудничеству
                производителей и поставщиков сельскохозяйственной продукции, а
                также информационные ресурсы в агро сфере.
              </p>
              <button nz-button nzType="primary">Стать партнером</button>
            </div>
          </div>
          <div nz-col nzXs="16" nzSm="16" nzMd="16" nzLg="16" nzXl="16">
            <div class="to-be-partner__img text-end">
              <img
                src="../../../../assets/images/agrozamin/to-be-partner.png"
                alt="mission"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
