<div class="filter">
  <form nz-form [formGroup]="formFilter">
    <nz-collapse nzGhost nzExpandIconPosition="right">
      <nz-collapse-panel [nzHeader]="priceTitle" nzActive>
        <div nz-row [nzGutter]="[10, 0]">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-control>
                <nz-input-group [nzPrefix]="prefixFrom" nzSize="large">
                  <input type="text" nz-input formControlName="priceFrom" />
                </nz-input-group>
                <ng-template #prefixFrom>
                  <span class="prefix">От</span>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-control>
                <nz-input-group [nzPrefix]="prefixFrom1" nzSize="large">
                  <input type="text" nz-input formControlName="priceTo" />
                </nz-input-group>
                <ng-template #prefixFrom1>
                  <span class="prefix">До</span>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="24">
            <nz-slider nzRange></nz-slider>
          </div>
        </div>

        <ng-template #priceTitle>
          <h4 nz-typography class="filter__title">Ценовой диапазон</h4>
        </ng-template>
      </nz-collapse-panel>

      <nz-collapse-panel [nzHeader]="regionTitle" nzActive>
        <nz-form-item>
          <nz-form-control nzSpan="24">
            <nz-input-group
              nzSearch
              [nzAddOnAfter]="suffixIconButton"
              nzSize="large"
            >
              <input
                type="text"
                nz-input
                placeholder="Поиск по названию"
                formControlName="region"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzSpan="24">
            <nz-checkbox-wrapper
              (nzOnChange)="logRegion($event)"
              class="checkbox-groups"
              formArrayName="regionsList"
            >
              <div nz-row [nzGutter]="[0, 16]">
                <div nz-col nzSpan="24" *ngFor="let region of regions">
                  <label
                    nz-checkbox
                    [nzValue]="region.region"
                    [ngModel]="true"
                    >{{ region.region }}</label
                  >
                </div>
              </div>
            </nz-checkbox-wrapper>
          </nz-form-control>
        </nz-form-item>

        <ng-template #regionTitle>
          <h4 nz-typography class="filter__title">Регион</h4>
        </ng-template>
        <ng-template #suffixIconButton>
          <button nz-button nzType="default" nzSearch>
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </nz-collapse-panel>

      <nz-collapse-panel [nzHeader]="manufacturer" nzActive>
        <nz-form-item>
          <nz-form-control nzSpan="24">
            <nz-input-group
              nzSearch
              [nzAddOnAfter]="suffixIconButton"
              nzSize="large"
            >
              <input
                type="text"
                nz-input
                placeholder="Поиск по названию"
                formControlName="company"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzSpan="24">
            <nz-checkbox-wrapper
              (nzOnChange)="logCompany($event)"
              class="checkbox-groups"
              formArrayName="companyList"
            >
              <div nz-row [nzGutter]="[0, 16]">
                <div nz-col nzSpan="24" *ngFor="let company of manufactures">
                  <label
                    nz-checkbox
                    [nzValue]="company.name"
                    [ngModel]="true"
                    >{{ company.name }}</label
                  >
                </div>
              </div>
            </nz-checkbox-wrapper>
          </nz-form-control>
        </nz-form-item>
        <ng-template #manufacturer>
          <h4 nz-typography class="filter__title">Производитель</h4>
        </ng-template>
      </nz-collapse-panel>

      <nz-collapse-panel [nzHeader]="country" nzActive>
        <nz-form-item>
          <nz-form-control [nzSpan]="24">
            <nz-input-group
              nzSearch
              [nzAddOnAfter]="suffixIconButton"
              nzSize="large"
            >
              <input
                type="text"
                nz-input
                placeholder="Поиск по названию"
                formControlName="country"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <div class="country">
          <div nz-row [nzGutter]="[0, 10]">
            <div nz-col *ngFor="let country of madeIn">
              <nz-tag class="tag">
                <a
                  >{{ country.country }} <span>{{ country.count }}</span></a
                >
              </nz-tag>
            </div>
          </div>
        </div>
      </nz-collapse-panel>
      <ng-template #country>
        <h4 nz-typography class="filter__title">Страна производства</h4>
      </ng-template>
    </nz-collapse>

    <div *ngIf="drawer" nz-row [nzGutter]="[0, 20]" style="padding-top: 30px;">
      <div nz-col nzSpan="24">
        <button nz-button nzBlock class="filter__ok" nzType="primary" nzSize="large">
          
          <span>Применить фильтр</span>
        </button>
      </div>
      <div nz-col nzSpan="24">
        <button nz-button nzBlock class="filter__reset" nzType="default" nzSize="large">Сбросить фильтр</button>
      </div>
    </div>
  </form>
</div>
