    <div nz-row>
      <div nz-col nzXs="22" nzSm="20" nzMd="21" nzLg="21" nzXl="21">
        <h2 nz-typography class="font-agro-medium">Уведомления</h2>
        <nz-divider></nz-divider>

        <div *ngFor="let data of listOfData" class="notification__card">
          
          <nz-alert
          [nzType]="data.type"
          [nzMessage]="messageTitle"
          [nzDescription]="description"
          nzShowIcon
        ></nz-alert>

        <ng-template #messageTitle>
          <h4 nz-typography style="display: inline-block; margin-right: 10px;">{{data.title}}</h4>
          <span nz-typography nzType="secondary" nzSize="small" class="notification__date">{{data.date}}</span>
        </ng-template>

        <ng-template #description>
          <p nz-typography style="margin: 0; font-size: 16px;">
            {{data.description}}
          </p>
          <div  class="notification__btns">
            <div *ngIf="data.type !== 'success' && data.type !== 'info'">
              <nz-space nzSize="small">
                <button nzSize="small" nzShape="round" *nzSpaceItem nz-button nzType="primary" nzGhost><i nz-icon nzType="check" nzTheme="outline"></i></button>
                <button nzSize="small" nzShape="round" nzDanger *nzSpaceItem nz-button nzType="primary" nzGhost><i nz-icon nzType="close" nzTheme="outline"></i></button>
              </nz-space>
              
            </div>
            
          </div>
        </ng-template>

        </div>
    </div>
      <div nz-col nzXs="2" nzSm="2" nzMd="3" nzLg="3" nzXl="3"></div>
    </div>