<div class="container">
  <div nz-row class="callsentr">
    <div nz-col nzSpan="12">
      <div class="callsentr__title">
        <h3>Или свяжитесь с нами, удобным для вас способом</h3>
      </div>

      <div class="callsentr__card" nz-row [nzGutter]="[0, 20]">
        <div nz-col nzSpan="24">
          <div class="callsentr__card__content">
            <div
              nz-row
              [nzGutter]="[20, 0]"
              class="callsentr__card__content__item"
            >
              <div nz-col nzSpan="5">
                <div class="img">
                  <img
                    src="./assets/images/agrozamin/faq-Telegram.png"
                    alt=""
                  />
                </div>
              </div>
              <div nz-col nzSpan="19">
                <div nz-row [nzGutter]="[0, 6]">
                  <div nz-col nzSpan="24">
                    <p>Связаться через</p>
                  </div>
                  <div nz-col nzSpan="24">
                    <p>Телеграм-бот</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="24">
          <div class="callsentr__card__content">
            <div
              nz-row
              [nzGutter]="[20, 0]"
              class="callsentr__card__content__item"
            >
              <div nz-col nzSpan="5">
                <div class="img">
                  <img
                    src="./assets/images/agrozamin/faq-mail_icon.png"
                    alt=""
                  />
                </div>
              </div>
              <div nz-col nzSpan="19">
                <div nz-row [nzGutter]="[0, 6]">
                  <div nz-col nzSpan="24">
                    <p>Написать нам</p>
                  </div>
                  <div nz-col nzSpan="24">
                    <p>Электронное письмо</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="24">
          <div class="callsentr__card__content">
            <div
              nz-row
              [nzGutter]="[20, 0]"
              class="callsentr__card__content__item"
            >
              <div nz-col nzSpan="5">
                <div class="img">
                  <img
                    src="./assets/images/agrozamin/faq-phone_icon.png"
                    alt=""
                  />
                </div>
              </div>
              <div nz-col nzSpan="19">
                <div nz-row [nzGutter]="[0, 6]">
                  <div nz-col nzSpan="24">
                    <p>Позвоните нам</p>
                  </div>
                  <div nz-col nzSpan="24">
                    <p class="p">+998 (78) <span>150-00-88</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="12">
      <div class="callsentr__img">
        <img src="./assets/images/agrozamin/faq-callcentr-img.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
