<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="editingData ? 'Изменить' : 'Добавить'"
  (nzOnOk)="save()"
  (nzOnCancel)="close()"
  [nzOkLoading]="isOkLoading"
>
  <form nz-form *nzModalContent [formGroup]="form">
    <nz-form-item>
      <nz-form-label [nzSpan]="24">Ключ</nz-form-label>
      <nz-form-control [nzSpan]="24">
        <input
          nz-input
          formControlName="key"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="24">Действие</nz-form-label>
      <nz-form-control [nzSpan]="24">
        <nz-tree-select
          [nzNodes]="actionList"
          nzShowSearch
          nzCheckable
          nzPlaceHolder="Please select"
          formControlName="actions"
          [nzTreeTemplate]="actionTree"
        ></nz-tree-select>
        <ng-template #actionTree let-node let-origin="origin">
          <span>{{origin.description}}</span>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <h3 style="margin-bottom: 0;">Описание</h3>
    <nz-form-item>
      <nz-form-label [nzSpan]="24">Русский</nz-form-label>
      <nz-form-control [nzSpan]="24">
        <textarea
          nz-input
          [nzAutosize]="{ minRows: 3, maxRows: 5 }"
          formControlName="ru"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="24">Узбек</nz-form-label>
      <nz-form-control [nzSpan]="24">
        <textarea
          nz-input
          [nzAutosize]="{ minRows: 3, maxRows: 5 }"
          formControlName="uz_cyrl"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="24">O`zbek</nz-form-label>
      <nz-form-control [nzSpan]="24">
        <textarea
          nz-input
          [nzAutosize]="{ minRows: 3, maxRows: 5 }"
          formControlName="uz_latn"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>