<div nz-row>
  <div nz-col nzSpan="20" nzOffset="2" class="legal">
    <h2 class="cabinet-title" nz-typography>Главная визитка</h2>
    <div nz-row [nzGutter]="[20, 20]">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="12" nzXXl="8">
        <nz-card nzHoverable class="legal__card">
          <div nz-row nzAlign="bottom" [nzGutter]="[15, 10]" nzJustify="center">
            <div
              nz-col
              nzXs="12"
              nzSm="5"
              nzMd="5"
              nzLg="5"
              nzXl="5"
              nzXXl="5"
              class="text-center"
            >
              <nz-avatar [nzSize]="64" nzIcon="user"></nz-avatar>
            </div>
            <div
              nz-col
              nzXs="20"
              nzSm="15"
              nzMd="15"
              nzLg="15"
              nzXl="15"
              nzXXl="15"
            >
              <p nz-typography class="m-0">Нарбеков Артур</p>
              <p nz-typography class="m-0">narbekov@gmail.com</p>
              <p nz-typography class="m-0">+998 90 326 20 13</p>
            </div>
            <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4" nzXXl="4">
              <!-- <button nz-button nzType="text" nzShape="circle"><i nz-icon nzType="more" nzTheme="outline"></i></button> -->
            </div>
          </div>
        </nz-card>
      </div>
    </div>

    <nz-divider></nz-divider>
    <h2 class="cabinet-title" nz-typography>Мои визитки</h2>
    <div nz-row class="legal__block">
      <div nz-col nzSpan="24">
        <div nz-row [nzGutter]="[20, 20]">
          <div
            nz-col
            *ngFor="let user of userCard"
            nzXs="24"
            nzSm="24"
            nzMd="24"
            nzLg="24"
            nzXl="12"
            nzXXl="8"
          >
            <nz-card nzHoverable class="legal__card">
              <div
                nz-row
                nzAlign="bottom"
                [nzGutter]="[15, 10]"
                nzJustify="center"
              >
                <div
                  nz-col
                  nzXs="12"
                  nzSm="5"
                  nzMd="5"
                  nzLg="5"
                  nzXl="5"
                  nzXXl="5"
                  class="text-center"
                >
                  <nz-avatar
                    [nzSize]="64"
                    [nzIcon]="user.avatar ? '' : 'camera'"
                    [nzSrc]="user.avatar ? user.avatar : ''"
                  ></nz-avatar>
                </div>
                <div
                  nz-col
                  nzXs="18"
                  nzSm="15"
                  nzMd="15"
                  nzLg="15"
                  nzXl="15"
                  nzXXl="15"
                >
                  <p nz-typography class="m-0">
                    {{user.firstName}} {{user.lastName}}
                  </p>
                  <p nz-typography class="m-0">{{user.mail}}</p>
                  <p nz-typography class="m-0">{{user.phone}}</p>
                </div>
                <div
                  nz-col
                  nzXs="6"
                  nzSm="4"
                  nzMd="4"
                  nzLg="4"
                  nzXl="4"
                  nzXXl="4"
                >
                  <button
                    nz-button
                    nzType="text"
                    nzShape="circle"
                    (click)="showModal()"
                    nz-popover
                    nzPopoverTitle="{{null}}"
                    nzPopoverPlacement="bottomLeft"
                    [(nzPopoverVisible)]="user.visible"
                    (nzPopoverVisibleChange)="change($event, user)"
                    nzPopoverTrigger="click"
                    [nzPopoverContent]="contentTemplate"
                  >
                    <i nz-icon nzType="more" nzTheme="outline"></i>
                  </button>
                </div>
              </div>
            </nz-card>
            <!-- ========================= -->
            <ng-template #contentTemplate>
              <div style="width: 132px">
                <button
                  nz-button
                  nzBlock
                  nzType="link"
                  class="text-start"
                  (click)="modal.isVisibleModal = true; modal.user = activeUser; modal.onInit()"
                >
                  <i nz-icon nzType="edit" nzTheme="outline"></i>Изменить
                </button>
                <button
                  nz-button
                  nzBlock
                  nzType="link"
                  nzDanger
                  class="text-start"
                  (click)="deleteCard(user.id)"
                >
                  <i nz-icon nzType="delete" nzTheme="outline"></i>Удалить
                </button>
              </div>
            </ng-template>
            <!-- ======================== -->
          </div>

          <div
            nz-col
            nzXs="24"
            nzSm="24"
            nzMd="24"
            nzLg="24"
            nzXl="12"
            nzXXl="8"
          >
            <button
              nz-button
              nzBlock
              class="legal__add-card"
              (click)="modal.isVisibleModal = true; modal.user = activeUser; modal.onInit()"
            >
              <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<az-add-edit-business-card
  #modal
  (closeIsVisible)="closeModal($event)"
></az-add-edit-business-card>
