<div nz-row class="recover-login h-100">
  <div
    nz-col
    nzXs="22"
    nzSm="20"
    nzMd="20"
    nzLg="16"
    nzXl="16"
    class="d-flex flex-column"
  >
    <div class="flex-grow-1 d-flex align-items-center">
      <div>
        <!-- TITLE -->
        <h2 nz-typography class="agro-id-form-title">
          {{ "recoverByLogin" | translate }}
        </h2>

        <nz-divider class="mt-10p"></nz-divider>

        <!-- FORM -->
        <form
          nz-form
          nzLayout="vertical"
          [formGroup]="form"
          (ngSubmit)="submit()"
        >
          <!-- ERRORS FROM SERVER -->
          <error-from-server></error-from-server>

          <!-- LOGIN INPUT -->
          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <nz-form-item>
              <nz-form-label nzFor="login">{{
                "login" | translate
              }}</nz-form-label>
              <nz-form-control [nzErrorTip]="error">
                <input
                  id="login"
                  class="form__inputGroup"
                  nz-input
                  type="text"
                  nzSize="large"
                  formControlName="login"
                  placeholder="{{ 'enterYourLogin' | translate }}"
                />
              </nz-form-control>
              <ng-template #error let-control>
                <error [control]="control"></error>
              </ng-template>
            </nz-form-item>
          </div>

          <!-- CONTINUE BUTTON -->
          <div
            class="mt-1"
            [ngClass]="{ 'not-allowed': $isWaitingResponse | async }"
          >
            <button
              nz-button
              nzType="primary"
              nzBlock
              nzShape="round"
              class="recover-login__btn font-agro-medium"
              [nzLoading]="$isWaitingResponse | async"
            >
              {{ "continue" | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>

    <back-and-language></back-and-language>
  </div>
  <div nz-col nzXs="1" nzSm="2" nzMd="2" nzLg="4" nzXl="4"></div>
  <div nz-col nzXs="1" nzSm="2" nzMd="2" nzLg="4" nzXl="4"></div>
</div>
