<az-header></az-header>
<div class="nav-margin">
    <az-banner></az-banner>

    <az-service></az-service>
    <!-- <az-news></az-news> -->
    <!-- <az-category></az-category> -->
    <!-- <az-history></az-history> -->
    <!-- <az-advertisement></az-advertisement> -->
    <!-- <az-credits></az-credits> -->
    <!-- <az-catalog-members></az-catalog-members> -->
    <!-- <az-partners></az-partners> -->
    <!-- <az-agrozamin-app></az-agrozamin-app> -->
    <!-- <az-footer></az-footer> -->
</div>