<div nz-row>
  <div nz-col nzSpan="24">
    <div style="display: inline-block; min-width: 450px">
      <!-- FILTER -->
    </div>

    <button
      (click)="openModal()"
      style="float: right; margin-right: 5px"
      nz-button
      nzType="primary"
    >
      Add
    </button>
  </div>

  <div nz-col nzSpan="24">
    <nz-divider></nz-divider>
  </div>

  <div nz-col nzSpan="24">
    <nz-table
      #headerTable
      [nzData]="filteredData"
      [nzPageSize]="50"
      [nzScroll]="{ y: '300px' }"
    >
      <thead>
        <tr>
          <th nzWidth="60px"></th>
          <th nzWidth="250px" nzAlign="center">Key</th>
          <th nzAlign="center">Translations</th>
          <!-- <th>Address</th> -->
          <th nzWidth="125px" nzAlign="center">Change</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of headerTable.data">
          <tr>
            <td
              [nzExpand]="expandSet.has(data.id)"
              (nzExpandChange)="onExpandChange(data.id, $event)"
            ></td>
            <td nzAlign="center">{{ data.id }}</td>
            <td nzAlign="center">{{ data.name }}</td>
            <td nzAlign="center">{{ data.address }}</td>
            <td nzAlign="center" nzWidth="85px">
              <button
                (click)="openModal()"
                style="margin-right: 5px"
                nz-button
                nzType="primary"
              >
                Edit
              </button>
            </td>
          </tr>
          <tr [nzExpand]="expandSet.has(data.id)">
            <span>{{ data.description }}</span>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isVisibleModal"
  nzTitle="Modal Title"
  (nzOnCancel)="closeModal()"
  (nzOnOk)="closeModal()"
>
  <p *nzModalContent>Modal Content</p>
</nz-modal>
