<!-- <div nz-row [nzGutter]="[20, 20]">
  <div nz-col nzSpan="6" *ngFor="let category of cat">
    <div class="subcategory" [ngClass]="id === category.id ? 'active' : ''" (click)="activeCategory(category.id)">
      <img [src]="category.icon" alt="icon">
      <span>{{category.category}}</span>
    </div>
  </div>
</div> -->

<!-- WITH SCROLL-X -->
<!-- <div class="subcat-scroll">
  <div class="subcat-scroll__card" *ngFor="let category of cat">
    <div class="subcategory" [ngClass]="id === category.id ? 'active' : ''" (click)="activeCategory(category.id)">
      <img [src]="category.icon" alt="icon">
      <span>{{category.category}}</span>
    </div>
  </div>
</div> -->

<!-- WITH FLAG -->
<div class="flag">
  <div nz-row [nzGutter]="[20, 20]">
    <div nz-col nzSpan="6" *ngFor="let category of myCat">
      <div class="subcategory" [ngClass]="id === category.id ? 'active' : ''" (click)="activeCategory(category.id)">
        <img [src]="category.icon" alt="icon">
        <span>{{category.category}}</span>
      </div>
    </div>  
  </div>
  <div class="flag__btn" *ngIf="btnVisible">
    <button nz-button nzShape="circle" nzType="default" nzSize="large" (click)="showAndHideCategories()">
      <i nz-icon [nzType]="isVisible ? 'up' : 'down'" nzTheme="outline"></i>
    </button>
  </div>
</div>