<div class="advertisement">
  <div class="container">
    <az-breadcrumb-cabinet></az-breadcrumb-cabinet>

    <div nz-row [nzGutter]="[{ xs: 20, sm: 20, lg: 20, xl: 30 }, 0]">
      <div class="wrapper" nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="0" nzXl="6">
        <div class="wrapper_bg">
          <ul nz-menu nzMode="inline" class="menu">
            <li
              nz-submenu
              [nzTitle]="title1"
              nzOpen
              [(nzOpen)]="openMenu[CabinetMenu.advertisements]"
              (nzOpenChange)="openCloseMenuHandler(CabinetMenu.advertisements)"
            >
              <ng-template #title1>
                <div class="menu__item">
                  <i
                    ><img src="./assets/images/menu-Vector.png" alt="icon"
                  /></i>
                  <span>{{ CabinetMenu.advertisements | translate }}</span>
                </div>
              </ng-template>

              <ul>
                <li
                  *ngFor="let menu of AdvertisementStatusList"
                  nz-menu-item
                  routerLinkActive="ant-menu-item-selected"
                  [routerLink]="['advertisements', menu.value]"
                >
                  {{ menu.name | translate }}
                </li>
              </ul>
            </li>
            <li
              nz-submenu
              [nzTitle]="title2"
              [(nzOpen)]="openMenu[CabinetMenu.messages]"
              (nzOpenChange)="openCloseMenuHandler(CabinetMenu.messages)"
            >
              <ng-template #title2>
                <div class="menu__item">
                  <i
                    ><img src="./assets/images/menu-message.png" alt="icon"
                  /></i>
                  <span>{{ CabinetMenu.messages | translate }}</span>
                </div>
              </ng-template>

              <ul>
                <li
                  nz-menu-item
                  class="menu__item__message"
                  routerLink="messages/chat"
                  routerLinkActive="ant-menu-item-selected"
                >
                  <span>Чат</span>
                  <nz-badge
                    nzStandalone
                    [nzCount]="4"
                    [nzStyle]="{ backgroundColor: '#52c41a' }"
                  ></nz-badge>
                </li>
                <li
                  nz-menu-item
                  class="menu__item__message"
                  routerLink="messages/saved"
                  routerLinkActive="ant-menu-item-selected"
                >
                  <span>Сохранённые</span>
                  <nz-badge
                    nzStandalone
                    [nzCount]="4"
                    [nzStyle]="{
                      backgroundColor: '#fff',
                      color: '#999',
                      boxShadow: '0 0 0 1px #d9d9d9 inset'
                    }"
                  ></nz-badge>
                </li>
                <li
                  nz-menu-item
                  class="menu__item__message"
                  routerLink="messages/archived"
                  routerLinkActive="ant-menu-item-selected"
                >
                  <span>Архивные</span>
                  <nz-badge
                    nzStandalone
                    [nzCount]="2"
                    [nzStyle]="{
                      backgroundColor: '#fff',
                      color: '#999',
                      boxShadow: '0 0 0 1px #d9d9d9 inset'
                    }"
                  ></nz-badge>
                </li>
                <li
                  nz-menu-item
                  class="menu__item__message"
                  routerLink="messages/blocked"
                  routerLinkActive="ant-menu-item-selected"
                >
                  <span>Блокированные</span>
                  <nz-badge
                    nzStandalone
                    [nzCount]="1"
                    [nzStyle]="{
                      backgroundColor: '#fff',
                      color: '#999',
                      boxShadow: '0 0 0 1px #d9d9d9 inset'
                    }"
                  ></nz-badge>
                </li>
              </ul>
            </li>
            <li
              nz-submenu
              [nzTitle]="title3"
              [(nzOpen)]="openMenu[CabinetMenu.favourites]"
              (nzOpenChange)="openCloseMenuHandler(CabinetMenu.favourites)"
            >
              <ng-template #title3>
                <div class="menu__item">
                  <i><img src="./assets/images/menu-heart.png" alt="icon" /></i>
                  <span>{{ CabinetMenu.favourites | translate }}</span>
                </div>
              </ng-template>

              <ul>
                <li
                  *ngFor="let menu of FavoritMenuList"
                  nz-menu-item
                  [routerLink]="['favourites', menu.value]"
                  routerLinkActive="ant-menu-item-selected"
                >
                  {{ menu.name | translate }}
                </li>
              </ul>
            </li>
            <li
              nz-menu-item
              nzIcon="setting"
              class="last-menu"
              routerLink="support"
              routerLinkActive="ant-menu-item-selected"
            >
              <div class="menu__item">
                <i><img src="./assets/images/menu-help.png" alt="icon" /></i>
                <span>{{ CabinetMenu.support | translate }}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="18">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
