<div class="category">
  <div class="container">
    <az-breadcrumb></az-breadcrumb>

    <div nz-row [nzGutter]="[{xs: 0, sm: 20, md: 20, lg: 30, xl: 30}, 0]">
      <div nz-col nzXs="0" nzSm="8" nzMd="9" nzLg="6" nzXl="6">
        <div nz-row [nzGutter]="[0, 30]">
          <div nz-col nzSpan="24">
            <div class="menu">
              <ul nz-row class="menu__list" [nzGutter]="[0, 8]">
                <li
                  nz-col
                  nzSpan="24"
                  class="menu__item"
                  *ngFor="let category of categories"
                >
                  <a class="menu__link" [routerLink]="[category.id]"
                    ><img [src]="category.icon" alt="icon" /><span
                      >{{ category.name }}</span
                    ></a
                  >
                </li>
                <li nz-col nzSpan="24" class="menu__item">
                  <a class="menu__link active"
                    ><img src="./assets/images/other.svg" alt="icon" /><span
                      >{{ 'Все товары' }}</span
                    ></a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div nz-col nzSpan="24">
            <az-just-advertisement></az-just-advertisement>
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="16" nzMd="15" nzLg="18" nzXl="18">
        <az-advertisement-list [filter]="undefined"></az-advertisement-list>
      </div>
    </div>
  </div>
</div>
