<!-- HEADER -->
<az-header-with-divider-advanced
  [config]="{
    title: 'category' | translate,
    searchInputAdvancedConfig: searchInputConfig
  }"
  (clickedAddEditButton)="addEdit()"
>
</az-header-with-divider-advanced>

<!-- BODY -->
<az-grid
  [data]="searchInputConfig.filteredData"
  [columns]="columns"
  [showScrollbar]="true"
  [columnTemplate]="columnTemplate"
  [nzWidthConfig]="nzWidthConfig"
  (deleted)="delete($event)"
  (addEdited)="addEdit($event)"
>
  <ng-template #columnTemplate let-column let-data="data">
    <ng-container [ngSwitch]="column.field">
      <ng-container *ngSwitchCase="'icon'">
        <img [src]="data.icon | noImage" width="100%" />
      </ng-container>
      <ng-container *ngSwitchCase="'parent'">
        <span *ngFor="let category of data.parent" nz-typography
          ><code>{{ category.name }}</code></span
        >
      </ng-container>
      <ng-container *ngSwitchCase="'filter'">
        <span *ngFor="let filter of data.filter" nz-typography
          ><code>{{ filter.name }}</code></span
        >
      </ng-container>
      <ng-container *ngSwitchCase="'announcement_type'">
        <span
          *ngFor="let advertisementType of data.announcement_type"
          nz-typography
          ><code>{{ advertisementType.name }}</code></span
        >
      </ng-container>
    </ng-container>
  </ng-template>
</az-grid>

<!-- ADD EDIT MODAL -->
<az-add-edit-category
  [(isVisible)]="isVisible"
  [editingData]="editingData"
  [categories]="categoriesAsTree"
  [filters]="filtersAsTree"
  [advertisementTypes]="advertisementTypes"
  [projectId]="projectId"
  (modified)="modified()"
></az-add-edit-category>
