<ng-container *ngIf="data">
  <!-- HEADER -->
  <az-header-with-divider-basic
    [title]="('users' | translate) + (data.total | titleTotal)"
    (clickedAddEditButton)="addEdit()"
  >
    <!-- STATUS -->
    <nz-select
      [nzAllowClear]="true"
      [nzPlaceHolder]="'status' | translate"
      [(ngModel)]="filterBlocked"
      (ngModelChange)="loadInitData()"
      style="width: 150px"
    >
      <nz-option
        [nzValue]="false"
        [nzLabel]="'userStatus.active' | translate"
      ></nz-option>
      <nz-option
        [nzValue]="true"
        [nzLabel]="'userStatus.blocked' | translate"
      ></nz-option>
    </nz-select>

    <!-- ROLE -->
    <nz-select
      [nzAllowClear]="true"
      [nzPlaceHolder]="'roles' | translate"
      [(ngModel)]="filterRole"
      (ngModelChange)="loadInitData()"
      class="ml-1"
      style="width: 200px"
    >
      <nz-option
        *ngFor="let role of role$ | async"
        [nzValue]="role.id"
        [nzLabel]="role.description"
      ></nz-option>
    </nz-select>

    <div class="ml-1">
      <nz-input-group nzCompact>
        <nz-select
          name="searchBy"
          [(ngModel)]="searchBy"
          [nzPlaceHolder]="'searchBy' | translate"
          style="width: 120px"
        >
          <nz-option nzValue="id" [nzLabel]="'id' | translate"></nz-option>
          <nz-option
            nzValue="login"
            [nzLabel]="'login' | translate"
          ></nz-option>
          <nz-option
            nzValue="f_name"
            [nzLabel]="'givenName' | translate"
          ></nz-option>
        </nz-select>

        <az-search-input
          [width]="'230px'"
          [showSearchIcon]="false"
          [(searchText)]="searchText"
          (searchTextChange)="searchTextChanged($event)"
        ></az-search-input>

        <button (click)="search(searchText)" nz-button nzType="primary">
          <i nz-icon nzType="search"></i> {{ "search" | translate }}
        </button>
      </nz-input-group>
    </div>
  </az-header-with-divider-basic>

  <!-- BODY -->
  <nz-table
    #groupingTable
    [nzData]="data.data"
    [nzFrontPagination]="false"
    [nzTotal]="data.total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="data.current_page"
    (nzQueryParams)="onQueryParamsChange($event)"
    nzShowSizeChanger
    nzBordered
    nzSize="middle"
    [nzScroll]="(data.total | makeNzScroll: 400:1340 | async)!"
    [nzWidthConfig]="[
      '70px',
      '200px',
      '300px',
      '180px',
      '150px',
      '150px',
      '150px',
      '140px'
    ]"
  >
    <thead>
      <tr>
        <th nzAlign="center" nzColumnKey="id" [nzSortFn]="true">
          {{ "id" | translate }}
        </th>
        <th nzAlign="center" nzColumnKey="login" [nzSortFn]="true">
          {{ "login" | translate }}
        </th>
        <th nzAlign="center" nzColumnKey="f_name" [nzSortFn]="true">
          {{ "givenName" | translate }}
        </th>
        <th nzAlign="center">
          {{ "phoneNumber" | translate }}
        </th>
        <th nzAlign="center">{{ "role" | translate }}</th>
        <th nzAlign="center">{{ "commentary" | translate }}</th>
        <th nzAlign="center">
          {{ "lastAuthorization" | translate }}
        </th>
        <th nzAlign="center">{{ "userStatus" | translate }}</th>
        <th nzAlign="center" nzRight></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of groupingTable.data">
        <!-- ID -->
        <td nzAlign="center">{{ data.id }}</td>

        <!-- LOGIN -->
        <td>{{ data.login }}</td>

        <!-- GIVEN NAME -->
        <td>{{ [data.f_name, data.l_name, data.s_name].join(" ") }}</td>

        <!-- PHONE -->
        <td nzAlign="center">+{{ data.phone | mask: "000 00 000 00 00" }}</td>

        <!-- ROLE -->
        <td nzAlign="center">{{ data.role.description }}</td>

        <!-- COMMENTARY -->
        <td></td>

        <!-- LAST ACTIVATION TIME -->
        <td>{{ data.last_active_time }}</td>

        <!-- STATUS -->
        <td nzAlign="center">
          <nz-switch
            [(ngModel)]="data.isActive"
            (ngModelChange)="changeStatus(data)"
          ></nz-switch>
        </td>
        <td nzRight nzAlign="center">
          <nz-button-group>
            <button (click)="delete(data.id)" nz-button nzType="default">
              <span>
                <i nz-icon nzType="delete" nzTheme="twotone"></i>
              </span>
            </button>
            <button (click)="addEdit(data)" nz-button nzType="default">
              <span>
                <i nz-icon nzType="edit" nzTheme="twotone"></i>
              </span>
            </button>
          </nz-button-group>
        </td>
      </tr>
    </tbody>
  </nz-table>
</ng-container>

<az-add-edit-user
  [(isVisible)]="isVisible"
  [editingData]="editingData"
  [role$]="role$"
  (modified)="modified()"
></az-add-edit-user>
