.layout {
  min-height: 100vh;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-header {
  background: #fff;
  padding: 0;
  background: #fff;
}

nz-sider {
    background: #F5F5F7;
    position: fixed;
    left: 0;
    height: 100%;
    padding: 40px 55px 40px 65px;
}

nz-content {
    height: 100vh;
    width: 100%;
    background: #fff;
    overflow-y: auto;
    // overflow-x: hidden;
}

.right {
    margin-left: 323px;
}