
.advertisement{
    // padding: 10px 0;
    padding-top: 300px;
    padding-bottom: 100px;
    background: #F6F7FA;
}

.wrapper{
    ul{
        border-radius: 12px;
        background: #fff;
    }
    li{
        margin: 0;
    }
}