<div class="advertisement">
  <div class="container">
    <div nz-row [nzGutter]="[{ xs: 20, sm: 20, lg:20, xl: 30 }, 0]">
      
      <div nz-col nzXs="0" nzSm="0" nzMd="7" nzLg="6" nzXl="6" style="width: 100px;">
        <div class="wrapper">
          <ul
            nz-menu
            [nzTheme]="'light'"
            [nzMode]="'inline'"
            [nzInlineCollapsed]="isCollapsed"
          >
            <li nz-submenu >
              <span title
                ><i
                  ><img
                    style="padding-right: 10px"
                    src="/assets/images/menu-Vector.png"
                    alt="" /></i
                ><span class="nav-text">Объявления</span
                ><span style="padding-left: 115px">12</span>
                </span
              >
              <ul>
                <li routerLink="advert" nzSelected nz-menu-item>Активные</li>
                <li nz-menu-item>Ожидающие</li>
                <li nz-menu-item>Архивные</li>
                <li nz-menu-item>Отклоненные</li>
              </ul>
            </li>
            <li nz-submenu style="padding-top: 5px">
              <span title
                ><i>
                  <img
                    style="padding-right: 10px"
                    src="../../../../assets/images/menu-message.png"
                    alt=""
                  /> </i
                ><span class="nav-text">Сообщения</span
                ><span style="padding-left: 115px">12</span></span
              >
              <ul>
                <li routerLink="messages/messages1" nz-menu-item>
                  Непрочитанные
                </li>
                <li routerLink="messages/messages2" nz-menu-item>Исходящие</li>
                <li nz-menu-item>Входящие</li>
                <li nz-menu-item>Сохранённые</li>
                <li nz-menu-item>Архивные</li>
              </ul>
            </li>
            <li nz-submenu style="padding-top: 5px">
              <span title
                ><i
                  ><img
                    style="padding-right: 10px"
                    src="../../../../assets/images/menu-heart.png"
                    alt="" /></i
                ><span class="nav-text">Избранное</span
                ><span style="padding-left: 115px">12</span>
              </span>
              <ul>
                <li nz-menu-item routerLink="favourites/favourite-advert">
                  Объявления
                </li>
                <li nz-menu-item routerLink="favourites/sellers">Продавцы</li>
                <li nz-menu-item routerLink="favourites/filter-options">
                  Параметры фильтров
                </li>
              </ul>
            </li>
            <li
              nz-menu-item
              
              style="padding-top: 5px; padding-bottom: 10px"
              routerLink="support"
            >
              <span>
                <i nz-icon>
                  <img
                    style="padding-right: 10px"
                    src="/assets/images/menu-help.png"
                    alt=""
                  /> </i
              ></span>
              Чат с поддержкой
            </li>
          </ul>
        </div>
      </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="17" nzLg="18" nzXl="18">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</div>
