.personal {
    &__text {
        padding-left: 20px;
       p {
           font-size: 22px;
           line-height: 24px;
       } 
    }

    a {
        line-height: 0;
        height: auto;
    }
}

