<!-- <div nz-row nzAlign="middle" class="personal__avatar" [nzGutter]="[5, 10]">

  <div nz-col nzXs="14" nzSm="12" nzMd="10" nzLg="6" nzXl="4">
    <nz-avatar
      style="width: 90%; height: 90%"
      nz-col
      nzIcon="user"
      nzSrc="../../../../../../../assets/images/agro-id-images/default-avatar.svg"
    ></nz-avatar>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="13" nzXl="14">
    <p nz-typography class="personal__text">
      Персонализируйте свою учетную запись с помощью фотографии. Фотография
      профиля будет отображаться в приложениях и устройствах, использующих вашу
      учетную запись AgroID.
    </p>
    <button nz-button nzType="default" class="font-agro-medium" nzSize="large">
      Добавить фотографию
    </button>
  </div>
  <div
    nz-col
    nzXs="0"
    nzSm="0"
    nzMd="0"
    nzLg="0"
    nzXl="6"
    style="text-align: end"
  ></div>
  <div
    nz-col
    nzXs="0"
    nzSm="0"
    nzMd="0"
    nzLg="5"
    nzXl="0"
    style="text-align: end"
  ></div>
</div>

<nz-divider style="margin-bottom: 5px"></nz-divider>
<div nz-row nzAlign="middle">
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="6" nzXl="4">
    <span nz-typography nzType="secondary" class="personal__label">Имя</span>
  </div>
  <div nz-col nzXs="20" nzSm="20" nzMd="20" nzLg="13" nzXl="14">
    <span nz-typography class="personal__info"
      >{{ userSurname }} {{ userName }}</span
    >
  </div>
  <div
    nz-col
    nzXs="0"
    nzSm="0"
    nzMd="0"
    nzLg="0"
    nzXl="6"
    style="text-align: end"
  >
    <a nz-button nzType="link" class="text-size-16" (click)="showUserModal()"
      >Изменить имя</a
    >
  </div>
  <div
    nz-col
    nzXs="4"
    nzSm="4"
    nzMd="4"
    nzLg="5"
    nzXl="0"
    style="text-align: end"
  >
    <a nz-button nzType="link" class="text-size-16" (click)="showUserModal()"
      ><i nz-icon nzType="edit"></i
    ></a>
  </div>
</div>

<nz-divider style="margin-top: 5px"></nz-divider>

<h2 nz-typography style="margin-top: 3vw" class="personal__subtitle">
  Сведения об учетной записи
</h2>

<nz-divider style="margin-bottom: 5px"></nz-divider>

<div nz-row nzAlign="middle">
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="6" nzXl="4">
    <span nz-typography nzType="secondary" class="personal__label">Email</span>
  </div>
  <div nz-col nzXs="20" nzSm="20" nzMd="20" nzLg="13" nzXl="14">
    <span nz-typography class="personal__info">{{
      userEmail ? userEmail : "Нет"
    }}</span>
  </div>
  <div
    nz-col
    nzXs="0"
    nzSm="0"
    nzMd="0"
    nzLg="0"
    nzXl="6"
    style="text-align: end"
  >
    <a nz-button nzType="link" class="text-size-16" (click)="showModal({title: 'Email', isVisibleModal: true, text: 'Введите ваш новый электронный адрес На него будет отправлен код подтверждения', data: userEmail})"
      >{{ userEmail === null ? "Добавить Email" : "Изменить Email" }}
    </a>
  </div>
  <div
    nz-col
    nzXs="4"
    nzSm="4"
    nzMd="4"
    nzLg="5"
    nzXl="0"
    style="text-align: end"
  >
    <a nz-button nzType="link" class="text-size-16" (click)="showModal({title: 'Email', isVisibleModal: true, text: 'Введите ваш новый электронный адрес На него будет отправлен код подтверждения', data: userEmail})"
      ><i nz-icon nzType="edit"></i
    ></a>
  </div>
</div>

<nz-divider style="margin-top: 5px; margin-bottom: 5px"></nz-divider>

<div nz-row nzAlign="middle">
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="6" nzXl="4">
    <span nz-typography nzType="secondary" class="personal__label"
      >Телефон</span
    >
  </div>
  <div nz-col nzXs="20" nzSm="20" nzMd="20" nzLg="13" nzXl="14">
    <span nz-typography class="personal__info">{{
      phone ? phone : "Нет"
    }}</span>
  </div>
  <div
    nz-col
    nzXs="0"
    nzSm="0"
    nzMd="0"
    nzLg="0"
    nzXl="6"
    style="text-align: end"
  >
    <a nz-button nzType="link" class="text-size-16" (click)="showModal({title: 'номер телефона', isVisibleModal: true, text: 'Введите ваш новый номер телефона. На него будет отправлен код подтверждения', data: phone})"
      >{{
        phone === '' ? "Добавить номер телефона" : "Изменить номер телефона"
      }}
    </a>
  </div>
  <div
    nz-col
    nzXs="4"
    nzSm="4"
    nzMd="4"
    nzLg="5"
    nzXl="0"
    style="text-align: end"
  >
    <a nz-button nzType="link" class="text-size-16" (click)="showModal({title: 'номер телефона', isVisibleModal: true, text: 'Введите ваш новый номер телефона. На него будет отправлен код подтверждения', data: phone})"
      ><i nz-icon nzType="edit"></i
    ></a>
  </div>
</div>
<nz-divider style="margin-top: 5px"></nz-divider>


<user-name-modal
  (handleClose)="isVisibleUserModal = false"
  [isVisible]="isVisibleUserModal"
></user-name-modal>

<user-info-modal [config]="data" *ngIf="data && data.isVisibleModal"></user-info-modal> -->

<!-- <div nz-row class="personal">
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="16">
    <div nz-row style="padding: 5px 0;">
      <div nz-col nzXs="1" nzSm="1" nzMd="1" nzLg="1" nzXl="1"></div>
      <div nz-col nzXs="11" nzSm="11" nzMd="11" nzLg="11" nzXl="11"><span>ID 562874</span></div>
      <div nz-col nzXs="11" nzSm="11" nzMd="11" nzLg="11" nzXl="11" class="text-end">
        <i nz-icon nzType="logout" nzTheme="outline"></i
        ><span style="margin-left: 5px">Выход</span>
      </div>
      <div nz-col nzXs="1" nzSm="1" nzMd="1" nzLg="1" nzXl="1"></div>
    </div>
    <div nz-row class="personal__content">
      <div nz-col nzXs="1" nzSm="1" nzMd="1" nzLg="1" nzXl="1"></div>
      <div
        nz-col
        nzXs="22"
        nzSm="22"
        nzMd="22"
        nzLg="22"
        nzXl="22"
        nzFlex="auto"
        class="personal__content-padding"
      >
        <div class="personal__info">
          <div nz-row>
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="16">
              <div nz-row>
                <div nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="0" nzXl="24"><h3 class="personal__info-title" nz-typography>Ваш профиль</h3></div>
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="0" class="text-center"><h3 class="personal__info-title" nz-typography>Ваш профиль</h3></div>
              </div>              
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="8">
              <div nz-row>
                <div nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="0" nzXl="24" class="text-end"><span class="personal__info-status">Ваш профиль заполнен на: 50%</span></div>
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="0" class="text-center"><span class="personal__info-status">Ваш профиль заполнен на: 50%</span></div>
              </div>              
            </div>
          </div>


          <div nz-row [nzGutter]="[20, 15]" nzAlign="middle">
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="7" nzXl="8">
              <div nz-row>
                <div nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="0" nzXl="24"><div class="avatar"><img src="../../../../../../../assets/images/agro-id-images/avatar.jpg" alt=""></div></div>
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="0" class="text-center"><div class="avatar"><img src="../../../../../../../assets/images/agro-id-images/avatar.jpg" alt=""></div></div>
              </div>

              
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="17" nzXl="16">
              <div nz-row nzAlign="middle">
                <div nz-col nzXs="18" nzSm="18" nzMd="18" nzLg="18" nzXl="18">
                  <div nz-row>
                    <div nz-col nzSpan="24"><span nz-typography nzType="secondary">Полное имя</span></div>
                    <div nz-col nzSpan="24"><i style="color: #22A33F; margin-right: 5px;" nz-icon nzType="check-circle" nzTheme="fill"></i><span class="personal__info-value">Нарбеков Артур</span></div>
                  </div>
                </div>
                <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6" class="text-end"><a nz-button nzType="link"><i nz-icon nzType="edit" nzTheme="twotone"></i></a></div>
              </div>
              <nz-divider class="info-divider"></nz-divider>
              <div nz-row nzAlign="middle">
                <div nz-col nzXs="18" nzSm="18" nzMd="18" nzLg="18" nzXl="18">
                  <div nz-row>
                    <div nz-col nzSpan="24"><span nz-typography nzType="secondary">Адрес электронной почты</span></div>
                    <div nz-col nzSpan="24"><i style="margin-right: 5px; color: grey;" nz-icon nzType="question-circle" nzTheme="outline"></i><span class="personal__info-value">Нет данных</span></div>
                  </div>
                </div>
                <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6" class="text-end"><a nz-button nzType="link"><i nz-icon nzType="edit" nzTheme="twotone"></i></a></div>
              </div>
              <nz-divider class="info-divider"></nz-divider>
              <div nz-row nzAlign="middle">
                <div nz-col nzXs="18" nzSm="18" nzMd="18" nzLg="18" nzXl="18">
                  <div nz-row>
                    <div nz-col nzSpan="24"><span nz-typography nzType="secondary">Номер телефона</span></div>
                    <div nz-col nzSpan="24"><i style="color: #22A33F; margin-right: 5px;" nz-icon nzType="check-circle" nzTheme="fill"></i><span class="personal__info-value">+998 90 326 20 13</span></div>
                  </div>
                </div>
                <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6" class="text-end"><a nz-button nzType="link"><i nz-icon nzType="edit" nzTheme="twotone"></i></a></div>
              </div>
              <nz-divider class="info-divider"></nz-divider>
            </div>
          </div>
        </div>
        
        <div class="personal__business">
          <nz-space nzDirection="vertical">
            <h3 nz-typography *nzSpaceItem nzType="danger" style="margin-top: 15px;">Ваши данные используются в следующих визитках</h3>

            <div *nzSpaceItem nz-row  [nzGutter]="[20, 20]">
            <div *ngFor="let user of userInfo" nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12" style="height: 150px; margin-bottom: 20px;">
              <div class="personal__card">
                <div nz-row  nzGutter="8">
                  <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6">
                    <div  class="personal__card-avatar">
                      <img src={{user.avatar}} alt="avatar">
                    </div>                    
                  </div>
                  <div nz-col nzXs="16" nzSm="16" nzMd="16" nzLg="16" nzXl="16" >
                    <p nz-typography><i nz-icon nzType="user" nzTheme="outline" style="margin-right: 5px;"></i>{{user.lastName}} {{user.firstName}}</p>
                    <p nz-typography><i nz-icon nzType="mail" nzTheme="outline" style="margin-right: 5px;"></i>{{user.mail !== null ? user.mail : '---'}}</p>
                    <p nz-typography><i nz-icon nzType="phone" nzTheme="outline"></i>{{user.phone !== null ? '+' + user.phone : '---'}}</p>
                  </div>
                  <div nz-col nzXs="2" nzSm="2" nzMd="2" nzLg="2" nzXl="2"> 
                    <div class="personal__card-icons">
                      <div>
                        <a nz-button nzType="link" nzSize="large"><i nz-icon [nzType]="user.main ? 'star' : 'edit' " nzTheme="outline"></i></a>
                      </div>
                      <div>
                        <a nz-button nzType="link" nzDanger nzSize="large"><i nz-icon nzType="delete" nzTheme="outline"></i></a>
                      </div>
                    </div>                      
                   </div>
                </div>
              </div>              
            </div>

            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12" class="button-add-card">
              <div class="personal__card" style="padding:0;">
                <button nzBlock nz-button nzType="default"><i nz-icon nzType="plus" nzTheme="outline" style="font-size: 45px;"></i></button>
              </div>
            </div>
          </div>
        </nz-space>
        </div>
      </div>
      <div nz-col nzXs="1" nzSm="1" nzMd="1" nzLg="1" nzXl="1"></div>
    </div>
  </div>
  <div nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="0" nzXl="8">
    <div></div>
    <div nz-row style="padding-top: 32px;">
      <div nz-col nzSpan="1"></div>
      <div nz-col nzSpan="21" class="card">
        <div class="card__news">
          <div nz-row>
            <div nz-col nzSpan="10"><nz-tag>Наука</nz-tag></div>
            <div nz-col nzSpan="4" nz-typography nzType="secondary"><i nz-icon nzType="heart" nzTheme="outline" style="margin-right: 8px;"></i><span>27</span></div>
            <div nz-col nzSpan="4" nz-typography nzType="secondary"><i nz-icon nzType="eye" nzTheme="outline" style="margin-right: 8px;"></i><span>27</span></div>
            <div nz-col nzSpan="6" nz-typography nzType="secondary"><i nz-icon nzType="calendar" nzTheme="outline" style="margin-right: 8px;"></i><span>22.02.2022</span></div>
          </div>
          <div class="card__news-text">
            <h4>Система будет постоянно развиваться и дополняться. </h4>
            <p>Использование площадки — это экономия вашего времени, оптимизация затрат и повышение эффективности.</p>
          </div>
          <div class="card__news-img">
            <img src="../../../../../../../assets/images/agro-id-images/news-card.jpg" alt="news-card image">
          </div>
        </div>
        <div class="card__widget">
          <div nz-row>
            <div nz-col nzSpan="12" class="card__widget-title">Погода</div>
            <div nz-col nzSpan="12" class="text-end">
              Selector
            </div>
          </div>
          <p nz-typography class="card__widget-today">Сегодня, 10 февраля</p>
          <div nz-row nzGutter="16" nzAlign="middle" class="card__widget-today_weather">
            <div nz-col><img src="../../../../../../../assets/images/agro-id-images/white-balance-sunny.svg" alt="sunny"></div>
            <div nz-col><span>+13°</span></div>
            <div nz-col style="font-size: 36px;" ><span nz-typography nzType="secondary">+2°</span></div>
          </div>
          <nz-divider></nz-divider>
          <div nz-row>
            <div nz-col nzSpan="12">
              <p nz-typography nzType="secondary" style="margin: 0;">Влажность: 26%</p>
              <p nz-typography nzType="secondary" style="margin: 0;">Ветер: ВСВ 2,9с</p>
              <p nz-typography nzType="secondary" style="margin: 0;">Давление: 768 мм рт.ст</p>
            </div>
            <div nz-col nzSpan="12">
              <p nz-typography nzType="secondary" style="margin: 0;">Луна: Молодая Луна</p>
              <p nz-typography nzType="secondary" style="margin: 0;">Восход: 07:24</p>
              <p nz-typography nzType="secondary" style="margin: 0;">Закат: 17:49</p>
            </div>
          </div>
          <nz-divider></nz-divider>
          <div nz-row class="card__widget-timeInterval text-center">
            <div nz-col nzSpan="3">
              <span nz-typography class="interval">Утром</span>
              <div nz-col><img width="40" height="40" src="../../../../../../../assets/images/agro-id-images/white-balance-sunny.svg" alt="sunny"></div>
              <span>+7°</span>
            </div>
            <div nz-col nzSpan="3"></div>
            <div nz-col nzSpan="3">
              <span nz-typography class="interval">Днём</span>
              <div nz-col><img width="40" height="40" src="../../../../../../../assets/images/agro-id-images/white-balance-sunny.svg" alt="sunny"></div>
              <span>+13°</span>
            </div>
            <div nz-col nzSpan="3"></div>
            <div nz-col nzSpan="4">
              <span nz-typography class="interval">Вечером</span>
              <div nz-col><img width="40" height="40" src="../../../../../../../assets/images/agro-id-images/white-balance-sunny.svg" alt="sunny"></div>
              <span>+3°</span>
            </div>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="2"></div>
    </div>
  </div>
</div>
 -->

<div nz-row>
  <div nz-col nzSpan="20" nzOffset="2" class="personal">
    <h2 class="cabinet-title" nz-typography>Профиль</h2>
    <div nz-row class="personal__block">
      <div nz-col nzSpan="22" nzOffset="1">
        <div nz-row [nzGutter]="[5, 20]">
          <div nz-col nzSpan="24">
            <div nz-row nzAlign="middle" [nzGutter]="[10,10]" nzJustify="center">
              <div nz-col nzXs="14" nzSm="6" nzMd="6" nzLg="5" nzXl="5" nzXXl="4">
                <div nz-row>
                  <div nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="0" nzXl="24">
                    <nz-avatar [nzSize]="140" nzIcon="user"></nz-avatar>
                  </div>
                  <div nz-col nzXs="0" nzSm="24" nzMd="24" nzLg="24" nzXl="0">
                    <nz-avatar [nzSize]="100" nzIcon="user"></nz-avatar>
                  </div>
                  <div nz-col nzXs="24" nzSm="0" nzMd="0" nzLg="0" nzXl="0" style="text-align: center;">
                    <nz-avatar [nzSize]="110" nzIcon="user"></nz-avatar>
                    <button nz-button nzType="primary" nzShape="circle" class="avatar-add-photo"><i nz-icon nzType="camera" nzTheme="outline"></i></button>
                    
                  </div>
                </div>
              </div>
              <div nz-col nzXs="24" nzSm="24" nzMd="18" nzLg="19" nzXl="19" nzXXl="20">
                <div nz-row>
                  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="20" nzXl="16" nzXXl="12">
                    <p class="avatar-desc">
                      Персонализируйте свою учетную запись с помощью фотографии.
                    </p>
                    <p class="avatar-desc">
                      Фотография профиля будет отображаться в приложениях и
                      устройствах, использующих вашу учетную запись AgroID.
                    </p>
                    <div nz-row>
                      <div nz-col nzXs="0" nzSm="0" nzMd="24" nzLg="24" nzXl="24" nzXXl="24">
                        <button nz-button nzType="default" nzShape="round" class="font-agro-medium" style="border-color: #3C4BDC;" (click)="showModal('avatar')">Добавить фотографию</button>
                      </div>
                      <div nz-col nzXs="0" nzSm="24" nzMd="0" nzLg="0" nzXl="0" nzXXl="0">
                        <button nz-button nzBlock nzType="default" nzShape="round" nzSize="large" class="font-agro-medium" style="border-color: #3C4BDC; font-size: 12px;">Добавить фотографию</button>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div nz-col nzSpan="24">
            <nz-divider class="divider-margin"></nz-divider>
            <div nz-row nzAlign="middle">
              <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="6" nzXl="4" nzXXl="4"><span nz-typography nzType="secondary" class="font-agro-medium ">Полное имя</span></div>
              <div nz-col nzXs="12" nzSm="12" nzMd="8" nzLg="6" nzXl="12" nzXXl="12"><span nz-typography>Мун Тимур</span></div>
              <div nz-col nzXs="12" nzSm="12" nzMd="8" nzLg="12" nzXl="8" nzXXl="8" >
                <div nz-row>
                  <div nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="24" nzXl="24" nzXXl="24" class="text-end"><button nz-button nzType="link" (click)="showModal('username')">Изменить имя</button></div>
                  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="0" nzXl="0" nzXXl="0" class="text-end"><button nz-button nzType="link" (click)="showModal('username')"><i nz-icon nzType="edit" nzTheme="outline"></i></button></div>
                </div>
              </div>
            </div>
            <nz-divider class="divider-margin"></nz-divider>
          </div>
          <div nz-col nzSpan="24">
            <h3 nz-typography class="font-agro-medium">Сведения об учетной записи</h3>
            <nz-divider class="divider-margin"></nz-divider>
            <div nz-row nzAlign="middle">
              <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="6" nzXl="4" nzXXl="4"><span nz-typography nzType="secondary" class="font-agro-medium">Адрес электронной почты</span></div>
              <div nz-col nzXs="16" nzSm="12" nzMd="8" nzLg="6" nzXl="12" nzXXl="12"><span nz-typography>shisudesign@outlook.com</span></div>
              <div nz-col nzXs="8" nzSm="12" nzMd="8" nzLg="12" nzXl="8" nzXXl="8" >
                <div nz-row>
                  <div nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="24" nzXl="24" nzXXl="24" class="text-end"><button nz-button nzType="link" (click)="showModal('email')" >{{userInfo.email ? 'Изменить' : 'Добавить'}} адрес электронной почты</button></div>
                  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="0" nzXl="0" nzXXl="0" class="text-end"><button nz-button nzType="link" (click)="showModal('email')" ><i nz-icon nzType="edit" nzTheme="outline"></i></button></div>
                </div>
              </div>
            </div>
            <nz-divider class="divider-margin"></nz-divider>
            <div nz-row nzAlign="middle">
              <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="6" nzXl="4" nzXXl="4"><span nz-typography nzType="secondary" class="font-agro-medium">Номер телефона</span></div>
              <div nz-col nzXs="12" nzSm="12" nzMd="8" nzLg="6" nzXl="12" nzXXl="12"><span nz-typography>Нет</span></div>
              <div nz-col nzXs="12" nzSm="12" nzMd="8" nzLg="12" nzXl="8" nzXXl="8" >
                <div nz-row>
                  <div nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="24" nzXl="24" nzXXl="24" class="text-end"><button nz-button nzType="link" (click)="showModal('phone')" >Добавить номер телефона</button></div>
                  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="0" nzXl="0" nzXXl="0" class="text-end"><button nz-button nzType="link" (click)="showModal('phone')"><i nz-icon nzType="edit" nzTheme="outline"></i></button></div>
                </div>
              </div>
            </div>
            <nz-divider class="divider-margin"></nz-divider>
          </div>
          <div nz-col nzSpan="24">
            <h3 nz-typography>Данные авторизации</h3>
            <nz-divider class="divider-margin"></nz-divider>
            <div nz-row nzAlign="middle">
              <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="6" nzXl="4" nzXXl="4"><span nz-typography nzType="secondary" class="font-agro-medium">Логин</span></div>
              <div nz-col nzXs="12" nzSm="12" nzMd="8" nzLg="6" nzXl="12" nzXXl="12"><span nz-typography>shisudesign</span></div>
              <div nz-col nzXs="12" nzSm="12" nzMd="8" nzLg="12" nzXl="8" nzXXl="8" >
                <div nz-row>
                  <div nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="24" nzXl="24" nzXXl="24" class="text-end"><button nz-button nzType="link" (click)="showModal('login')">Изменить логин</button></div>
                  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="0" nzXl="0" nzXXl="0" class="text-end"><button nz-button nzType="link" (click)="showModal('login')"><i nz-icon nzType="edit" nzTheme="outline"></i></button></div>
                </div>
              </div>
            </div>
            <nz-divider class="divider-margin"></nz-divider>
            <div nz-row nzAlign="middle">
              <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="6" nzXl="4" nzXXl="4"><span nz-typography nzType="secondary" class="font-agro-medium">Пароль</span></div>
              <div nz-col nzXs="12" nzSm="12" nzMd="8" nzLg="6" nzXl="12" nzXXl="12"><span nz-typography>************</span></div>
              <div nz-col nzXs="12" nzSm="12" nzMd="8" nzLg="12" nzXl="8" nzXXl="8" >
                <div nz-row>
                  <div nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="24" nzXl="24" nzXXl="24" class="text-end"><button nz-button nzType="link" (click)="showModal('password')">Изменить пароль</button></div>
                  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="0" nzXl="0" nzXXl="0" class="text-end"><button nz-button nzType="link" (click)="showModal('password')"><i nz-icon nzType="edit" nzTheme="outline"></i></button></div>
                </div>
              </div>
            </div>
            <nz-divider class="divider-margin"></nz-divider>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<user-name-modal [isVisible]="userNameModalVisible" (handleClose)="handleUserNameVisible($event)" [inputValues]="userInfo"></user-name-modal>
<az-user-email-modal [emailValue]="userInfo" (handleVisible)="handleUserEmailVisible($event)" [isVisible]="userEmailModalVisible" ></az-user-email-modal>
<az-user-phone-modal [phoneValue]="userInfo" [isVisible]="userPhoneModalVisible" (handleVisible)="handleUserPhoneVisible($event)"></az-user-phone-modal>
<az-user-login-modal [isVisible]="userLoginModalVisible" (handleVisible)="handleUserLoginVisible($event)" [loginValue]="userInfo"></az-user-login-modal>
<az-user-password-modal [isVisible]="userPasswordModalVisible" (handleClose)="handleUserPasswordVisible($event)"></az-user-password-modal>
<az-success-changes></az-success-changes>

<az-add-avatar [isVisible]="userAvatarModalVisible" (handleClose)="handleUserAvatarVisible($event)"></az-add-avatar>